/* Main styles */
.content {
    padding-left: 20px;
    padding-right: 20px;
}

    .content-header {
        font-size: 230%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .content-description {
        font-size: 130%;
        text-align: center;
        max-width: 90%;
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .content-description-left {
        text-align: left;
    }

    @media only screen and (max-width : 570px) {
        .content {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

.footer {
    padding: 50px 20px 100px;
    margin-top: 200px;
}

    .footer-right {
        text-align: right;
    }

    .footer-logout {
        display: block;
        margin-top: 20px;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        text-decoration: underline;
        cursor: pointer;
        color: var(--link-color);
        transition: color linear .1s;
    }

        .footer-logout i {
            display: inline-block;
            vertical-align: middle;
        }

.error, .message, .access-denied {
    display: block;
    max-width: 600px;
    margin: 50px auto 50px;
    padding: 40px;
    font-size: 120%;
}

    .error h1, .message h1, .access-denied h1 {
        display: block;
        font-size: 230%;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .error h2, .message h2, .access-denied h2 {
        display: block;
        font-size: 150%;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .message-center {
        text-align: center;
    }

.paginator {
    display: block;
    clear: both;
    font-size: 24px;
    margin: 50px auto 100px;
    overflow: hidden;
    text-align: center;
}

    .paginator-page {
        display: inline-block;
        min-width: 30px;
        width: auto;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: var(--text-color);
        text-decoration: none;
        margin-right: 10px;
        padding: 10px;
    }

        .paginator-page-active {
            background-color: var(--opposite-bg-color);
            color: var(--opposite-text-color);
        }

.doc {
    font-size: 130%;
}

    .doc h1,
    .doc h2,
    .doc h3 {
        margin-top: 80px;
    }

    .doc h1 a,
    .doc h2 a,
    .doc h3 a {
        text-decoration: none;
    }

    .doc h1 {
        font-size: 230%;
    }

    .doc h2 {
        font-size: 180%;
    }

    .doc li {
        margin-bottom: 10px;
    }

    .doc .rules {
    }

        .doc .rules li {
            padding-top: 20px;
        }

.user {
    text-decoration: none;
}

    .user a {
        text-decoration: none;
    }

    .user-tiny {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-small {
    }

        .user-small .avatar {
            width: 42px;
            height: 42px;
        }

        .user-small .user-info {
            font-size: 110%;
            max-width: 100%;
            overflow: hidden;
        }

            .user-small .user-name {
                font-weight: 500;
            }

            .user-small .user-position {
                opacity: 0.7;
            }

        .user-small .user-footer {
            font-size: 90%;
            opacity: 0.7;
        }

        .user-small .hat {
            margin-left: 5px;
        }

    .user-name-is-banned {
        text-decoration: line-through;
    }

.hat {
    display: inline-block;
    vertical-align: middle;
    background-color: #000000;
    height: 1.7em;
    overflow: hidden;
    font-size: 87%;
    border-radius: 5px;
    padding: 0 0.5em;
}

    .hat > * {
        display: inline-block;
        vertical-align: middle;
    }

    .hat-icon {
        line-height: 1em;
        color: #FFFFFF;
    }

    .hat-icon img {
        object-fit: cover;
    }

    .hat-title {
        color: #FFFFFF;
        font-weight: 500;
        line-height: 1.6em;
    }


.label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    background-color: #000000;
    height: 1.6em;
    line-height: 1.5em;
    overflow: hidden;
    font-size: 75%;
    border-radius: 5px;
}

    .label-type-draft {
        font-size: 120%;
        background-color: var(--opposite-block-bg-color);
    }

        .label-type-draft .label-title {
            color: var(--opposite-text-color);
        }

    .label-type-deleted {
        background-color: var(--opposite-block-bg-color);
    }

        .label-type-deleted .label-title {
            color: #F00;
        }

    .label-title {
        display: inline-block;
        color: #FFFFFF;
        font-weight: normal;
        padding: 0 0.6em 0;
        font-size: 90%;
    }

.upvote {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 30px 17px 7px;
    font-size: 140%;
    font-weight: 600;
    font-family: var(--sans-font);
    background-color: var(--bg-color);
    color: var(--text-color);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
}

    .upvote:hover {
        background-color: var(--opposite-bg-color);
        color: var(--opposite-text-color);
    }

    .upvote::before {
        content: "▲";
        position: absolute;
        font-size: 18px;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .upvote-voted {
        background-color: var(--opposite-bg-color);
        color: var(--opposite-text-color);
    }

        .upvote-voted:hover {
            color: var(--opposite-text-color);
        }

    .upvote-disabled {
        padding-top: 18px;
        padding-bottom: 18px;
        pointer-events: none;
        cursor: none;
    }

    .upvote-disabled::before {
        display: none;
    }

    .upvote-type-small {
        padding: 7px 10px 6px 25px;
        font-size: 120%;
        font-weight: 600;
        border: none;
    }

        .upvote-type-small::before {
            content: "+";
            position: absolute;
            top: 2px;
            left: 17px;
            font-size: 130%;
        }

        .upvote-type-small.upvote-disabled {
            padding-left: 17px;
            padding-right: 17px;
        }

    .upvote-type-inline {
        padding: 3px 9px 4px 20px;
        font-size: 100%;
        font-weight: 600;
        border: none;
        position: relative;
        top: -2px;
    }

        .upvote-type-inline::before {
            content: "+";
            position: absolute;
            top: 2px;
            left: 13px;
            font-size: 110%;
        }

        .upvote-type-inline.upvote-disabled {
            padding-left: 14px;
            padding-right: 14px;
        }

    @media only screen and (max-width : 570px) {
        .upvote {
            padding: 18px 11px 5px;
            font-size: 16px;
        }

        .upvote::before {
            font-size: 10px;
        }

        .post-comments .upvote {
            padding: 4px 7px;
            font-size: 14px;
        }

        .post-comments .upvote::before {
            font-size: 110%;
            position: relative;
            top: 0;
            left: 0;
        }

        .upvote-disabled {
            padding-top: 11px;
            padding-bottom: 10px;
            cursor: none;
        }

        .upvote-type-inline {
            padding: 7px;
        }

        .upvote-type-inline::before {
            position: relative;
            top: 0;
            left: 0;
            bottom: 0;
            content: "+";
            font-size: 110%;
        }
    }

.achievements {

}

    .achievements-header {
        text-align: center;
        font-size: 250%;
        font-weight: 700;
    }

    .achievements-description {
        max-width: 700px;
        font-size: 120%;
        margin: 30px auto;

    }

.search {
    padding: 30px 20px 0;
}

.search-filters {
    padding: 0 20px 40px;
}

    @media only screen and (max-width : 570px) {
        .search-filters {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .search-query {
        padding: 0 0 40px;
        box-sizing: border-box;
    }

        .search-query-input {
            width: 100%;
            font-size: 130%;
        }

    .search-filters-types {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

        .search-filters-type {
            display: block;
            font-size: 140%;
            padding: 10px 20px;
            margin-bottom: 10px;
            text-decoration: none;
        }

            .search-filters-type-selected {
                background-color: var(--opposite-bg-color);
                color: var(--opposite-text-color);
            }

        .search-filters-ordering {
            margin-left: auto;
        }

        @media only screen and (max-width : 570px) {
            .search-filters-types {
                font-size: 90%;
            }

                .search-filters-type {
                    padding: 5px 10px;
                }

                .search-filters-ordering {
                    margin-left: 0;
                }
        }

.search-results {
}

    .search-results .profile-card {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-results-title {
        font-size: 200%;
        font-weight: 600;
        text-align: center;
        padding-bottom: 40px;
    }

    .search-results-placeholder {
        text-align: center;
        padding: 100px 0;
        font-size: 160%;
        opacity: 0.6;
    }

.feed {
    padding: 10px 20px 50px;
}

    @media only screen and (max-width : 1024px) {
        .feed {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .feed-sidebar {
        padding-top: 30px;
        padding-right: 30px;
        font-size: 110%;
    }
        @media only screen and (max-width : 570px) {
            .feed-sidebar {
                transform: translate(-100%);
                position: absolute;
                top: 90px;
                left: 0;
                right: 0;
                background: var(--bg-color);
                z-index: 2;
                min-height: calc(100% - 120px);
                padding: 30px 14px;
            }

            .mobile-menu-opened .feed-sidebar {
                transform: translate(0);
            }
        }

        .feed-sidebar-toggle-wrapper {
            display: none;
        }

        .feed-sidebar-toggler {
            width: 40px;
            height: 40px;
            line-height: 35px;
            text-align: center;
            padding: 0;
            outline: none;
            border-radius: 50%;
            border: 2px solid var(--opposite-bg-color);
            background-color: var(--block-bg-color);
            box-shadow: 10px 15px 40px rgba(83, 91, 110, 0.3);
            color: var(--text-color);
        }

        @media only screen and (max-width : 570px) {
            .feed-sidebar-toggle-wrapper {
                display: block;
            }

            .feed-sidebar-toggler {
                display: inline-block;
                position: fixed;
                left: 20px;
                bottom: 20px;
                font-size: 35px;
                z-index: 5;
            }

            .mobile-menu-opened .feed-sidebar-toggler {
                left: auto;
                right: 10px
            }
        }


        .feed-sidebar-block {
            padding-bottom: 20px;
        }

        .feed-sidebar-header {
            font-size: 110%;
            font-weight: 600;
        }

        @media only screen and (max-width : 570px) {
            .feed-sidebar-header {
                padding: 5px 10px;
            }
        }

        .feed-sidebar-list {
            list-style: none;
            padding: 0;
        }

            .feed-sidebar-list li {
                padding-bottom: 15px;
                margin-bottom: 0;
            }

        .feed-sidebar-menu {
            font-size: 110%;
            font-weight: 500;
        }

            .feed-sidebar-menu a {
                display: block;
                text-decoration: none;
                padding: 5px 10px;
            }

            .feed-sidebar-menu a:hover,
            .feed-sidebar-menu-selected {
                color: var(--opposite-text-color);
                background-color: var(--opposite-bg-color);
            }

            .feed-sidebar-menu-small {
                font-size: 90%;
            }

                .feed-sidebar-menu-small li {
                    padding-bottom: 5px;
                }

        .feed-sidebar-topics {
            max-width: 100%;
        }

    .feed-main {
    }

    .feed-main-closed {
        display: none;
    }

        .feed-topic-header {
            padding: 30px;
            box-sizing: border-box;
            color: #FFF;
            font-size: 110%;
            margin-bottom: 40px;
        }

            .feed-topic-header a {
                color: #FFF;
            }

        .feed-topic-header-name {
            margin: 0;
            padding-top: 10px;
            padding-bottom: 20px;
        }

        .feed-topic-header-icon {
            width: 64px;
            height: 64px;
            border-width: 4px;
            float: left;
            margin-right: 15px;
            position: relative;
        }

        .feed-topic-header-desctiption {
            display: block;
        }

        .feed-topic-header-footer {
            display: block;
            padding-top: 20px;
            font-size: 115%;
        }

        .feed-ordering {
            display: flex;
            align-content: flex-start;
            justify-content: flex-end;
            font-size: 100%;
            padding: 0 10px 10px;
            width: 100%;
            box-sizing: border-box;
        }

            @media only screen and (max-width : 570px) {
                .feed-ordering {
                    justify-content: space-around;
                }
            }

            .feed-ordering-item {
                padding: 10px;
                text-decoration: none;
                opacity: 0.5;
            }

                select.feed-ordering-item {
                    padding: 5px;
                    margin: 5px 0 5px 0;
                    opacity: 1;
                }

                .feed-ordering-item:hover {
                    opacity: 0.8;
                }

                .feed-ordering-item-is-active {
                    font-weight: 700;
                    opacity: 1.0;
                }

.intro {
    padding-top: 50px;
    font-size: 110%;
}

    .intro .form-title {
        font-size: 300%;
    }

    .intro-form {
        padding-top: 40px;
        text-align: center;
    }

        .form-row #id_slug {
            max-width: 220px;
            font-weight: 500;
        }

        .form-row #id_full_name {
            max-width: 430px;
            font-weight: 500;
        }

        .form-row #id_email {
            max-width: 350px;
            font-weight: 500;
        }

        .form-row #id_avatar {
            max-width: 350px;
        }

        .form-row #id_bio {
            width: 80%;
            height: 180px;
            min-height: auto;
        }

        .form-row #id_contact {
            width: 80%;
        }

        .form-row #id_country,
        .form-row #id_city {
            display: inline-block;
            width: 35%;
            min-width: 150px;
        }

        .intro-form textarea,
        .intro-form .CodeMirror {
            text-align: left;
            min-height: 700px;
            transform: scale(1);
        }

        .form-row #id_company {
            max-width: 400px;
            font-weight: 500;
        }

        .form-row #id_position {
            max-width: 500px;
            font-weight: 500;
        }

        .intro-form-counter {
            display: block;
            text-align: right;
            font-size: 120%;
            font-weight: bold;
            padding-top: 5px;
        }

            .intro-form-counter.bad {
                color: #c41509;
            }

            .intro-form-counter.good {
                color: #53AA68;
            }

.feed-post {
    position: relative;
    padding-left: 40px;
    margin-left: 30px;
    min-height: 130px;
    cursor: pointer;
}

    .feed-post-type-intro,
    .feed-post-type-weekly_digest {
        min-height: 20px;
    }

    .feed-post-type-intro .post-title-link:focus {
        outline: auto;
    }

    .feed-post a {
        z-index: 1;
    }

    .feed-post:hover {
        box-shadow: 0 0 40px rgba(94, 104, 125, 0.3);
    }

        .feed-post-type-intro:hover,
        .feed-post-type-weekly_digest:hover {
            box-shadow: none;
        }

    .feed-post-votes {
        padding-left: 10px;
        z-index: 2;
    }

    .feed-post-header {
        padding-bottom: 10px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .feed-post-title {
        font-size: 140%;
        font-weight: 500;
        line-height: 1.3em;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .feed-post-title a {
            text-decoration: none;
        }

    .feed-post-author .avatar {
        position: absolute;
        left: -26px;
        width: 52px;
        height: 52px;
        border: solid 3px var(--block-bg-color);
        text-align: left;
        z-index: 2;
    }

    .feed-post-author .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .feed-post-image {
        width: 20px;
    }

        .feed-post-image-link {
            position: absolute;
            width: 72px;
            height: 72px;
            left: -36px;
            border: solid 3px var(--block-bg-color);
            border-radius: 100%;
            overflow: hidden;
            display: flex;
        }

        @media only screen and (max-width: 570px) {
            .feed-post-image-link {
                width: 48px;
                height: 48px;
                left: -18px;
            }
        }

        .feed-post-image img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

    .feed-post-topic {
        padding-right: 15px;
        display: inline-block;
    }

    .feed-post-comments {
        text-decoration: none;
        color: #999;
        white-space: nowrap;
    }

    .feed-post-footer .bookmark-button {
        display: inline-block;
        text-decoration: none;
        opacity: 0.6;
    }

    .feed-post-is-pinned {
        background-color: var(--opposite-block-bg-color);
        color: var(--opposite-text-color);
    }

        .feed-post-is-pinned a {
            color: var(--opposite-text-color);
        }

        .feed-post-is-pinned .avatar {
            border-color: var(--opposite-block-bg-color);
        }

        .feed-post-is-pinned .upvote {
            color: var(--text-color);
            border-color: var(--opposite-text-color);
        }

            .feed-post-is-pinned .upvote:hover,
            .feed-post-is-pinned .upvote-voted {
                color: var(--opposite-text-color);
            }

    .feed-post-comments-unread {
        font-weight: 600;
        color: var(--link-color);
        text-decoration: none;
        white-space: nowrap;
    }

    @media only screen and (max-width : 570px) {
        .feed-post {
            padding: 15px 15px 15px 30px;
            margin-left: 10px;
            margin-bottom: 25px;
        }

            .feed-post-author .avatar {
                left: -16px;
                width: 36px;
                height: 36px;
            }
    }

.feed-post-type-intro,
.feed-post-type-weekly_digest {
    display: flex;
    font-size: 120%;
    padding: 0 0 20px 0;
    margin-left: 40px;
}

    .feed-post-type-intro .feed-post-title,
    .feed-post-type-weekly_digest .feed-post-title {
        font-size: 100%;
        font-weight: 400;
        line-height: 1.1em;
        padding-top: 3px;
    }

    .feed-post-type-intro .avatar {
        position: relative;
        top: -2px;
        left: -5px;
        width: 38px;
        height: 38px;
    }

    .feed-post-type-intro .user-position {
        font-size: 80%;
    }

    .feed-post-type-intro .upvote {
        margin-left: 10px;
        margin-right: 10px;
        top: 0;
    }

    .feed-post-type-intro .feed-post-comments {
        font-weight: 400;
        font-size: 80%;
        opacity: 0.5;
    }

    @media only screen and (max-width : 570px) {
        .feed-post-type-intro,
        .feed-post-type-weekly_digest {
            margin-left: 10px;
            margin-bottom: 0;
        }
    }

    .feed-post-type-intro .user-position {
        opacity: 0.7;
    }

.feed-post-type-weekly_digest .feed-post-author {
    font-size: 30px;
    padding-right: 10px;
    line-height: 1em;
}

.menu-button {
    font-size: 80%;
    padding: 10px 18px;
}

    @media only screen and (max-width : 570px) {
        .menu-button {
            display: none;
        }
        .mobile-menu-opened .menu-button {
            display: inline-block;
            margin-right: 0;
        }

        .menu-button-bookmark {
            padding-right: 8px;
        }
    }

.menu-button-compose {
    margin-right: 10px;
}

.menu-button-bookmark {
    font-size: 110%;
    opacity: 0.5;
    text-decoration: none;
    vertical-align: middle;
}

    .menu-button-bookmark:hover {
        opacity: 1.0;
    }

.post-join {
    margin-top: 30px;
    font-size: 120%;
    text-align: center;
}

    .post-join-icon {
        font-size: 50px;
        margin: 20px;
        line-height: 1em;
    }

    .post-join-message {
        font-size: 130%;
        font-weight: 500;
    }

.post-comments {
    padding-top: 80px;
}

    .post-comments-title {
        font-size: 110%;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        scroll-margin-top: 20px;
    }

    .post-comments-count {
        font-size: 160%;
        text-decoration: none;
    }

    .post-comments-list {
        padding-top: 25px;
        padding-bottom: 40px;
    }

        @media only screen and (max-width : 570px) {
            .post-comments-list {
                margin-left: -10px;
                margin-right: -10px;
            }
        }

    .post-comments-form {
        padding-top: 30px;
        padding-left: 10px;
    }

    .post-comments-rules {
        padding-top: 50px;
        padding-left: 90px;
        padding-right: 30px;
    }

        .post-comments-rules ul {
            list-style: none;
            padding: 0;
        }

        @media only screen and (max-width : 570px) {
            .post-comments-rules {
                padding-left: 0;
                padding-right: 0;
            }
        }

    .post-comments-order {
        display: inline-block;
        margin-left: 10px;
        opacity: 0.7;
    }

        .post-comments-order select {
            position: relative;
            padding: 4px 7px;
            top: -4px;
        }

    .post-comments-subscription {
        display: inline-block;
        position: relative;
        top: -3px;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: var(--button-border-radius);
        border: var(--button-border);
    }

        .post-comments-subscription.is-subscribed {
            background-color: var(--button-bg-color);
            border: var(--button-border);
            color: var(--button-color);
        }

        .post-comments-subscription > * {
            cursor: pointer;
        }

        .post-comments-subscription > input {
            margin-right: 5px;
        }

.user-telegram-auth-data {
    padding: 20px 40px;
    display: block;
    background-color: var(--opposite-bg-color);
    color: var(--opposite-text-color);
    max-width: 400px;
    margin: 40px auto;
    font-size: 120%;
    border-radius: var(--button-border-radius);
}

.post-bookmarks-placeholder {
    font-weight: bolder;
    opacity: 0.6;
}

.license {
    display: block;
    text-decoration: none;
    font-size: 200%;
    text-align: center;
    padding: 30px 0;
}

    .license img {
        width: 80px;
        height: 80px;
    }
