@font-face {
    font-family: "Merriweather";
    src: url("../webfonts/Merriweather-Italic.woff2") format("woff2"),
        url("../webfonts/Merriweather-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../webfonts/Merriweather-Black.woff2") format("woff2"),
        url("../webfonts/Merriweather-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../webfonts/Merriweather-Bold.woff2") format("woff2"),
        url("../webfonts/Merriweather-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../webfonts/Merriweather-Light.woff2") format("woff2"),
        url("../webfonts/Merriweather-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../webfonts/Merriweather-Regular.woff2") format("woff2"),
        url("../webfonts/Merriweather-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../webfonts/Ubuntu-Italic.woff2") format("woff2"), url("../webfonts/Ubuntu-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../webfonts/Ubuntu-BoldItalic.woff2") format("woff2"),
        url("../webfonts/Ubuntu-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../webfonts/Ubuntu-Medium.woff2") format("woff2"), url("../webfonts/Ubuntu-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../webfonts/Ubuntu-Bold.woff2") format("woff2"), url("../webfonts/Ubuntu-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../webfonts/Ubuntu-Regular.woff2") format("woff2"), url("../webfonts/Ubuntu-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../webfonts/Ubuntu-MediumItalic.woff2") format("woff2"),
        url("../webfonts/Ubuntu-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
