/* Layouts and grids without any styles */
:root {
    --max-content-width: 1000px;
    --normal-content-width: 800px;
}

.menu {
    display: grid;
    max-width: var(--max-content-width);
    margin: 0 auto;
    height: 90px;
    align-items: center;
}

    .menu-full {
        grid-template-columns: 230px auto 230px;
    }

        .menu-left {
            text-align: left;
        }

        .menu-center {
            text-align: left;
        }

        .menu-right {
            text-align: right;
        }

        @media only screen and (max-width : 570px) {
            .menu-full {
                grid-template-columns: auto min-content auto;
            }
        }

    .menu-simplified {
        grid-template-columns: auto;
        justify-content: center;
    }

.content {
    margin: 0 auto;
    max-width: var(--normal-content-width);
}

.footer {
    display: grid;
    grid-template-columns: auto 100px;
    margin: 0 auto;
    max-width: var(--max-content-width);
}

.landing {
}

    .landing-block {
        position: relative;
        max-width: var(--normal-content-width);
        margin: 0 auto;
    }

    .landing-block-title {
        max-width: var(--max-content-width);
    }

        .landing-title {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

.feed {
    display: grid;
    grid-template-columns: 250px auto;
    margin: 0 auto;
    max-width: var(--max-content-width);
}

    @media only screen and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {
        .feed {
            grid-template-columns: 190px auto;
            font-size: 90%;
        }
    }

    @media only screen and (max-width : 570px) {
        .feed {
            grid-template-columns: auto;
        }
    }

.feed-post {
    display: grid;
    grid-template-columns: min-content minmax(auto, 1fr) min-content;
    grid-template-rows: auto auto;
    justify-content: stretch;
}

    .feed-post-author,
    .feed-post-image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: start;
        align-items: start;
    }

    .feed-post-votes {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: end;
        align-items: start;
    }

    .feed-post-header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
        align-self: end;
    }

    .feed-post-footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
        align-self: start;
        z-index: 1;
    }

.profile-card {
    display: grid;
    grid-template-columns: 250px auto;
}

    @media only screen and (max-width : 570px) {
        .profile-card {
            grid-template-columns: auto;
        }
    }

.user-small {
    display: grid;
    grid-template-columns: 55px auto;
    grid-template-rows: auto auto;
    justify-content: left;
}

    .user-small .user-avatar {
        display: inline-block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: start;
    }

    .user-small .user-info {
        display: inline-block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    .user-small .user-footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }

.post-layout-block {
    display: grid;
    grid-template-columns: 70px minmax(auto, 1fr);
    grid-template-rows: auto auto 70px;
    justify-content: stretch;
    align-items: start;
}

    .post-layout-block .post-upvote {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    .post-layout-block .post-header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    .post-layout-block .text-body {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }

        .post-layout-block .text-body-layout-notitle {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            justify-self: start;
        }

    .post-layout-block .post-footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: stretch;
        display: flex;
        justify-content: space-between;
    }

.battle-header {
    margin: 0 auto;
    max-width: var(--max-content-width);
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 50px minmax(auto, 1fr);
}

    .battle-header-side-a {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: stretch;
    }

    .battle-header-vs {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: stretch;
    }

    .battle-header-side-b {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: stretch;
    }

.comment-form {
    display: grid;
    grid-template-columns: min-content minmax(auto, 1fr);
    grid-template-rows: auto 60px;
    justify-content: stretch;
}

    .comment-form-avatar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: start;
    }

    .comment-form-body {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: stretch;
    }

    .comment-form-button {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
        align-self: end;
    }

    .comment-form-body {
    }

        .comment-form-body-battle-side {
            font-size: 150%;
        }

        .comment-form-body-title {
            padding: 20px 0;
        }

            .comment-form-body-title input {
                font-size: 150%;
                width: 100%;
            }

.reply-form {
    display: grid;
    grid-template-columns: 40px auto 110px;
    justify-content: stretch;
}

    .reply-form-avatar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    .reply-form-body {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: stretch;
    }

    .reply-form-button {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: end;
        align-self: end;
    }

    @media only screen and (max-width : 570px) {
        .reply-form {
            display: grid;
            grid-template-columns: 25px auto;
            grid-template-rows: auto auto;
            justify-content: stretch;
        }

            .reply-form-button {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                justify-self: end;
                align-self: end;
            }
    }

.reply {
    display: grid;
    grid-template-columns: 40px minmax(auto, 1fr) 50px;
    grid-template-rows: auto 30px;
    justify-content: start;
}

    .reply-author {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: start;
        align-self: start;
    }

    .reply-body {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: stretch;
        align-self: start;
    }

    .reply-rating {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: end;
        align-self: start;
    }

    .reply-footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
        align-self: start;
    }

.comment-layout-normal {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 60px;
    grid-template-rows: min-content auto 35px;
    justify-content: stretch;
}

    .comment-layout-normal .comment-header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    .comment-layout-normal .comment-rating {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: end;
    }

    .comment-layout-normal .comment-body {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: stretch;
    }

    .comment-layout-normal .comment-footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-content: flex-end;
        display: flex;
    }

.comment-layout-block {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 60px;
    grid-template-rows: min-content auto 30px;
    justify-content: stretch;
}

    .comment-layout-block .comment-header {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    .comment-layout-block .comment-rating {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: end;
    }

    .comment-layout-block .comment-body {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: stretch;
    }

    .comment-layout-block .comment-footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-content: flex-end;
        display: flex;
    }

.comment-type-battle {
    display: grid;
    grid-template-columns: 70px minmax(auto, 1fr);
    grid-template-rows: min-content auto 35px;
    justify-content: stretch;
}

    .comment-type-battle .comment-header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    .comment-type-battle .comment-rating {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: end;
    }

    .comment-type-battle .comment-body {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: stretch;
    }

    .comment-type-battle .comment-footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-content: flex-end;
        display: flex;
    }
    .comment-type-battle-side-a {
        grid-template-columns: 70px minmax(auto, 1fr);
        max-width: 90%;
        min-width: 50%;
        float: left;
    }

        .comment-type-battle-side-a .comment-rating {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: start;
        }

        .comment-type-battle-side-a .comment-header {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: start;
        }

    .comment-type-battle-side-b {
        grid-template-columns: minmax(auto, 1fr) 70px;
        max-width: 90%;
        min-width: 50%;
        float: right;
    }

        .comment-type-battle-side-b .comment-rating {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: end;
        }

        .comment-type-battle-side-b .comment-header {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: end;
        }