{% if need_pin %}
    {% if me.id == comment.post.author_id or me.is_moderator %}
        <a href="{% url "pin_comment" comment.id %}" class="comment-edit-button comment-button-hidden"><i class="fas fa-thumbtack"></i></a>
    {% endif %}
{% endif %}

{% if me.id == comment.author_id or me.id == comment.post.author_id or me.is_moderator %}
    {% if comment.is_deleted and me.id == comment.deleted_by or comment.is_deleted and me.is_moderator %}
        <a href="{% url "delete_comment" comment.id %}" class="comment-edit-button {{ button_hidden_class }}" onclick="return confirm('Восстанавливаем?')"><i class="fas fa-trash-restore"></i></a>
    {% elif not comment.is_deleted %}
        <a href="{% url "delete_comment" comment.id %}" class="comment-edit-button {{ button_hidden_class }}" onclick="return confirm('Удаляем?')"><i class="fas fa-trash"></i></a>
    {% endif %}

    {% if not comment.is_deleted and me.id == comment.author_id or not comment.is_deleted and me.is_moderator %}
        <a href="{% url "edit_comment" comment.id %}" class="comment-edit-button {{ button_hidden_class }}"><i class="fas fa-edit"></i></a>
    {% endif %}
{% endif %}

{% if need_reply %}
    {% if me and comment.post.is_commentable %}
        <span class="comment-reply-button" v-on:click="showReplyForm('{{ comment_id }}', '{{ username }}', true)"><i class="fas fa-reply"></i>&nbsp;ответить</span>
    {% endif %}
{% endif %}
