👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Выглядит как реклама или сильно продающий текст</b>

Мы собрались в Клубе, чтобы делиться опытом, а не читать маркетинговые питчи. В интернете много других площадок, откуда гнать трафик намного эффективнее, чем из нашего небольшого Клуба. Мы же хотим инсайдов и историй из личного опыта!

Рекомендуем:

- Удалить «продающие» панчи из текста, оставить их для vc.ru
- Добавить больше «мяса», инсайдов, фоточек процесса, внутренней кухни
- Поделиться техническими подробностями
- Рассказать историю своих взлетов и падений
- Писать искренне и честно, как будто вы рассказывате о проекте друзьям, а не инвесторам

Больше подробностей читайте в нашем <a href="{{ settings.POSTING_GUIDE_URL }}">гайде как писать годные посты</a>.
