👎 Модераторы отправили ваш батл «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Явная предвзятость к одному из вариантов</b>

Батлы сделаны для сбора точек зрения обеих сторон, а когда автор сразу задаёт однобокое отношение к одному из вариантов — это плохой батл. Рекомендуем переписать заголовок и текст, чтобы он звучал менее предвзято, либо выбрать другие стороны для батла.

А ещё читайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
