👎 Модераторы перенесли ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» обратно в черновики.

<b>Причина: Лучше обсудить вопрос в чате</b>

Мы посовещались и решили, что с этой темой лучше пройти в один из <a href="{{ settings.APP_HOST }}{% url "network" %}">наших чатов</a>. Там вам помогут быстрее и эффективнее. Правда, мы не первый день этим занимаемся, так реально работает :)

Если же вы всё еще хотите попасть на главную страницу Клуба, скорее всего пост придётся сильно изменить и дополнить. Для этого читайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
