👎 Модераторы перенесли ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» обратно в черновики.

<b>Причина: Этот вопрос лучше задать в чате или <a href="https://vas3k.club/room/questions/chat/">в Справочной</a></b>

Мы посовещались и решили, что с этой темой лучше пройти в один из <a href="{{ settings.APP_HOST }}{% url "network" %}">наших чатов</a>. Там вам помогут быстрее и эффективнее. Правда, мы не первый день этим занимаемся, так реально работает :)

Если вы не нашли нужного чата в нетворке, спросите в Баре или в <a href="https://vas3k.club/room/questions/chat/">Вастрик Справочной</a>, которую мы специально сделали для быстрых вопросов и ответов на личные темы.

Ну а если мы ошиблись и вы уверены, что ваш вопрос полезен и важен для всего Клуба и просто обязан оказаться на главной — придётся его переписать и дополнить. Для этого читайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
