👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Пост недооформлен</b>

Мы понимаем, писать тексты всегда сложно, а оформлять их еще сложнее. Но сейчас пост физически тяжело читать из-за отсутствия даже базового оформления. Рекомендуем вложить в него еще немного любви и дооформить — это сэкономит время читателям и поможет им лучше понять вас.

Рекомендуем:

- Разбить текст на абзацы и структурировать
- Добавить картинок, разделов, списков и прочего оформления
- Удалить абстрактные размышления и эмоции. Добавить смысла и мяса
- Прогнать через glvrd.ru

Дооформите текст, выделите основные мысли, а так же читайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
