👎 Так вышло, что модераторы перенесли ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» обратно в черновики.

Мы стараемся держать планку качества постов в Клубе, потому отправляем его на доработку. Вот популярные причины отказов:

- Пост написан небрежно, коротко, без уважения к читателю
- Контент не несёт ценности для других членов Клуба
- Непонятно какую мысль хотел донести автор
- Информация не содержит личного опыта или инсайдов
- Тема лучше подходит для обсуждения <a href="{{ settings.APP_HOST }}{% url "network" %}">в наших чатах</a>

Подумайте над ним еще и почитайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
