👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Дубликат</b>

Кажется, такой вопрос или тред уже есть в Клубе. В комментах вам скорее всего оставят ссылки. Почитайте их, либо воспользуйтесь нашим поиском.

Что сейчас можно сделать:

- Найти старый пост
- Поднять его на главную новым комментарием, чтобы не плодить дубликаты. Движок Клуба позволяет возрождать старые треды и это абсолютно легально
- Конкретизировать свой вопрос чтобы сделать его уникальным и отличающимся от остальных

А еще читайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
