👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Не хватает рисёрча</b>

DYOR (Do Your Own Research) — одно из правил написания вопросов в Клубе. Чтобы не превращать главную страницу в гугл, мы просим всех авторов провести собственные поиски и поделиться мнением на счёт имеющихся решений, чтобы другим было от чего отталкиваться.

Рекомендуем:

- Нагуглить свой вопрос
- Проверить популярные решения на практике и поделиться результатами в теле поста
- Рассказать почему они не сработали
- Расширить описание вопроса
- Посовещаться <a href="{{ settings.APP_HOST }}{% url "network" %}">в наших чатах</a>

Добавьте больше рисёрча и почитайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
