👎 Модераторы отправили ваш батл «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Ложная дихотомия</b>

Приведённые вами варианты батла не создают дилеммы, так как недостаточно точно разделяют обсуждаемую проблему на два класса. В таком случае мы рекомендуем изменить названия сторон, подумать над более точной формулировкой, либо добавить конкретики в описание.

А еще читайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
