👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Срачеобразующая тема</b>

Обсуждать чувствительные темы в Клубе можно и нужно, но в современном мире это требует особой подготовки. Сейчас вы дали людям канистру бензина и зажигалку, а пожар отдали тушить нам — модераторам. Пожалейте нас :)

Рекомендуем:

- Переписать текст чтобы он выглядел менее провокационно
- Добавить дисклеймеров
- Спокойно и непредвзято описать мнения обеих сторон
- Быть искренним и весёлым, чтобы другим было интересно дискутировать с вами, а не воевать в комментах
- Установить политику удаления комментариев, которые нарушают доброжелательную атмосферу и правила Клуба

Больше подробностей читайте в нашем <a href="{{ settings.POSTING_GUIDE_URL }}">гайде как писать годные посты</a>.
