👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Недостаточно инсайдов, личного опыта и «мяса»</b>

Мы собрались в Клубе, чтобы делиться личным опытом и инсайдами, но в вашем посте они сейчас тщательно спрятаны. Кажется, текст нужно избавить от воды и переписать.

Понимаем, писать полнятные и полезные читателю тексты всегда сложно, потому вот пара советов что можно сделать:

- Добавить реальных примеров, рассказать историй, показать всю изнанку жизни
- Выделить МЯСО(тм) — вынести главные мысли наверх, оформить списки шагов, разбить текст на разделы и абзацы
- Удалить бесполезные отступления и прочую графоманию, которая мешает понять основную мысль
- Писать честно и искренне, не пытаясь здесь кого-то удивить или что-то «продать»
- Прогнать через glvrd.ru

Больше советов читайте в нашем <a href="{{ settings.POSTING_GUIDE_URL }}">гайде как писать годные посты</a>.
