👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Плохой заголовок</b>

Мы стараемся держать планку качества постов в Клубе, потому мы не пропускаем заголовки, которые:

- Не дают сразу понять о чём пост, не читая его
- Слишком абстрактны
- Содержат каламбуры, шутеечки и прочие приёмчики из советских газет
- Неграмотны или КрИаТиFFНы!!!11
- Кликбейтны

Придумайте заголовок получше и почитайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
