👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Слишком короткое описание</b>

Вы запостили ссылку на главную страницу — значит она будет видна всем. Однако, кажется, вы не написали TL;DR, чтобы люди понимали зачем вообще на неё кликать. Понимаем, это требует времени, но представьте сколько человекочасов это сэкономит в масштабах коммьюнити. Нам все было бы приятнее, если бы все ссылки в Клубе имели краткое описание, не так ли?

Сейчас ваше описание не даёт понять о чём ссылка. Что можно сделать?

- Расскажите вкратце о чём статья или ссылка
- Поделитесь своими мыслями на счёт прочитанного. С чем согласны, а что вызывает вопросы? Почему вы решили запостить её в Клуб?
- Почему мы все должны сюда кликнуть? Чего нам ожидать?

А ещё читайте наш <a href="{{ settings.POSTING_GUIDE_URL }}">гайд как писать годные посты</a>.
