👎 Модераторы отправили ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» на доработку.

<b>Причина: Не ясна польза Клубу</b>

К сожалению, никто из модераторов пока не понял какую пользу этот контент несёт Клубу. Возможно, пост стоит доработать описание и добавить больше личного опыта, а может просто отнести <a href="{{ settings.APP_HOST }}{% url "network" %}">в один из чатов</a> и забыть.

Больше подробностей и примеров есть в нашем <a href="{{ settings.POSTING_GUIDE_URL }}">гайде как писать годные посты</a>.
