{% extends "layout.html" %}
{% load static %}
{% load users %}

{% block title %}
    404 — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content">
        <a href="/">
            <center>
                <img src="/static/images/logo/logo-256.png" alt="" height="80" width="80" style="display:inline-block;width: 80px;height: 80px;min-width: 80px; margin-top: 30px;">
            </center>
        </a>

        <div class="block">
            <p>404 ошибка, родной. Поищи в другом месте :)</p>
        </div>

    </div>
{% endblock %}
