{% extends "common/sidebar_layout.html" %}
{% load text_filters %}
{% load paginator %}

{% block title %}
    Закладки — {{ block.super }}
{% endblock %}

{% block feed_content %}
    <h2>Закладки</h2>

    {% for post in posts %}
        {% include "posts/items/items.html" %}
    {% endfor %}

    {% if not posts %}
        <div class="post-bookmarks-placeholder">
            Сюда можно сохранять понравившиеся посты, используя волшебный флажочек <i class="far fa-bookmark"></i>
        </div>
    {% endif %}

    <div class="feed-paginator">
        {% paginator posts %}
    </div>
{% endblock %}
