<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Вастрик.Клуб ✖️‍{% endblock %}</title>
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <main class="landing">
        <div class="landing-block landing-block-title">
            <img src="{% static "images/logo/logo-1024.png" %}" alt="">
            <div class="landing-title">
                <h1>Вастрик.Клуб</h1>
                <p>Всё самое интересное происходит за закрытыми дверями</p>
                <a href="{% url "login" %}" class="button button-black">Войти</a>
            </div>
        </div>

        <div class="landing-block" id="why">
            <div>
                <h2>ЗАЧЕМ?</h2>

                <p>
                    Интернет стал слишком большим.
                    Открытость дала ему разнообразие, но сделала всё поверхностным.
                    Лучшие идеи не рождаются в толпе.
                </p>

                <p>
                    Клуб — это наше закрытое и в меру айтишное сообщество, в котором мы обсуждаем важные темы вдали от большого интернета.
                </p>

                <p>
                    У нас нет секретной цели изменить мир и другой идейной херни.
                    Напротив, мы собрались здесь чтобы наконец-то поговорить честно и открыто.
                    Можно почитать подробнее в разделе <a href="{% url "docs" "about" %}" target="_blank">О Клубе</a>.
                </p>

                <p>
                    Участники Клуба получают доступ к коммьюнити, ко всем закрытым движухам, новым проектам,
                    экспериментам и плюшкам от меня и друзей Клуба. Они общаются в чатах и ходят на сходки по всему миру.
                </p>
            </div>
        </div>

        <div class="landing-block" id="join">
            <div>
                <h2>КАК ВСТУПИТЬ?</h2>

                <p>
                    Как в любом закрытом Клубе, у нас платное членство. Это позволяет нам оставаться независимыми от каких-либо организаций или инвесторов.
                </p>

                <p>
                    Клубу можно заносить каждый месяц через <a href="https://www.patreon.com/vas3k" target="_blank">патреон</a> или купить сразу <a href="{% url "join" %}">пакет на год</a> вперёд без подписки. Как вам больше нравится.
                </p>

                <p>
                    Сразу предупреждаем, что у нас действует жёсткая модерация и запрещена анонимность.
                </p>

                <p>
                    Так мы сохраняем взрослое, здоровое и недушное коммьюнити.
                </p>

                <br>

                <p>
                    <a href="{% url "join" %}" class="button button-black button-big">Вступить в Клуб</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            &copy; <a href="https://vas3k.ru" target="_blank">Вастрик</a> {% now "Y" %}
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            <a href="{% url "docs" "contact" %}">Связаться с нами</a><br><br>
        </div>
    </footer>
{% endblock %}

    {% include "common/js.html" %}
    {% block js %}{% endblock %}
</body>
</html>
