<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}4aff.Клуб 🌍️‍{% endblock %}</title>
    {% block fonts %}
        {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <main class="landing">
        <div class="landing-block landing-block-limited">
            <img src="{% static "images/logo/logo-1024.png" %}" alt="">
            <div class="landing-title">
                <h1>4aff.Клуб</h1>
                <p>Закрытый Клуб для вебмастеров, аффилиатов, seoшников, баеров и т.п.</p>
                <a href="{% url "login" %}" class="button button-black">Войти</a>
            </div>
        </div>

        <div class="landing-block landing-block-narrow" id="why">
            <div>
                <h2>ЗАЧЕМ</h2>

                <p>
                    Клуб — это наше закрытое сообщество аффилиатов, вебмастеров, seoшников, баеров и т.д.,
                    в котором мы обсуждаем важные темы вдали от большого интернета.
                </p>

                <p>
                    Мы не считаем себя элитарными, у нас нет секретной цели и другой идейной хрени.
                    Мы лишь собрались здесь чтобы наконец-то поговорить честно, открыто и без посторонних.
                </p>

                <p>
                    Клуб это место для общения аффилиатов, вебмастеров, баеров и сопричастных. Если ты зарабатываешь на трафике -
                    это для нас с тобой, да. 4aff. Для аффов. Умные люди из других тем, не связанных с аффилиаткой, тут тоже есть 😉
                </p>

                <p>
                    Клуб - место обмена опытом в виде постов, вопросов или комментов. Для удобного поиска исполнителей или коллег по цеху.
                    Клуб - это не сухие посты, это живое сообщество. Место, где пиздатым людям можно искренне поговорить о работе и жизни.
                    И обо всём, что интересно в мире.
                </p>
            </div>
        </div>

        <div class="landing-block landing-block-limited" id="features">
            <h2 class="landing-block-title">Что внутри?</h2>
        </div>

        <div class="landing-block landing-block-limited">
            <div class="landing-block-40">
                <h3 class="feature-title">Чужой опыт и инсайды</h3>

                <ul class="feature-list">
                    <li>В Клубе пишут статьи, просят советов, делятся идеями и обмениваются опытом</li>
                    <li>Никаких супер кейсов, нативной рекламы и прочей херни, которая считается нормой на профильных СМИ</li>
                    <li>Комментарии больше не зашквар</li>
                    <li>У нас честно и уютно</li>
                </ul>
            </div>
            <div class="landing-block-60 landing-posts">
                <div class="landing-post">
                    <div class="avatar landing-post-avatar"><img src="https://i.4aff.club/57627f73da249c0ebbb35fae795319e20cac1e0f864694aac6bfa976d737156a.jpg" alt="Аватар" /></div>
                    <div class="landing-post-title">
                        Как я сделала и научилась с нуля оптимизировать контент-сайт, продала его и купила квартиру в Москве.
                        <span class="label" style="background-color: rgb(254, 74, 73);">
                            <span class="label-title">🤙 Офигенно</span>
                        </span>
                    </div>
                    <div class="landing-post-footer">12 комментариев</div>
                    <div class="landing-post-upvotes">17</div>
                    <a href="https://4aff.club/post/43/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>

                <div class="landing-post" style="left: 6%;">
                    <div class="avatar landing-post-avatar"><img src="https://i.4aff.club/72f1cf9fea3cbd44e85f3aa22e8890f30240d549ed79d97b9d296ea6c15f092c.jpg" alt="Аватар" /></div>
                    <div class="landing-post-title">🧾Свои сайты🧾 или 🏦Найм🏦</div>
                    <div class="landing-post-footer">21 комментарий</div>
                    <div class="landing-post-upvotes">51</div>
                    <a href="https://4aff.club/battle/85/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>

                <div class="landing-post" style="left: 2%;">
                    <div class="avatar landing-post-avatar"><img src="https://i.4aff.club/7f6f94d44a92c16b8de35278a11de9c0e2aa04b1a530c4ce88291f3c59ae1502.png" alt="Аватар" /></div>
                    <div class="landing-post-title">Мой опыт лидогенерации под US/CA
                        <span class="label" style="background-color: rgb(254, 74, 73);">
                            <span class="label-title">🤙 Офигенно</span>
                        </span>
                    </div>
                    <div class="landing-post-footer">2 комментария <strong>+1 новых</strong></div>
                    <div class="landing-post-upvotes">8</div>
                    <a href="https://4aff.club/post/40/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>
            </div>
        </div>

    <!--
        <div class="landing-block landing-screenshots hide-on-iphone">
            <a href="https://4aff.club/post/1289/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00003.png" %}" alt="post">
            </a>

            <a href="https://4aff.club/post/3467/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00004.png" %}" alt="post">
            </a>

            <a href="https://4aff.club/post/2970/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00005.png" %}" alt="post">
            </a>

            <a href="https://4aff.club/post/1494/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00009.png" %}" alt="post">
            </a>
        </div>
    -->

        <div class="landing-block landing-block-limited">
            <div class="landing-block-50">
                <img src="{% static "images/landing/rooms.png" %}" class="feature-image" alt="chats" style="padding-top: 40px;">
            </div>

            <div class="landing-block-50">
                <h3 class="feature-title">Тусовки по интересам</h3>

                <ul class="feature-list">
                    <li>Сеть клубных чатиков в телеграме</li>
                    <li>Коммьюнити по городам и странам</li>
                    <li>АМА с экспертами и отзывчивые участники</li>
                    <li>Место, в котором хорошо</li>
                </ul>
            </div>
        </div>

        <div class="landing-block landing-block-limited">
            <div class="landing-block-40">
                <h3 class="feature-title">Движухи, фан и взаимопомощь</h3>

                <ul class="feature-list">
                    <li>Митапы и сходки в офлайне</li>
                    <li>Коучинг и менторство между участниками Клуба</li>
                    <li>Помогаем своим</li>
                    <li>Подробнее о правилах можно почитать в разделе <a href="{% url "docs" "about" %}" target="_blank">О Клубе</a></li>
                </ul>
            </div>

            <div class="landing-block-60">
                <img src="{% static "images/landing/activities.jpg" %}" class="feature-image" alt="chats">
            </div>
        </div>

        <div class="landing-block landing-block-limited landing-block-map-title" id="map">
            <h3 class="feature-title">Недушное коммьюнити</h3>
        </div>

        <div class="landing-block landing-block-map">
            <div class="map-background" style="background-image: url('{% static "images/landing/map.jpg" %}');">
            </div>

            <div class="map-container">
                <div class="map-sidebar hide-on-iphone">
                    <div class="map-sidebar-header">Зарабатываю</div>
                    <div class="map-sidebar-item">🔝 сеошник</div>
                    <div class="map-sidebar-item">🌐 сайты</div>
                    <div class="map-sidebar-item">📱 арбитражник</div>
                    <div class="map-sidebar-item">🧔 клиентское</div>
                    <div class="map-sidebar-item">🚪 дорвеи</div>
                    <div class="map-sidebar-item">✏️ копирайтер</div>
                    <div class="map-sidebar-item">🛠 разработчик</div>
                    <div class="map-sidebar-item">🎰 гемблинг</div>
                    <div class="map-sidebar-item">🏀 беттинг</div>
                    <div class="map-sidebar-item">💊 нутра</div>
                    <div class="map-sidebar-item">🏪 ecom</div>
                    <div class="map-sidebar-item">🥇 крипта</div>
                    <div class="map-sidebar-header">Путешествия</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🍻 Можем выпить по пиву</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🏢 Могу показать офис</div>
                    <div class="map-sidebar-item">🗼 Могу показать город</div>
                </div>

                <div class="map-counters">
                    <div class="map-counter">{{ stats.users }} {{ stats.users | rupluralize:"человек,человека,человек" }}</div>
                    <div class="map-counter">{{ stats.countries }} {{ stats.countries | rupluralize:"страна,страны,стран"  }}</div>
                    <div class="map-counter">6 чатов</div>
                </div>
            </div>
        </div>

        <div class="landing-block landing-block-narrow" id="join">
            <div>
                <h2 class="landing-block-title">Как вступить?</h2>

                <img src="{% static "images/landing/dolor.png" %}" alt="$1" class="landing-dolor">

                <p>
                    Членство в Клубе платное, но плата символическая: 1 доллар в месяц.
                    Это позволяет нам оставаться независимыми от мнения инвесторов и рекламодателей.
                </p>

                <p>
                    Плюс, мы не пускаем анонимов. Вам придется заполнить профиль и рассказать о себе.
                </p>

                <br>

                <p>
                    <a href="{% url "join" %}" class="button button-black button-big">Вступить в Клуб</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            &copy; <a href="https://4aff.club" target="_blank">4aff</a> {% now "Y" %}
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            <a href="{% url "docs" "about" %}">О клубе</a> &nbsp;
            <a href="{% url "docs" "contact" %}">Связаться с нами</a><br><br>
        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
</body>
</html>
