{% extends "layout.html" %}
{% load static %}
{% load paginator %}
{% load text_filters %}

{% block content %}
<div class="feed">
    <aside class="feed-sidebar">
        <div class="feed-sidebar-block">
            <ul class="feed-sidebar-list feed-sidebar-menu">
                <li>
                    <a href="{% url "index" %}">
                        🏠 Главная
                    </a>
                </li>
                <li>
                    <a href="{% url "people" %}">
                        🌍 Люди
                    </a>
                </li>
                <li>
                    <a href="{% url "network" %}">
                        💬 Чаты и сервисы
                    </a>
                </li>
                <li>
                    <a href="{% url "stats" %}">
                        🏆 Ачивки
                    </a>
                </li>
                <li>
                    <a href="https://events.vas3k.club">
                        🔥 Ивенты
                    </a>
                </li>
            </ul>

            <ul class="feed-sidebar-list feed-sidebar-menu feed-sidebar-menu-small">
                <li>
                    <a href="{% url "feed_type" "post" %}" class="{% if post_type == "post" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-pen-square"></i> Посты
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "guide" %}" class="{% if post_type == "guide" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-globe"></i> Путеводители
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "question" %}" class="{% if post_type == "question" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-question-circle"></i> Вопросы
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "thread" %}" class="{% if post_type == "thread" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-stream"></i> Треды
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "project" %}" class="{% if post_type == "project" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-pencil-ruler"></i> Проекты
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "event" %}" class="{% if post_type == "event" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-calendar-times"></i> События
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_label" "approved" %}" class="{% if label_code == "approved" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-thumbs-up"></i> Офигенно
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_label" "inside" %}" class="{% if label_code == "inside" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-gem"></i>️ Инсайды
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_label" "post_of_month" %}" class="{% if label_code == "post_of_month" %}feed-sidebar-menu-selected{% endif %}">
                        <i class="fas fa-trophy"></i> Посты месяца
                    </a>
                </li>
            </ul>
        </div>

        <div class="feed-sidebar-block">
            <div class="feed-sidebar-header">Комнаты</div>
            <div class="feed-sidebar-topics">
                {% for room in rooms|slice:":15" %}
                    {% include "rooms/widgets/room.html" with room=room type="card" %}
                {% endfor %}
            </div>
            <div class="feed-sidebar-topics-more">
                <a class="button button-small button-inverted" href="{% url "list_rooms" %}">Все комнаты &rarr;</a>
            </div>
        </div>
    </aside>
    <div class="feed-main">
        {% block feed_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
