{% extends "godmode/action.html" %}
{% load static %}
{% load godmode_filters %}

{% block title %}
    Забанить юзера — {{ block.super }}
{% endblock %}

{% block godmode_action_form %}
    <div class="block">
        <div class="block-header">Забанить временно</div>

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                {{ form.is_temporarily_banned.label_tag }}
                {{ form.is_temporarily_banned }}
                {% if form.is_temporarily_banned.errors %}<span class="form-row-errors">{{ form.is_temporarily_banned.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                {{ form.temporary_ban_reason.label_tag }}
                {{ form.temporary_ban_reason }}
                {% if form.temporary_ban_reason.errors %}<span class="form-row-errors">{{ form.temporary_ban_reason.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                Количества дней бана начисляется прогрессивно и автоматически по следующей шкале: {{ ban_progression }}<br><br>

                {% if user.metadata.last_ban %}
                    ☢️ Пользователь уже был забанен ранее на <strong>{{ user.metadata.last_ban.days }} дней</strong> по причине <strong>«{{ user.metadata.last_ban.reason }}»</strong>, так что ему будет выдано большее по величине количество дней из списка выше (или максимальное).
                {% else %}
                    ☝️ У этого пользователя еще не было банов, так что ему будет выдано минимальное количество дней из описания.
                {% endif %}
            </div>

            <button type="submit" class="button">Забанить временно</button>
        </form>
    </div>


    <div class="block">
        <div class="block-header">Забанить кастомно</div>

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                {{ form.is_custom_banned.label_tag }}
                {{ form.is_custom_banned }}
                {% if form.is_custom_banned.errors %}<span class="form-row-errors">{{ form.is_custom_banned.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                {{ form.custom_ban_name.label_tag }}
                {{ form.custom_ban_name }}
                {% if form.custom_ban_name.errors %}<span class="form-row-errors">{{ form.custom_ban_name.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                {{ form.custom_ban_reason.label_tag }}
                {{ form.custom_ban_reason }}
                {% if form.custom_ban_reason.errors %}<span class="form-row-errors">{{ form.custom_ban_reason.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                {{ form.custom_ban_days.label_tag }}
                {{ form.custom_ban_days }}
                {% if form.custom_ban_days.errors %}<span class="form-row-errors">{{ form.custom_ban_days.errors }}</span>{% endif %}
            </div>

            <button type="submit" class="button">Забанить кастомно</button>
        </form>
    </div>

    <div class="block">
        <div class="block-header">Забанить навечно (ОПАСНО)</div>

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                {{ form.is_permanently_banned.label_tag }}
                {{ form.is_permanently_banned }}
                {% if form.is_permanently_banned.errors %}<span class="form-row-errors">{{ form.is_permanently_banned.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                {{ form.permanent_ban_reason.label_tag }}
                {{ form.permanent_ban_reason }}
                {% if form.permanent_ban_reason.errors %}<span class="form-row-errors">{{ form.permanent_ban_reason.errors }}</span>{% endif %}
            </div>

            <button type="submit" class="button" onclick="return confirm('Точно баним юзера навсегда?')">Забанить навечно</button>
        </form>
    </div>

    <div class="block">
        <div class="block-header">Разбанить</div>

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                {{ form.is_unbanned.label_tag }}
                {{ form.is_unbanned }}
                {% if form.is_unbanned.errors %}<span class="form-row-errors">{{ form.is_unbanned.errors }}</span>{% endif %}
            </div>

            <button type="submit" class="button">Разбанить юзера</button>
        </form>
    </div>
{% endblock %}
