💬 <b>{% if not comment.reply_to_id %}Коммент{% else %}Реплай{% endif %} к «<a href="{{ settings.APP_HOST }}{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}">{{ comment.post.title }}</a>»</b> от <a href="{% url "profile" comment.author.slug %}">{{ comment.author.slug }}</a>

{% if comment.title %}
<b>{{ comment.title }}</b>
{% endif %}
{% load posts %}{% render_plain comment 350 %}

<a href="{{ settings.APP_HOST }}{% url "show_comment" comment.post.slug comment.id %}#comment-{{ comment.id }}">Посмотреть ➜</a>
