{% load text_filters %}

<div class="battle-info">
    <strong>Правила проведения батлов:</strong>
    <ul>
        <li>Батл — это схватка двух крайностей. Мы пытаемся выделить аргументы каждой из сторон чтобы потом по ним составить свою картину мира.</li>
        <li>Один аргумент — один комментарий. Не делайте списков, так сложнее вести дискуссию и подсчитывать статистику.</li>
        <li>Можно топить как за одну, так и за обе стороны сразу. Просто выберите за кого вы при постинге.</li>
        <li>На аргументы можно реплаить. Реплаи никуда не засчитываются и нужны лишь для срача.</li>
        <li>Повторы и комментарии не по формату будут удаляться.</li>
    </ul>
</div>

{% if post.comment_count %}
    <div class="post-comments-title">
        <span class="battle-side-a-color">{{ total_arguments.a }} {{ total_arguments.a | rupluralize:"аргумент,аргумента,аргументов" }} за первое</span>
        и
        <span class="battle-side-b-color">{{ total_arguments.b }} за второе</span> 👇
    </div>
{% endif %}
