{% load text_filters %}

<div class="battle-stats">
    {% if battle.comment_count %}
        <div class="battle-stats-arguments battle-side-a-color">
            <strong>{{ total_arguments.a }} {{ total_arguments.a | rupluralize:"аргумент,аргумента,аргументов" }} и {{ total_votes.a }} {{ total_votes.a | rupluralize:"плюсик,плюсика,плюсиков" }}</strong><br>
            <small>за «{{ battle.metadata.battle.sides.a.name }}»</small>
        </div>
        <div class="battle-stats-graph">
            <div class="battle-side-a-background" style="width: {{ graph.percent_a }}%"></div>
            <div class="battle-side-b-background" style="width: {{ graph.percent_b }}%"></div>
        </div>
        <div class="battle-stats-arguments battle-side-b-color" style="text-align: right;">
            <strong>{{ total_arguments.b }} {{ total_arguments.b | rupluralize:"аргумент,аргумента,аргументов" }} и {{ total_votes.b }} {{ total_votes.b | rupluralize:"плюсик,плюсика,плюсиков" }}</strong><br>
            <small>за «{{ battle.metadata.battle.sides.b.name }}»</small>
        </div>
    {% endif %}
</div>
