<span class="post-actions-line-item">
    {{ post.effective_published_at|date:"j E Y" }}
</span>

<span class="post-actions-line-item">
    <i class="fas fa-eye"></i>&nbsp;{{ post.view_count }}
</span>

{% if me %}
    <post-bookmark
        bookmark-url="{% url "toggle_post_bookmark" post.slug %}"
        class="post-actions-line-item"
        {% if is_bookmark %}
            initial-is-bookmarked
        {% endif %}>
    </post-bookmark>

    {% if post.author_id != me.id %}
        <a href="{% url "create_badge_for_post" post.slug %}" class="post-actions-line-item">
            <i class="fas fa-gift"></i>&nbsp;Наградить
        </a>
    {% endif %}
{% endif %}

{% if post.author == me and me.is_active_membership or me.is_moderator or me.slug in post.coauthors %}
    <a href="{% url "edit_post" post.slug %}" class="post-actions-line-item"><i class="fas fa-edit"></i>&nbsp;Править</a>
{% endif %}

{% if post.author == me and me.is_active_membership and not post.is_visible %}
    {% if not post.deleted_at %}
        <a href="{% url "delete_post" post.slug %}" onclick="return confirm('Действительно удалить?')" class="post-actions-line-item"><i class="fas fa-trash"></i>&nbsp;Удалить&nbsp;&nbsp;&nbsp;</a>
    {% else %}
        <a href="{% url "delete_post" post.slug %}" class="post-actions-line-item"><i class="fas fa-trash-restore"></i>&nbsp;Восстановить</a>
    {% endif %}
{% endif %}

{% if me.is_moderator %}
    <a href="{% url "announce_post" post.slug %}" class="post-actions-line-item"><i class="fas fa-bullhorn"></i></a>
    <a href="{% url "admin_post" post.slug %}" class="post-actions-line-item"><i class="fas fa-tools"></i></a>
{% endif %}

{% if me.is_curator and not me.is_moderator %}
    <a href="{% url "curate_post" post.slug %}" class="post-actions-line-item"><i class="fas fa-tools"></i>&nbsp;Курировать</a>
{% endif %}
