.git/
.github/
**/.venv
**/node_modules
**/__pycache__

.coverage
.editorconfig
.env
.gitignore
.idea/
.mypy_cache/
.tox/

docker-compose*.yml
Dockerfile

CHANGELOG.md
README.md

*.egg-info
*.log
*.py[co]
*.tmp
