.git/
.github/
**/.venv
**/node_modules
**/__pycache__

.coverage
.DS_Store
.editorconfig
.env
.gitignore
.history/
.idea/
.mypy_cache/
.npm/
.tox/

docker-compose*.yml
Dockerfile

CHANGELOG.md
README.md

*.egg
*.egg-info
*.log
*.py[co]
*.session
*.tmp

db.sqlite3
gdpr/downloads/*.zip
pip-log.txt
venv/
