[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sentry-sdk = "*"
python-dotenv = "*"
django-simple-history = "*"
django-q = "*"
django-webpack-loader = "*"
django-debug-toolbar = "*"
urllib3 = "<2.0.0"
psycopg2-binary = "*"
awesome-slugify = "*"
authlib = "*"
python-telegram-bot = "==12.5.1"
premailer = "*"
django-redis = "*"
mistune = "*"
typus = "*"
pyjwt = "*"
pytz = "*"
icalendar = "*"
beautifulsoup4 = "*"
stripe = "*"
newspaper3k = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
