[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
django-debug-toolbar = "*"

[packages]
django = "==5.1.8"
requests = "==2.32.3"
pyjwt = "==2.10.1"
cryptography = ">=39.0.2"
patreon = ">=0.5"
psycopg2-binary = "==2.9.10"
awesome-slugify = ">=1.6.5"
mistune = "==2.0.0a4"
click = "*"
pillow = ">=9.0.1"
django-simple-history = "==3.7.0"
python-telegram-bot = "==12.5.1"
django-q2 = {extras = ["sentry"], version = "==1.7.6"}
redis = "==5.2.1"
python-dotenv = ">=0.12"
django-redis = "==5.4.0"
gunicorn = "==20.0.4"
uvicorn = "*"
uvloop = ">=0.21.0"
premailer = "==3.6.1"
typus = "*"
stripe = "==11.4.1"
icalendar = "*"
httptools = "*"
croniter = "*"
authlib = "==1.4"
sentry-sdk = "==2.20.0"
newspaper4k = "==0.9.3.1"
lxml = {extras = ["html_clean"], version = "==5.3.0"}
django-webpack-loader = "==3.1.1"
urllib3 = "<2.0.0"  # dirty hack, required for python-telegram-bot<20.0
standard-imghdr = "*"  # was removed in Python 3.13 but needed for python-telegram-bot too

[requires]
python_version = "3.12"
