👎 К сожалению, модераторы перенесли ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» обратно в черновики.

Он не прошел наш контроль качества и требует доработки. Вот популярные причины почему так бывает:
- Пост недооформлен или, наоборот, использует слишком много разных стилей
- Информация слишком поверхностна, а мы ждём настоящих честных инсайдов
- Контент не несёт пользы Клубу или выглядит рекламным

Поработайте над ним еще. Вы можете лучше!
