<div class="form-row form-row-space-between">
    <button name="is_visible" value="false" class="button button-inverted">
        {% if mode == "create" or not form.instance.is_visible %}
            Сохранить черновик
        {% else %}
            Перенести в черновики
        {% endif %}
    </button>

    <button type="submit" name="is_visible" value="true" class="button">
        {% if mode == "create" or not form.instance.is_visible %}
            Опубликовать
        {% else %}
            Сохранить изменения
        {% endif %}
    </button>
</div>
