{% if not form.instance.is_safely_deletable_by_author and not request.me.is_moderator %}
<div class="form-row form-row-space-between">
    <div class="block form-warning">
        💬 В этом посте уже набралось больше {{ settings.MAX_COMMENTS_FOR_DELETE_VS_CLEAR }} комментариев.
        Из уважения к их авторам, пост теперь нельзя полностью удалить, только очистить.
    </div>
</div>
{% endif %}

<div class="form-row form-row-space-between">
    {% if not form.instance.is_visible %}
        <button type="submit" class="button button-inverted">Сохранить черновик</button>

        {% if form.instance.slug %}
            <a href="{% url "publish_post" form.instance.slug %}" class="button" onclick="return confirm('Публикуем? Пост увидят все и он попадет на модерацию')">
                Опубликовать 🚀
            </a>
        {% else %}
            <button type="submit" name="show_preview" value="true" class="button">
                Предпросмотр 👀
            </button>
        {% endif %}
    {% else %}
        {% if form.instance.is_safely_deletable_by_author or request.me.is_moderator %}
            <a href="{% url "unpublish_post" form.instance.slug %}" class="button button-inverted"  onclick="return confirm('Удаляем?')">
                Удалить пост
            </a>
        {% else %}
            <a href="{% url "clear_post" form.instance.slug %}" class="button button-inverted" onclick="return confirm('Очищаем пост?')">
                Очистить пост
            </a>
        {% endif %}

        <button type="submit" class="button">Сохранить изменения</button>
    {% endif %}
</div>
