💬 <b>Комментарий к посту «<a href="{{ settings.APP_HOST }}{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}">{{ comment.post.title }}</a>»</b>
{% if comment.post.type == "battle" and comment.battle_side %}
<b>за «{{ comment.battle_side }}»</b>
{% endif %}{% if comment.title %}
<b>{{ comment.title }}</b>
{% endif %}
{% load posts %}<b>{{ comment.author.full_name }}:</b> {% render_tg comment 3000 %}

<a href="{{ settings.APP_HOST }}{% url "show_comment" comment.post.slug comment.id %}#comment-{{ comment.id }}">Посмотреть ➜</a>
