{% load text_filters %}️ 👋 Привет, {{ user.full_name.split.0 }}!

Наша бездушная, но хитрая машина заметила, что вот уже {{ years }} {{ years | rupluralize:"год,года,лет" }} как вы не обновляли свое <a href="{{ settings.APP_HOST }}{% url "show_post" intro.type intro.slug %}">интро</a>!

Наверняка с тех пор уже многое изменилось, так что настало время перечитать свое интро и проверить актуальность инфы в профиле. Ведь никто не любит старые интры и неактуальные профили!

👉 <b><a href="{{ settings.APP_HOST }}{% url "profile" user.slug %}">Обновить интро</a></b>

Поцелуйчики 😘
