{% load posts %}👮‍♂️ <b>Нужно ревью для профиля:</b> <a href="{{ settings.APP_HOST }}{% url "profile" user.slug %}">{{ user.slug }}</a>

<b>Имя:</b> <pre>{{ user.full_name }}</pre>
<b>E-mail:</b> {{ user.email }}
<b>Аватар:</b> {{ user.avatar }}
<b>Работа:</b> {{ user.position }}{% if user.company %} — {{ user.company }}{% endif %}
<b>Город:</b> {{ user.city }} {{ user.country }}
<b>Контакты и био:</b> <pre>{{ user.bio }}</pre>
{% if user.referer %}<b>Кто рассказал про Клуб:</b> {{ user.referer }}
{% endif %}
<b>Интро:</b>
<pre>{{ intro.text | truncatechars:2000 }}</pre>
