🔥 <b>NEW: {% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title }}{% if post.room %} [{{ post.room.title }}]{% endif %}</b>

<b>Автор:</b>  {{ post.author.slug }} {% if post.author.telegram_data %}(tg: @{{ post.author.telegram_data.username  }}){% endif %}
{% if post.url %}<b>Ссылка:</b> {{ post.url }}{% endif %}{% if post.collectible_tag_code %}🚨 <b>Прикреплён коллекционный тег:</b> {{ post.collectible_tag_code }}{% endif %}{% if not post.is_visible_in_feeds %}👀 <b>Пост виден только в комнате! Можно модерить без жести.</b>{% endif %}

{% load posts %}{% render_tg post 350 %}

{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}
