👎 Так вышло, что модераторы перенесли ваш пост «<a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">{{ post.title }}</a>» обратно в черновики.

Мы стараемся держать планку качества постов в Клубе и он пока не проходит. Вот популярные причины почему так бывает:

- Непонятно какую мысль хотел донести автор
- Информация слишком поверхностна и не содержит личного опыта, а мы ждём честных инсайдов
- Пост написан небрежно, без уважения к читателям или недооформлен
- Контент не несёт пользы Клубу, слишком короткий или выглядит как реклама

Подумайте над ним еще!
