{% extends "message.html" %}

{% block message %}
    <h2>☠️ Вы запросили удаление аккаунта</h2>

    <p>
        Сейчас вам на почту упадёт код подтверждения, который нужно ввести ниже чтобы начать процедуру удаление аккаунта.
    </p>

    <div class="block login-code">
        <div class="login-code-form">
            <form action="{% url "confirm_delete_account" %}" method="post">
                {% csrf_token %}
                <input type="text" pattern="[0-9]*" name="code" placeholder="000000000000" class="login-code-input" autocomplete="off" autofocus>
                <input type="hidden" name="secret_hash" value="{{ user.secret_hash }}">
                <button type="submit" class="button login-code-button">Удалиться</button>
            </form>
        </div>
    </div>
{% endblock %}
