{% extends "message.html" %}

{% block message %}
    <h2>🤐 Спасибо за ваше мнение о {{ user.full_name }}</h2>

    <p>
        Мы записали жалобу и замьютим юзера для вас.
    </p>

    <p>
         Это означает:
    </p>

    <ul>
        <li>🧹 Вы не будете видеть посты юзера на главной (включая новые)</li>
        <li>🗯 Комментарии юзера будут скрыты от вас. Счётчики непрочитанных из-за этого могут поехать, не удивляйтесь</li>
        <li>🔕 Вы не получите уведомлений, если юзер вас упомянет</li>
        <li>💀 Когда на человека наберётся много жалоб — у модераторов загорится красная лампочка и они рассмотрят вариант исключения его из Клуба</li>
        <li>⚠️ Вы всё еще сможете читать посты и комментарии по прямой ссылке</li>
    </ul>

    <p>
        <br><a href="{% url "index" %}" class="button">Обратно на главную</a>
    </p>

{% endblock %}
