{% extends "message.html" %}

{% block message %}
    <h2>🤐 Вы замьютили {{ user.full_name }}</h2>

    <p>
        Ваша жалоба тоже записана и передана модераторам.
        Вы больше не увидите посты и коммментарии от {{ user.full_name }}.
    </p>

    <p>
        Спасибо за ваше мнение.
        Оно и правда помогает нам видеть что происходит в Клубе и делать его чище и добрее.
    </p>

    <p>
        <br><a href="{% url "index" %}" class="button">Обратно на главную</a>
    </p>

{% endblock %}
