{% extends "message.html" %}

{% block message %}
    <h2>Ваш профиль проходит ревью 👍</h2>

    <p>
        Откиньтесь в кресле, налейте вина и насладитесь минуткой.
        Модераторы Клуба получили оповещение и скорее всего уже смотрят на вас.
    </p>

    <p>
        Обычно это не занимает много времени, но если вы не указали никаких ссылочек или мало рассказали о себе,
        модераторам придётся искать вас по интернетам, чтобы понять, что вы не аноним.
        Тогда ревью может затянуться вплоть до суток.
    </p>

    <p>
        По любым вопросам — <a href="{% url "docs" "contact" %}">пишите</a>.
    </p>

    <p>
        Чтобы скоротать время, можете почитать про <a href="{{ settings.VALUES_GUIDE_URL }}">наши ценности</a> и «<a href="{{ settings.APP_HOST }}/docs/about/#enter">как вкатиться в Клуб с нуля</a>».
    </p>

    <p>
        <br><a href="{% url "intro" %}" class="button">Ой, я хочу кое-что подправить</a>
    </p>
{% endblock %}
