{% extends "message.html" %}

{% block message %}
    <h2>😕 Ваш профиль не прошел модерацию</h2>

    <p>
        Мы хотели познакомиться, но пока у нас это не получилось.
        Личные связи — одна из основ нашего коммьюнити.
        Точная причина упадёт вам на почту, но вот популярные причины почему модераторы оказывают:
    </p>

    <ul>
        <li>📝 Слишком короткое #intro. Допишите еще хотя бы пару абзацев, расскажите побольше о себе. Для примера посмотрите чужие интро, там есть ссылочки. <a href="https://vas3k.club/docs/about/#rules">Наши правила</a> запрещают анонимность в Клубе и это работает.</li>
        <li>🌏 Нет контактов для связи или ссылочек на соцсети. Люди ведь должны знать как вам написать.</li>
        <li>🤔 Много незаполненных полей. Профиль без фамилии или места работы вряд ли пройдет модерацию.</li>
        <li>🙅‍♀️ Наличие фраз типа «не скажу», «не люблю писать о себе», «потом заполню». Потом так потом, мы не торопимся :)</li>
        <li>💨 Душность или желание поскорее проскочить модерацию.</li>
    </ul>

    <p>
        <br><a href="{% url "intro" %}" class="button">Хорошо, сейчас всё исправлю</a>
    </p>

    <p>
        Всё еще не понимаете почему вас не пускают? <a href="{% url "docs" "contact" %}">Пишите на почту</a>!
    </p>
{% endblock %}
