{% extends "message.html" %}

{% block message %}
    <h2>Ваш профиль не прошел модерацию :(</h2>

    <p>
        Нашим модераторам что-то не понравилось.
        Возможно, вы указали мало информации о себе, написали плохое #intro, либо использовали вымышленные данные.
        Мы просто не можем пустить вас в наш Клуб в таком виде.
    </p>

    <p>
        <br><a href="{% url "intro" %}" class="button">Хорошо, щас всё исправлю</a>
    </p>

    <p>
        Непонятно почему не пускают? <a href="{% url "docs" "contact" %}">Пишите</a>!
    </p>
{% endblock %}
