{% extends "emails/layout.html" %}
{% load text_filters %}
{% load comments %}
{% load users %}
{% load emails %}

{% block css %}
<style>
    h2 {
        text-align: center;
    }

    .post {
    }

        .post-upvotes {
            display: block;
            float: right;
            background-color: #1B1B1C;
            color: #FFF;
            border-radius: 10px;
            padding: 15px 20px 14px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1em;
            margin-left: 10px;
            margin-top: 13px;
        }

    .label {
        display: inline-block;
        vertical-align: middle;
        background-color: #000000;
        height: 1.6em;
        line-height: 1.5em;
        overflow: hidden;
        font-size: 75%;
        border-radius: 5px;
    }

        .label-title {
            display: inline-block;
            color: #FFFFFF;
            font-weight: normal;
            padding: 0 0.6em 0;
            font-size: 90%;
        }

    .user {
        display: block;
        width: 100%;
        line-height: 1.4em;
        text-decoration: none;
        font-weight: 400;
        margin: 70px 0 100px;
    }
        .user-avatar {
            width: 80px;
            height: 80px;
            min-width: 80px;
            min-height: 80px;
            vertical-align: middle;
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            margin-bottom: 10px;
        }

    .avatar-small {
        width: 24px;
        height: 24px;
        min-width: 24px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        position: relative;
        top: -2px;
    }

    .comment {
    }

        .comment-upvotes {
            display: block;
            float: right;
            background-color: #1B1B1C;
            color: #FFF;
            border-radius: 10px;
            padding: 10px 15px 8px;
            font-size: 20px;
            font-weight: bold;
            line-height: 1em;
            margin-left: 10px;
            margin-top: 0;
        }

    .editorial-text {
        font-size: 20px;
        line-height: 1.4em;
        margin: 0 auto 100px;
    }

    @media only screen and (max-width : 570px) {
        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 22px;
        }

        p {
            font-size: 14px;
        }

            .editorial-text p {
                font-size: 17px;
            }
    }
</style>
{% endblock %}

{% block title %}
    {{ date|date:"d E Y" }}
{% endblock %}

{% block body %}
    <article class="editorial-text">
        <p>
            {% random_greeting %}, Сэр {{ user.full_name }}.
        </p>

        <p>
            {% if moon_phase.club_day %}Сегодня {{ moon_phase.club_day }} день от появления Клуба{% endif %}{% if moon_phase.phase_num %} и {{ moon_phase.phase_num }}{% endif %}.
            {% if moon_phase.phase_sign %}{{ moon_phase.phase_sign | capfirst }}.{% endif %}
        </p>

        {% if moon_phase.phase_description %}
            <p>
                {{ moon_phase.phase_description }}
            </p>
        {% endif %}

        <p>
            Вот вам подборка самых лучших и важных событий за вчера.
        </p>
    </article>

    {% if posts %}
        <h2>📝 Свежие посты</h2>

        {% for post in posts|slice:":5" %}
            <article class="block post">
                <span class="post-upvotes">
                    👍 {{ post.upvotes }}
                </span>

                <h3>
                    {% if post.type != "post" %}
                        {{ post.emoji }}
                    {% endif %}

                    {{ post.prefix }}

                    <a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}" target="_blank">{{ post.title }}</a>

                    {% if post.label %}
                        &nbsp;{% include "posts/common/label.html" with label=post.label %}
                    {% endif %}
                </h3>

                {% if forloop.counter <= 3 %}
                    <p>
                        {{ post.description | nl_to_p }}
                    </p>
                {% endif %}

                <span style="font-size: 16px; color: #999;">
                    <a href="{{ settings.APP_HOST }}{% url "profile" post.author.slug %}" style="text-decoration: none; color: #999;">
                        <img src="{{ post.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                        &nbsp;{{ post.author.slug }}
                    </a>
                    | {{ post.view_count }}&nbsp;{{ post.view_count | rupluralize:"просмотр,просмотра,просмотров" }}
                    | {{ post.comment_count }}&nbsp;{{ post.comment_count | rupluralize:"комментарий,комментария,комментариев" }}
                </span>
            </article>
        {% endfor %}

        {% if posts|slice:"5:" %}
            <p style="font-size: 19px; line-height: 1.4em;">и еще <a href="">{{ posts|slice:"5:"|length }} {{ posts|slice:"5:"|length|rupluralize:"новый пост,новых поста,новых постов" }}</a>, которые можно посмотреть на главной</p>
        {% endif %}

        <br><br><br>
    {% endif %}

    {% if comments %}
        <h2>💭 Комментарий дня</h2>

        {% for comment in comments|slice:":1" %}
            <article class="block comment">
                <span class="comment-upvotes">
                    👍{{ comment.upvotes }}
                </span>
                <div>
                    <a href="{{ settings.APP_HOST }}{% url "profile" comment.author.slug %}" style="text-decoration: none;">
                        <img src="{{ comment.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                        &nbsp;{{ comment.author.slug }}
                    </a>
                    на {{ comment.post.prefix|default:"пост"|lower }}
                    <a href="{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}">{{ comment.post.title }}</a>
                </div>
                <div>
                    {% render_email comment %}
                </div>
            </article>
        {% endfor %}

        <br><br><br>
    {% endif %}

    {% if intros %}
        <h2>🤘 Новые участники</h2>

        <p style="font-size: 19px; line-height: 1.4em;">
            Не стесняйтесь комментировать в их intro и задавать вопросы. Только там мы вытащим из этих новичков максимум пользы.
        </p>

        {% for intro in intros|slice:":1" %}
            <article class="block user">
                <div style="display: block;float: left;margin-right: 30px;">
                    <img src="{{ intro.author.get_avatar }}" alt="" width="80" height="80" class="user-avatar">
                </div>

                <div>
                    <span style="display: block; font-size: 21px; line-height: 1.5em;">
                        <a href="{{ settings.APP_HOST }}{% url "profile" intro.author.slug %}" style="text-decoration: underline; font-size: 25px;">{{ intro.author.full_name }}</a> &nbsp;&nbsp;{% user_tag_images intro.author %}<br>
                        {{ intro.author.position }}{% if intro.author.company %} — {{ intro.author.company }}{% endif %}
                    </span>

                    <p>{{ intro.description | truncatechars:350 | nl_to_p }}</p>

                    <span>
                        <a href="{{ settings.APP_HOST }}{% url "show_post" "intro" intro.slug %}">Читать всё #intro или задать вопрос &rarr;</a>
                    </span>
                </div>
            </article>
        {% endfor %}

        {% if intros|slice:"1:" %}
            <p style="font-size: 19px; line-height: 1.4em;">
                и другие:
                {% for intro in intros|slice:"1:" %}
                    <a href="{% url "profile" intro.author.slug %}">{{ intro.author.slug }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}

    <br><br><br>

    <h2>Хорошего дня 😘</h2>

    <br><br><br>
{% endblock %}

{% block footer %}
    <p>
        Напоминаем, что вы всегда можете <a href="{{ settings.APP_HOST }}/notifications/switch/nope/%user_id%/%secret_code%/">отписаться от всех дайджестов</a> или <a href="{{ settings.APP_HOST }}/notifications/switch/weekly/%user_id%/%secret_code%/">перейти на еженедельный журнал</a> чтобы получать только лучший контент за неделю.
    </p>
{% endblock %}
