{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block logo %}
<a href="https://vas3k.club">
    <img src="{{ settings.APP_HOST }}{% static "images/logo/logo-256.png" %}" alt="" height="80" width="80" style="display:inline-block;width: 80px;height: 80px;min-width: 80px; margin-top: 30px;">
</a>
{% endblock %}

{% block title %}
    😐 Мы не можем пустить вас в таком виде
{% endblock %}

{% block body %}
    <p>
        К сожалению, ваш профиль не прошел ревью наших модераторов. Вот причины почему так бывает:
    </p>

    <ul>
        <li>📝 Слишком короткое #intro. Допишите еще хотя бы пару абзацев. Для примера посмотрите чужие, там есть ссылочки. <a href="https://vas3k.club/docs/about/#rules">Наши правила</a> запрещают анонимусов в Клубе — это причина большинства отказов.</li>
        <li>🤔 Много незаполненных полей. Мы не поняли кто вы. Профиль без фамилии или компании вряд ли пройдет модерацию.</li>
        <li>🤪 Вымышленное имя или профессия (например, Олег).</li>
        <li>🙅‍♀️ Наличие фраз типа «не скажу», «не люблю писать о себе», «потом заполню». Потом так потом, мы не торопимся :)</li>
        <li>💨 Душность, глупость или желание обмануть модераторов.</li>
    </ul>

    <br><br>

    <p>
        Клуб — это сообщество взрослых и занятых людей, которые предпочитают познакомиться перед тем, как пускать людей к себе в дом.
        Мы уважаем приватность участников, потому не спрашиваем ваше резюме или СНИЛС.
        Мы лишь хотим услышать вашу честную историю. У каждого она есть.
    </p>

    <p>
        Только так можно построить полезное и недушное коммьюнити. Если вы не согласны с этикетом — мы не в праве вас задерживать.
    </p>

    <p>
        Вот ссылка чтобы исправить анкету и податься на ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
