{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    😱 Вас размодерировали
{% endblock %}

{% block body %}
    <p>
        Модераторы сообщили нам грустную новость.
        Кажется, вы отредактировали свой профиль, удалив из него какие-то данные, из-за чего он больше не удовлетворяет нашим правилам об отсутствии анонимности.
    </p>

    <p>
        В таких случаях мы отправляем людей на повторное прохождение ревью, как при регистрации.
    </p>

    <p>
        Не волнуйтесь, мы ничего не удалили и вам не придётся начинать всё сначала.
        Просто отредактируйте свой профиль так, чтобы не было стыдно перед людьми с большими intro :)
    </p>

    <p>
        Вот кнопочка чтобы нажимать 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Починить профиль</a>
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
