{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    h1, h2, h3, header {
        text-align: left;
    }

    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    Велком дринк 🍸
{% endblock %}

{% block body %}
    <p>
        Добро пожаловать в <a href="{{ settings.APP_HOST }}">Клуб</a>! Ваш профиль успешно прошел модерацию и вы можете заходить.

        {% if not user.is_email_verified %}Только для начала давайте убедимся, что этот почтовый адрес действительно ваш.
        Это нужно, чтобы присылать вам важные уведомления и наш еженедельный журнал.{% endif %}
    </p>

    {% if not user.is_email_verified %}
        <p>
            <a href="{% url "email_confirm" user.id %}" class="button">Подтвердить адрес почты</a>
        </p>
    {% endif %}

    <p>
        Сейча я коротко расскажу что у нас тут и как.
    </p>

    <ul>
        <li>🎩 Клуб — место для всех. Он агрегирует полезность всего <a href="{% url "people" %}">коммьюнити</a>. Смело вливайтесь и приносите годноту.</li>
        <li>🤔 <a href="{% url "docs" "about" %}">Правила Клуба</a> основаны на том, что мы здесь взрослые занятые люди, собравшиеся для взаимной пользы.</li>
        <li>😎 Комментарии больше не зашквар. Да, умные люди давно перестали оставлять комментарии в интернете, но у нас всё меняется. Комментировать в Клубе даже круче и почётнее, чем писать посты.</li>
        <li>🤝 Ценность Клуба не столько в контенте, сколько в готовых помочь людях. У нас есть <a href="{% url "people" %}">поиск по коммьюнити</a>, где можно найти себе ментора для входа в айти или друга для прогулок по Амстердаму.</li>
        <li>💬 Подписывайтесь на наши <a href="{{ settings.APP_HOST }}{% url "network" %}">каналы и чаты</a>. Там кипит жизнь.</li>
        <li>🔨 В Клубе строгие модераторы, которые следят за качеством контента. Без них это всё быстро превратится в имиджборд с анекдотами. Но они тоже живые люди и могут совершать ошибки, потому мы всегда за аргументированный <a href="{% url "docs" "contact" %}">диалог</a>.</li>
        <li>🤖 Не забудьте познакомиться с нашим <a href="{% url "edit_bot" "me" %}">телеграм-ботом</a>. На него завязано много фич.</li>
        <li>🤪 Расслабьтесь и не душните. Все самые глупые вещи в мире были сделаны именно с серьезным выражением лица.</li>
    </ul>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
