{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    h1, h2, h3, header {
        text-align: left;
    }

    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    Велком дринк 🍸
{% endblock %}

{% block body %}
    <p>
        Добро пожаловать в <a href="{{ settings.APP_HOST }}">Клуб</a>! Ваш профиль прошел модерацию и вы можете заходить.
        {% if not user.is_email_verified %}Только для начала убедимся, что этот почтовый адрес действительно ваш.
        Это нужно чтобы присылать вам секретные письма и наш еженедельный журнал.{% endif %}
    </p>

    {% if not user.is_email_verified %}
    <p>
        <a href="{% url "email_confirm" user.id %}" class="button">Подтвердить адрес почты</a>
    </p>
    {% endif %}

    <p>
        Коротко расскажу что у нас тут и как.
    </p>

    <ul>
        <li>🎩 Клуб — это место для всех. Он агрегирует полезность всего коммьюнити, а не отдельных его членов Так что вливайтесь и приносите годноту.</li>
        <li>🤔 Рекомендуем почитать <a href="{% url "docs" "about" %}">правила Клуба</a>. Они основаны на том, что мы здесь взрослые занятые люди, собравшиеся для взаимной пользы.</li>
        <li>🤖 Не забудьте познакомиться с нашим телеграм-ботом. Он бывает полезен и на него завязано много фич. Если вы не привязали его при регистрации, вы всегда можете сделать это еще раз в профиле.</li>
        <li>💬 Подписывайтесь на <a href="{{ settings.TELEGRAM_CLUB_CHANNEL_URL }}">канал клуба</a> и заходите в <a href="{{ settings.APP_HOST }}{% url "network" %}">наши чаты</a>.</li>
        <li>🚶‍♂️ Членство в Клубе можно отменить в любой момент. Аккаунт проживёт до конца оплаченного периода, а потом всё.</li>
        <li>🔨 В Клубе строгие модераторы, которые следят за качеством контента. Без них это всё быстро превратится в детский сад. Но они тоже живые люди, которым свойственно ошибаться, поэтому если вы не согласны с каким-то решением, <a href="{% url "docs" "contact" %}">опишите нам</a> свою позицию.</li>
        <li>🤪 Расслабьтесь и не душните. Все самые глупые вещи в мире были сделаны именно с серьезным выражением лица.</li>
    </ul>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
