Здравствуй добрый человек 🤗

Я готов начать записывать твой вопрос, но для начала напомню:


❗️ Флуд и спам запрещены. Тут действуют все <a href="https://vas3k.club/docs/about/">правила Клуба</a>.

📰 Заголовок должен сразу давать понять суть, а не заигрывать с аудиторией.

📝 Формулируй вопрос как можно точнее.

Правильный вопрос - половина ответа. Расскажи, что ты уже пробовал(а), и что не получилось.

#️⃣ Добавление тегов поможет в поиске аналогичных вопросов и ответов, но они не обязательны.

Кнопка "Комната" позволяет выбрать комнату (клубный тематический чат) в которую также будет опубликован твой вопрос"
