👋 Привет, {{ user.full_name }}!

Я бот Вастрик Справочной. Через меня можно задавать вопросы в <a href="https://vas3k.club/room/questions/chat/">общий канал</a> и соответствующие чаты.

❗️ В Справочной действуют <a href="https://vas3k.club/docs/about/">правила Клуба</a>.

📰 <b>Заголовок должен сразу давать понять суть вопроса</b>, а не быть абстрактным или кликбейтным.

📝 <b>В тексте вопроса нужны детали и контекст</b>. Например, если вы ищете парикмахера, обязательно укажите в каком городе.

☝️ Вопросы с плохим заголовком или без внятного описания <b>будут удаляться</b>.
