👋 Привет, это модератор Клуба.

Мы прочитали ваши интро и не можем пустить вас в Клуб в таком виде. Сейчас в нём слишком много агрессии, а у нас так не принято. Мы строим прочное и дружелюбное коммьюнити, а если вам это не нужно — просто запросите рефанд.

Вот пара советов как можно его улучшить:

❌ Мы не очень ценим агрессию и сарказм в интро. Агрессия — признак слабости и самозащиты, а мы тут не за этим
🤬 Уберите фразы типа «я потом допишу», «я не люблю писать о себе», «я хочу только читать посты» и другие попытки оправдать свою лень
😎 Напишите пару абзацев о своих увлечениях, проектах и интересном жизненном опыте. Это всегда интересно!
⛵️ Поделитесь своими мечтами или планами. Вот если бы у вас появились бесконечные деньги — что бы вы сделали первым делом?
🤝 Интро проверяют живые люди, так что обмануть нас всякими трюками не выйдет

Вот ссылочка чтобы переписать его и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>

P.S.: Подавать несколько раз одно и то же не стоит. Брутфорс модерации быстро приведёт к бану.
