👋 Привет, это модератор Клуба.

Нам не хватает вашего контакта в телеграме для связи. Любое хорошее коммьюнити всегда держится на личных связях. В Клубе тоже принято обращаться друг к другу напрямую за помощью или советом, а для этого нужно знать куда писать.

Наше комьюнити построено вокруг телеграм чатов, поэтому просим добавлять именно его. Другие ссылки тоже можно и так будет даже круче, но без телеги не пустим.

Имя в аккаунтах должно хоть как-то совпадать с именем или никнеймом в Клубе, чтобы люди понимали, что это вы.

Вот ссылочка добавить контактов и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
