👋 Привет, это модератор Клуба.

Нам не хватает ваших контактов для связи или соцсетей. Любое хорошее коммьюнити всегда держится на личных связях. В Клубе тоже принято обращаться друг к другу напрямую за помощью или советом, а для этого нужно знать куда писать.

Добавьте свой аккаунт в телеграме, твиттер, инсту или какие-то еще контакты и соцсети, куда вам можно написать. Телефона или имейла недостаточно.

Имя в аккаунтах должно хоть как-то совпадать с именем или никнеймом в Клубе, чтобы люди понимали, что это вы.

Вот ссылочка добавить контактов и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
