👋 Привет, это модератор Клуба.

Мы посмотрели твой профиль и пока не можем пустить тебя в Клуб потому что в нём очень мало данных о тебе настоящем. Представь как на него посмотрят другие участники, которые честно заполняли свои профили?

Ты можешь лучше! Проверь, что у тебя указана фамилия, компания, положи пару ссылочек на свои блоги, соцсети (не пустые), или что угодно чтобы мы могли познакомиться и начать разговор.

Нет, мы отнюдь не просим скан резюме, мы просто стараемся выдерживать некую планку личных связей. Как и в любом тесном Клубе — на них всё держится.

Держи ссылочку чтобы исправить недочёты и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
