👋 Привет, это модератор Клуба.

Мы посмотрели ваш профиль и он действительно неплох!

У интро явно есть потенциал, но сейчас оно выглядит слишком общим. Мы тоже любим путешествовать, играть в игры и всякое такое, потому хотим услышать что-то уникальное именно из вашей истории!

О чем еще можно рассказать, чтобы избежать «слишком общих» слов:

🏄‍♀️ Допишите ещё пару абзацев о своих увлечениях, хобби или интересном опыте
🔥 Расскажите забавные истории из своей жизни. Может быть вы преезжали или участовали в каких-то ивентах?
⛵️  Поделитесь своими мечтами или планами. Вот если бы у вас стали бесконечные деньги — что бы вы сделали первым делом?
🤖 Похвастайтесь проектом, над которыми работали или расскажите о своих идеях?

Вот ссылочка чтобы дополнить свой рассказ и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
