👋 Привет, это модератор Клуба.

Мы посмотрели твой профиль и он действительно неплох!

У тебя явно есть потенциал, но сейчас твоя история выглядит слишком общей. Да, мы все тоже любим путешествовать, играть в игры и всякое такое, но мы бы хотели услышать именно твою историю, а не общие характеристики.

Вот пара советов как можно избежать слишком общих слов и переписать твое интро:

🏄‍♀️ Допиши ещё пару абзацев о своих увлечениях, хобби или интересном опыте.
🔥 Расскажи забавные истории из своей жизни. Может быть ты преезжал или участовал в каких-то крутых ивентах?
⛵️  Поделись своими мечтами или планами. Вот если бы у тебя стали бесконечные деньги — что бы ты сделал первым делом?
🤖 Похвастайся проектом, над которыми ты работал или расскажи о своих идеях для новых?

Держи ссылочку чтобы дополнить свой рассказ и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
