👋 Привет, это модератор Клуба.

Мы посмотрели твой профиль и пока не можем пропустить тебя в клуб с таким intro :(

Клуб — это сообщество взрослых и занятых людей, которые предпочитают познакомиться перед тем, как пускать людей к себе в дом. Мы уважаем приватность участников, потому не спрашиваем ваше резюме или СНИЛС. Мы лишь хотим услышать вашу честную историю. У каждого она есть.

Да, мы понимаем, писать о себе всегда сложно и непривычно. Вот пара советов как можно улучить интро:

🏄‍♀️ Допиши ещё пару абзацев о своих увлечениях, проектах или интересном опыте.
🔥 Расскажи забавные истории из своей жизни. Может быть ты преезжал или участовал в каких-то крутых ивентах?
⛵️  Поделись своими мечтами или планами. Вот если бы у тебя стали бесконечные деньги — что бы ты сделал первым делом?
🤖 Похвастайся проектом, над которыми ты работал или расскажи о своих идеях для новых?

Держи ссылочку чтобы исправить недочёты и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
