👋 Привет, это модератор Клуба.

Мы посмотрели ваш профиль и пока не можем пропустить вас в Клуб из-за интро. Дополните его, пожалуйста.

Клуб — это сообщество живых людей, которые предпочитают знакомиться перед тем, как пускать кого-то к себе в дом. Нам не нужны резюме или фотографии паспорта, мы лишь хотим услышать вашу историю и узнать чем вы живёте.

Мы понимаем, писать о себе бывает сложно и непривычно. Вот пара советов о том, что обычно работает:

🏄‍♂️ Допишите ещё пару абзацев о себе. Например, опишите своё странное заброшенное хобби или как вы бы провели идеальный выходной
🤖 Похвастайтесь проектом, над которыми вы работал или идеями для новых?
🔥 Расскажите забавные истории из своей жизни. Может быть вы преезжали, участовали в каких-то ивентах, ездили на край света?
⛵️ Поделитесь мечтами и планами на жизнь. Вот если бы у вас появились бесконечные деньги — что бы вы сделали первым делом?
🔗️ Добавьте ссылочек на свои соцсети, если они есть. Так люди смогут узнать о вас хотя бы там.

Вот ссылочка чтобы исправить недочёты и податься на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
