👋 Привет, это модератор Клуба.

Мы посмотрели ваш профиль и пока не можем пропустить вас из-за имени. У нас принято использовать имя + фамилию, либо имя + никнейм, либо просто никнейм, если вы используете его консистентно по интернету. Для этого нужно приложить ссылочки на свои соцсети, чтобы мы видели, что это действительно ваш уникальный псевдоним, а не какой-то дженерик.

- Добавьте фамилию. Мы же должны как-то отличать пятьсот разных Олегов
- Вы можете использовать псевдоним, но тогда у вас должны быть ссылки на аккаунты в соцсетях, где он используется консистентно. В аккаунтах должны быть реальные фолловеры, чтобы мы понимали, что вы действительно известны под данным псевдонимом
- Если нет, скорее всего придётся указать реальное имя и фамилию, иначе никак

Исправьте имя и подайтесь на ревью еще раз: <a href="{{ settings.APP_HOST }}{% url "intro" %}">{{ settings.APP_HOST }}{% url "intro" %}</a>
