{% extends "layout.html" %}

{% block content %}
    <div class="content pay">
        <div class="block pay-description">
            <div class="pay-title">
                Платим 💰<br>
                <small>
                    {% if payment.invited_user_email %}
                        за друга: <strong>{{ payment.invited_user_email }}</strong>
                    {% else %}
                        за аккаунт: <strong>{{ user.email }}</strong>
                    {% endif %}
                </small>
            </div>

            <a href="{{ invoice.url }}" class="button button-big join-button">
                Перейти к оплате
            </a>

            <p style="font-size: 300%; margin: 20px 0;">
                ☝️
            </p>

            <p style="font-size: 90%;">
                Платежи для нас процессит <a href="https://cloudpayments.ru" target="_blank">CloudPayments</a>.
                Клуб не хочет даже видеть данные вашей карты, потому вот вам ссылка на их форму оплаты.
            </p>
        </div>
    </div>
{% endblock %}
