{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="content pay">
        <div class="block pay-description">
            <div class="pay-title">
                Криптой 👾<br>
                <small>
                    за аккаунт: <strong>{{ email }}</strong>
                </small>
            </div>

            <div>
                <br><br>
                Наш платёжный шлюз поддерживает:<br>
                <img src="{% static "images/payments/crypto.png" %}" alt="Поддерживаем: BTC, ETH, USDC, LTC, DAI, DOGE">
            </div>

            <ul class="pay-list">
                <li>⚠️ Это экспериментальный вид оплаты для тех, кто знает, что делает</li>
                <li>💎 Крипта рискована и волатильна, потому цены в два раза выше</li>
                <li>🚨️ <strong>На странице оплаты обязательно укажите вот этот имейл:<br><center>{{ email }}</strong><br><small>(иначе дни начислятся не вам)</small></center></li>
                <li>💸 Дальше страница сгенерирует вам одноразовый кошелек и даст QR код, куда нужно перевести указанную сумму</li>
                <li>⏰ Платежи криптой проходят не сразу — иногда приходится ждать до часа. Вам придёт письмо на почту</li>
                <li>🙅‍♂️ Мы не сможем сделать рефанд в крипте, если вдруг вы не пройдете модерацию или вас забанят, комиссии сожрут всю сумму</li>
            </ul>

            <div>
                <a href="{{ settings.COINBASE_CHECKOUT_ENDPOINT }}{{ product.coinbase_id }}" target="_blank" class="button button-big">
                    💰 Да, я осознаю все риски
                </a>
            </div>
        </div>
    </div>
{% endblock %}
