{% extends "layout.html" %}

{% block content %}
    <div class="block membership-expired">

        <div class="membership-expired-title">Ваша клубная карта истекла 💩</div>


        {% if features.PATREON_AUTH_ENABLED and me.membership_platform_type == "patreon" %}
            <div class="membership-expired-description">
                <p>
                    Нужно обновить данные подписки на Патреоне.
                    Если вы честно всё платили — нажмите на кнопку ниже чтобы авторизоваться еще раз.
                </p>

                <a href="{% url "patreon_login" %}" class="button login-button login-button-patreon"><i class="fab fa-patreon"></i>&nbsp;Обновить данные</a>

                <p>
                    <br>
                    Либо перейдите на прямую оплату, тогда всё будет надолго и автоматически 👇
                </p>
            </div>
        {% else %}
            <div class="membership-expired-description">
                <p>
                    Так бывает, когда вы давно не продлевали свою подписку или на вашей карте просто не осталось денег и теперь вы нищий.
                </p>
                <p>
                    Давайте сделаем с этим что-нибудь!
                </p>
            </div>
        {% endif %}
    </div>


    <div class="block-header" id="select_package">Продлевать будем?</div>

    <br>

    <form action="{% url "pay" %}" method="get">

        {% include "payments/blocks/packages.html" %}

        <br><br><br><br>

        <input type="hidden" name="email" value="{{ me.email }}">

        <button type="submit" class="button button-big join-button">Продлить 🤙</button>

    </form>
{% endblock %}
