{% extends "layout.html" %}

{% block content %}
    <div class="content pay">
        <div class="pay-title">Платим 💰<br><small>аккаунт: {{ user.email }}</small></div>

        <div class="block pay-form">
            <div class="pay-description">
                Платежи для нас процессит <a href="https://stripe.com" target="_blank">Stripe</a>.
                Клуб не хочет даже видеть данные вашей карты, так что вот вам кнопочка чтобы перейти на их форму оплаты.
            </div>
            <stripe-checkout session-id="{{ session.id }}"></stripe-checkout>
        </div>
    </div>
{% endblock %}
