{% extends "layout.html" %}

{% block content %}
    <div class="content pay">
        <div class="block pay-description">
            <div class="pay-title">
                Платим 💰<br>
                <small>
                    {% if payment.invited_user_email %}
                        за друга: <strong>{{ payment.invited_user_email }}</strong>
                    {% else %}
                        за аккаунт: <strong>{{ user.email }}</strong>
                    {% endif %}
                </small>
            </div>

            <stripe-checkout-button
                public-key="{{ settings.STRIPE_PUBLIC_KEY }}"
                session-id="{{ session.id }}"
                class="button button-big pay-button">
                Перейти к оплате
            </stripe-checkout-button>

            <p style="font-size: 300%; margin: 20px 0;">
                ☝️
            </p>

            <p style="font-size: 90%;">
                Платежи для нас процессит <a href="https://stripe.com" target="_blank">Stripe</a>.
                Кнопочка выше перенесёт вас на их специальную безопасную страницу оплаты.
                Клуб не видит и не хранит никаких платёжных данных.
            </p>
        </div>

        <div class="block pay-warning">
            <p>
                ⚠️ С оплатой из <strong>России и Беларуси</strong> сейчас могут быть проблемы из-за санкций.
                Пробуйте разные карты, UnionPay и Apple/Google Pay.
            </p>
            <p>
                💎 Если ничего не помогает — попробуйте нашу экспериментальную <a href="{% url "crypto" %}?product_code={{ product.code }}&email={{ user.email }}"><strong>оплату криптой</strong></a>
            </p>
            <p>
                🤔 За другими вариантами заходите на почту <a href="mailto:club@vas3k.club"><strong>club@vas3k.club</strong></a>
            </p>
        </div>
    </div>
{% endblock %}
