{% extends "posts/show/post.html" %}
{% load static %}
{% load posts %}
{% load text_filters %}

{% block pre_comments %}
    <div class="block post-guide-rules">
        <div class="post-guide-rules-header">
            🌍 Это — <a href="https://vas3k.club/guide/11625/">Клубный Путеводитель</a>. Коллективный пост, где мы собираем туристические гайды по своим городам для соклубников
        </div>
        <div class="post-guide-rules-description">
            <ul>
                <li><strong>Знаете еще классные места, которых нет в гайде?</strong> Дополняйте в комментариях, автор будет рад их закрепить.</li>
                <li><strong>Живёте в этом городе?</strong> Подпишитесь на пост, вдруг кому-то понадобится помощь.</li>
                <li><strong>Хотите дополнить путеводитель?</strong> Свяжитесь с автором и договоритесь о коллабе, у нас можно добавляться в соавторы.</li>
                <li><strong>Хотите написать о своём городе?</strong> Читайте <a href="https://vas3k.club/guide/11625/">правила формата</a> и присоединяйтесь!</li>
            </ul>
        </div>
    </div>

    {% if linked_posts %}
        {% include "posts/widgets/linked_posts.html" %}
    {% endif %}
{% endblock %}
