{% extends "layout.html" %}
{% load static %}
{% load posts %}
{% load text_filters %}

{% block title %}
    {% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title }}{% if post.topic %} [{{ post.topic.name }}]{% endif %} — {{ block.super }}
{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title }} — {{ settings.APP_NAME }}">
    <meta property="og:site_name" content="{{ settings.APP_NAME }}">
    <meta property="og:url" content="{{ settings.APP_HOST }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ post.description | truncatechars:100 }}">
    <meta property="og:image" content="{{ post | any_image }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title }} — {{ settings.APP_NAME }}">
    <meta name="twitter:description" content="{{ post.description | truncatechars:100 }}">
    <meta name="twitter:image" content="{{ post | any_image }}">
{% endblock %}

{% block content %}
    {% block post %}
        <div class="content h-entry">
            {{ post }}
        </div>
    {% endblock %}

    <div class="content">
        {% block comments %}
            <div class="post-comments" id="comments">
                <div class="post-comments-title">
                    {% if post.comment_count > 0 %}
                        <a href="#comments" class="post-comments-count">
                            {{ post.comment_count }}  {{ post.comment_count | rupluralize:"комментарий,комментария,комментариев" }} 👇
                        </a>

                        <form action=".#comments" method="get" class="post-comments-order">
                            <select name="comment_order" onchange="this.form.submit()">
                                <option value="-upvotes" {% if comment_order == "-upvotes" %}selected{% endif %}>по крутости</option>
                                <option value="-created_at" {% if comment_order == "-created_at" %}selected{% endif %}>по свежести</option>
                                <option value="created_at" {% if comment_order == "created_at" %}selected{% endif %}>по порядку</option>
                            </select>
                        </form>
                    {% elif post.is_commentable and post.is_visible %}
                        <a href="#comments" class="post-comments-count">
                            Откомментируйте первым 👇
                        </a>
                    {% endif %}

                    {% if me %}
                        <post-subscription
                            url="{% url "toggle_post_subscription" post.slug %}"
                            {% if subscription %}is-active-by-default{% endif %}
                            class="post-comments-subscription"
                        >
                        </post-subscription>
                    {% endif %}
                </div>

                {% if comments %}
                    <div class="post-comments-list">
                        {% include "comments/list.html" with comments=comments reply_form=reply_form type="normal" %}
                    </div>
                {% endif %}

                {% if me and post.is_commentable and post.is_visible or me.is_moderator %}
                    <div class="post-comments-form">
                        {% include "comments/forms/comment.html" with post=post form=comment_form %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {% if me and not post.is_commentable %}
            {% include "posts/widgets/not_commentable.html" %}
        {% endif %}

        {% if not me %}
            {% include "posts/widgets/join_the_club.html" %}
        {% endif %}
    </div>
{% endblock %}
