{% extends "posts/show/layout.html" %}
{% load static %}
{% load posts %}
{% load text_filters %}

{% block post %}
<section class="content">
    <article class="post post-type-post">
        {% block post_header %}
            <header class="post-header">
                <div class="post-info">
                    {% if post.topic %}
                        {% include "posts/widgets/topic.html" with topic=post.topic type="post" %}
                    {% endif %}
                </div>

                <h1 class="post-title">
                    {% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title | rutypography }}
                </h1>

                <span class="post-is-public">
                    {% if post.is_public %}
                        <i class="fas fa-globe-americas"></i>&nbsp;Публичный пост
                    {% else %}
                        <i class="fas fa-lock"></i>&nbsp;Только для своих
                    {% endif %}
                </span>

                <a class="post-data">
                    {% if post.deleted_at %}
                        <div class="post-label">
                            <span class="label label-type-deleted">
                                <span class="label-title">Удалённый пост</span>
                            </span>
                        </div>
                    {% elif not post.is_visible %}
                        <div class="post-label">
                            {% include "posts/widgets/draft_label.html" %}
                        </div>
                    {% endif %}

                    <div class="post-actions-line">
                        {% include "posts/widgets/post_actions_line.html" %}
                    </div>

                    {% if post.metadata.badges %}
                        <a class="post-badges post-badges-center" href="{% url "profile_badges" post.author.slug %}">
                            {% include "badges/widgets/badges.html" with badges=post.metadata.badges %}
                        </a>
                    {% endif %}

                    <div class="post-author">
                        {% include "users/widgets/tiny.html" with user=post.author %}

                        {% if post.coauthors %}
                            {% for coauthor in post.coauthors_with_details %}
                                &nbsp;&nbsp;
                                {% include "users/widgets/tiny.html" with user=coauthor %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    {% if post.label %}
                        <div class="post-label">
                            {% include "posts/widgets/label.html" with label=post.label %}
                        </div>
                    {% endif %}

                    {% if post.image %}
                        <div class="post-image">
                            <img src="{{ post.image }}" alt="{{ post.title }}">
                        </div>
                    {% endif %}
                </div>
            </header>
        {% endblock %}

        {% block post_text %}
            <section class="post-text">
                {% block post_upvote %}
                    <post-upvote :initial-upvotes="{{ post.upvotes }}"
                                 :hours-to-retract-vote="{{settings.RETRACT_VOTE_IN_HOURS}}"
                                 upvote-url="{% url "upvote_post" post.slug %}"
                                 retract-vote-url="{% url "retract_post_vote" post.slug %}"
                                 {% if is_voted %}
                                    initial-is-voted
                                    initial-upvote-timestamp={{upvoted_at}}
                                 {% endif %}
                                 {% if not me|can_upvote:post or upvote_disabled %}is-disabled{% endif %}>
                    </post-upvote>
                {% endblock %}

                <div class="text-body text-body-type-post e-content">
                    {% render_post post %}
                </div>
            </section>
        {% endblock %}

        {% block post_footer %}
            {% if me and collectible_tag %}
                <section class="block post-collectible-tag-block">
                    <div class="post-collectible-tag-bg">
                        💎
                    </div>

                    <div class="post-collectible-tag-header">
                        💎 Вы нашли коллекционный тег!
                    </div>

                    <user-tag tag-name="{{ collectible_tag.name }}"
                              tag-color="{{ collectible_tag.color }}"
                              class="user-tag post-collectible-tag"
                              url="{% url "toggle_tag" collectible_tag.code %}"
                              {% if is_collectible_tag_collected %}is-active-by-default{% endif %}
                    ></user-tag>

                    <div class="post-collectible-tag-description">
                        Если на него клацнуть — он добавится в ваш профиль.
                        Так все будут видеть, что вы интересуетесь данной темой, а вы начнёте получать уведомления о будущих постах с таким же тегом.
                    </div>
                </section>
            {% endif %}

            <footer class="post-footer p-author">
                {% include "users/widgets/card.html" with user=post.author %}

                {% if post.coauthors %}
                    {% for coauthor in post.coauthors_with_details %}
                        {% include "users/widgets/card.html" with user=coauthor %}
                    {% endfor %}
                {% endif %}
            </footer>
        {% endblock %}
    </article>
</section>
{% endblock %}
