{% extends "message.html" %}
{% load text_filters %}

{% block message %}
    <h2>✋ У вас осталось всего {{ me.membership_days_left|floor }} {{ me.membership_days_left|rupluralize:"день,дня,дней" }} членства</h2>

    <p>
        Этого слишком мало, чтобы дарить награды другим.
        Чтобы не вводить новые способы оплаты, награды в Клубе оплачиваются днями членства в нём.
    </p>

    <p>
        Так что рекомендуем пополнить баланс, чтобы выдавать награды всем желающим.
    </p>

    <p>
        <br><a href="{% url "edit_payments" me.slug %}" class="button">Пополнить баланс</a>
    </p>
{% endblock %}
