{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{ title | default:"Админим" }} — {{ block.super }}
{% endblock %}

{% block content %}

<div class="content compose">
    <div class="content-header">Админим</div>
    <div class="block compose-types">
        <a href="{% url "godmode_digest_settings" %}" class="compose-type">
            <span class="compose-type-icon">📰</span>
            <span class="compose-type-name">Дайджест</span>
        </a>
        <a href="{% url "godmode_invite" %}" class="compose-type">
            <span class="compose-type-icon">🎁</span>
            <span class="compose-type-name">Инвайты</span>
        </a>
        <a href="{% url "admin:index" %}" class="compose-type">
            <span class="compose-type-icon">💿</span>
            <span class="compose-type-name">Админка</span>
        </a>
        <a href="{% url "badge_generator" %}" class="compose-type">
            <span class="compose-type-icon">🪪</span>
            <span class="compose-type-name">Генератор бейджиков</span>
        </a>
        <a href="{% url "mass_note" %}" class="compose-type">
            <span class="compose-type-icon">📝</span>
            <span class="compose-type-name">Массовые заметки</span>
        </a>
    </div>
</div>
{% endblock %}
