{% extends "layout.html" %}

{% block title %}
        Редактируем интро — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content compose">
            <div class="content-header">Редактируем интро</div>

        <div class="block compose-text">
            <form action="." method="post" class="compose-form" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-row form-row-center">
                        {% for error in form.non_field_errors %}
                            <span class="form-row-errors">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form-row compose-form-title">
                    {{ form.title }}
                    {% if form.title.errors %}<span class="form-row-errors">{{ form.title.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-text">
                    <label for="{{ form.text.id_for_label }}" class="form-label">Текст интро</label>
                    {{ form.text }}
                    {% if form.text.errors %}<span class="compose-form-errors">{{ form.text.errors }}</span>{% endif %}
                    <span class="form-row-help form-row-help-wide">
                        Можно использовать <a href="https://doka.guide/tools/markdown/" target="_blank">Markdown</a>.
                        Для загрузки картинок просто перетащите их в редактор.
                    </span>
                </div>

                <div class="form-row compose-form-text">
                    <div class="block form-warning">
                        ⚠️ После изменения интро оно снова попадет на ревью к нашим модераторам.
                        Вам не придётся ждать модерации, однако если ваше интро вдруг перестанет соответствовать нашим стандартам качества — вас отправят проходить модерацию повторно.
                    </div>
                </div>

                <div class="form-row form-row-space-between">
                    <button type="submit" name="is_visible" value="true" class="button">
                        Сохранить изменения
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
