{% extends "layout.html" %}

{% block title %}
    {% if mode == "edit" %}
        Редактируем ссылку — {{ block.super }}
    {% else %}
        Новая ссылка — {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content compose">
        {% if mode == "create" %}
            <div class="content-header">Новая ссылка</div>
        {% elif mode == "edit" %}
            <div class="content-header">Редактируем ссылку</div>
        {% else %}
            <div class="content-header">Ссылка</div>
        {% endif %}

        <div class="content-description content-description-left">
            <p>
                Приносите сюда всё, что интересно показать или обсудить вместе!
            </p>

            <p>
                🚨 Основные правила:
            </p>

            <ol>
                <li><strong>Напишите развёрнутый TL;DR</strong> чтобы всем было понятно стоил ли кликать. Ссылки с описанием из одного предлождения будут удаляться</li>
                <li><strong>Нельзя: новости, рекламу, политоту и срачи.</strong></li>
            </ol>
        </div>

        <div class="block compose-text">
            <form action="." method="post" class="compose-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row form-row-center">
                    {{ form.topic }}
                    {% if form.topic.errors %}<span class="form-row-errors">{{ form.topic.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-title">
                    {{ form.url }}
                    {% if form.url.errors %}<span class="form-row-errors">{{ form.url.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-title">
                    {{ form.title }}
                    {% if form.title.errors %}<span class="form-row-errors">{{ form.title.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-text">
                    <label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}</label>
                    {{ form.text }}
                    {% if form.title.errors %}<span class="compose-form-errors">{{ form.title.errors }}</span>{% endif %}
                    <span class="form-row-help form-row-help-wide">Можно использовать <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown</a></span>
                </div>

                {% include "posts/compose/elements/post_settings.html" %}

                {% if form.non_field_errors %}
                    <div class="form-row form-row-center">
                        {% for error in form.non_field_errors %}
                            <span class="form-row-errors">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                {% include "posts/compose/elements/save_buttons.html" %}
            </form>
        </div>
    </div>
{% endblock %}
