{% extends "layout.html" %}
{% load static %}

{% block title %}
    Настройки аккаунта — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">🔑<br>Настройки аккаунта</div>

        <div class="block">

            <div class="block-description block-description-center">
                <p>
                    E-mail для входа и уведомлений: <strong>{{ user.email }}</strong>
                </p>

                <p>
                    Ваш юзернейм в Клубе: <strong>{{ user.slug }}</strong>
                </p>
            </div>

            <div class="block-description">
                Сменить их можно, только <a href="mailto:club@vas3k.club">написав нам</a> на почту.
                От частой смены этих настроек могут поломаться комментарии и уведомления у других пользователей,
                потому пока мы предпочитаем делать это руками.
            </div>
        </div>

        <div class="block">
            <div class="block-header">🔑<br>Секретный код для входа</div>

            <div class="block-description">
                <p>
                    Подарок для любителей менеджеров паролей и нелюбителей постоянно вводить одноразовые коды.
                    Специальный логин-код для быстрого входа в Клуб!
                </p>

                <p>
                    <strong>Сохраните его в свой менеджер паролей</strong> и используйте вместо логина, чтобы моментально входить на сайт.
                </p>

                <input type="text" value="{{ me.secret_auth_code }}" style="width: 90%;" readonly>

                <p>
                    Никогда не используйте код на чужих компьютерах! Мало ли какой браузер решит его прокешировать. Там безопаснее входить по почте.
                </p>

                <p>
                    Если вы всё-таки где-то спалились, нажмите на кнопку ниже чтобы перегенерировать код 👇
                </p>

                <form action="." method="post">
                    {% csrf_token %}
                    <button type="submit" name="regenerate" value="true" class="button" onclick="return confirm('Точно?')">Перегенерировать</button>
                </form>
            </div>
        </div>

        <div class="block">
            <div class="block-header" style="color: red;">🧨 Удаление профиля</div>

            <div class="block-description">
                <p>
                    Мы в Клубе поддерживаем «Право на забвение», потому в любой момент готовы честно стереть ваши персональные данные из базы.
                    Если вы хотите унести их с собой — <a href="{% url "edit_data" user.slug %}">запросите архив</a>.
                </p>

                <p>
                    Вот как мы это делаем:
                </p>

                <ul>
                    <li>☠️ <b>Все данные из вашего профиля, включая интро, места работы и хобби, удаляются из базы навсегда</b>. Восстановить аккаунт не получится даже через саппорт</li>
                    <li>☠️ Отменяется подписка на блог и другие зависимые проекты</li>
                    <li>☠️ <b>Все ваши посты станут анонимными</b>. Под ними могут остаться комментарии других людей, который мы не имеем права удалять. Вы можете очистить содержимое своих постов при желании</li>
                    <li>☠️ <b>Ваши комментарии тоже анонимизируются</b>, чтобы не ломать ветки обсуждений. Вы всегда можете удалить их руками</li>
                    <li>☠️ <b>У вас будет 5 дней на восстановление</b>, если вдруг вас взломали или вы удалились по ошибке</li>
                </ul>

                <p>
                    Если готовы, напишите «{{ settings.GDPR_DELETE_CONFIRMATION }}» в поле внизу
                </p>
            </div>

            <div class="block-description block-description-center">
                <form action="{% url "request_delete_account" user.slug %}" method="post" onsubmit="return confirm('Точно?')">
                    {% csrf_token %}
                    <input type="text" name="confirm" placeholder="{{ settings.GDPR_DELETE_CONFIRMATION }}" style="width: 280px;" required>
                    <button type="submit" class="button button-small button-red">Подтверждаю</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
