{% extends "layout.html" %}
{% load static %}

{% block title %}
    Клубные взносы — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">🔑<br>Секретный код</div>

        <div class="block-description">
            <p>
                Подарок для любителей парольных менеджеров и нелюбителей каждый раз ждать код по почте.
                Специальный супер-секретный логин-код для входа!
            </p>

            <p>
                Сохраните его в свой менеджер паролей и используйте вместо почты, чтобы моментально входить на сайт.
            </p>

            <input type="text" value="{{ me.secret_auth_code }}" style="width: 90%;" readonly>

            <p>
                На чужих компьютерах лучше входить по почте! Так безопаснее и браузер не закеширует ваш код.
            </p>

            <p>
                Если вы всё-таки где-то спалились, нажмите на кнопку ниже чтобы перегенерировать его 👇
            </p>

            <form action="." method="post">
                <button type="submit" name="regenerate" value="true" class="button" onclick="return confirm('Точно?')">Перегенерировать</button>
            </form>
        </div>
    </div>
{% endblock %}
