{% extends "layout.html" %}
{% load static %}

{% block title %}
    Клубные взносы — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">🔑<br>Секретный код</div>

        <div class="block-description">
            <p>
                Подарок для любителей менеджеров паролей и нелюбителей постоянно вводить одноразовые коды (типа меня).
                Специальный супер-секретный логин-код для входа в Клуб!
            </p>

            <p>
                <strong>Сохраните его в свой менеджер паролей</strong> и используйте вместо логина, чтобы моментально входить на сайт.
            </p>

            <input type="text" value="{{ me.secret_auth_code }}" style="width: 90%;" readonly>

            <p>
                Никогда не используйте код на чужих компьютерах! Мало ли какой браузер решит его прокешировать. Там безопаснее входить по почте.
            </p>

            <p>
                Если вы всё-таки где-то спалились, нажмите на кнопку ниже чтобы перегенерировать код 👇
            </p>

            <form action="." method="post">
                <button type="submit" name="regenerate" value="true" class="button" onclick="return confirm('Точно?')">Перегенерировать</button>
            </form>
        </div>
    </div>
{% endblock %}
