{% extends "layout.html" %}
{% load static %}

{% block title %}
    Бот — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">🤖<br>Телеграм-бот</div>

        <div class="block">
            <div class="block-description">
                <p>
                    <strong>Бот — ваш личный компаньон для взаимодействия с Клубом.</strong>
                    Он оповещает о новых комментариях, наградах, статусе модерации постов и причинах отказа.
                    Через него можно даже отвечать на комменты и посты, не открывая сайт.
                </p>

                <p>
                    Короче, бот удобнее и быстрее, чем захламлять вам почтовый ящик. Подключите его :)
                </p>

                <p>
                    {% if user.telegram_id %}
                        <strong>Сейчас привязан аккаунт: {{ user.telegram_data.username }} ✅</strong>
                    {% endif %}
                </p>

                <p>
                    <a href="{{ settings.TELEGRAM_BOT_URL }}?start={{ me.secret_hash }}" target="_blank" class="button button-blue">
                        Привязать бота
                    </a>
                </p>

                <p style="font-size: 80%; opacity: 0.8; padding-top: 80px;">
                    🥶️ Если совсем ничего не помогает, откройте бота и скопируйте ему команду:<br>
                    <strong>/auth {{ user.secret_hash }}</strong><br><br>
                    Только никому не говорите этот код!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
