{% extends "layout.html" %}
{% load static %}

{% block title %}
    Данные — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">💾<br>Мои данные</div>

        <div class="block-description block-description-center">
            <p>
                Клуб не стремится стать очередным <a href="https://en.wikipedia.org/wiki/Closed_platform" target="_blank">огороженным садом</a> — платформой, которая присваивает весь контент и торгует вниманием пользователей, не оставляя им выбора.
            </p>

            <p>
                Клуб — площадка авторского контента.
                Каждый участник имеет право забрать свои персональные данные, перевезти свой контент на другую платформу или удалиться.
                Мы не скрываем от участников как работает Клуб и на чём он зарабатывает.
            </p>
        </div>

        <div class="block">
            <div class="block-header">📦 Архив с данными</div>

            <div class="block-description">
                <p>
                    Здесь вы можете скачать архив со своими данными.
                    С ним вы сможете легко переехать на любую другую платформу или сделать бекап на случай смерти Клуба.
                </p>

                <p>
                    В архиве будут:
                </p>

                <ul>
                    <li>👩‍💼 <strong>Ваш профиль</strong> со всеми бейджиками, интро и другой собранной информацией в <strong>.json</strong></li>
                    <li>📝 Все <strong>написанные вами посты</strong> и комменты пользователей к ним в форматах <strong>.md</strong> и <strong>.json</strong></li>
                    <li>💬 Все <strong>ваши комменты</strong> к другим постам (включая удалённые) в <strong>.md</strong> и <strong>.json</strong></li>
                    <li>🔖 <strong>Ваши закладки</strong> в виде списка ссылок в <strong>.json</strong></li>
                </ul>

                <p>
                    Файлы в архиве легко откроются в вашем любимом текстовым редакторе.
                    <strong>Markdown</strong> — стандарт разметки постов, который будет легко скопипастить куда нужно.
                    <strong>JSON</strong> — машинно-читаемый формат, удобный для гиков со скриптами.
                </p>
            </div>

            <div class="block-description block-description-center">
                <form action="{% url "request_user_data" user.slug %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button">Сгенерировать архив</button>
                </form>
            </div>
        </div>

        <div class="block" id="license">
            <div class="block-header">📚 Авторские права</div>

            <div class="block-description">
                <p>
                    Чтобы авторы могли защитить свои права,
                    но при этом не засудили сам Клуб или невинно процитировавших их читателей,
                    мы договорились об открытой лицензии по-умолчанию.
                </p>

                <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ru" target="_blank" class="license">
                    <img src="{% static "images/license/cc.png" %}" alt="CC">
                    <img src="{% static "images/license/by.png" %}" alt="BY">
                    <img src="{% static "images/license/sa.png" %}" alt="SA">
                    <br>
                    CC BY-SA 4.0
                </a>

                <p>
                    Коротко, это означает:
                </p>

                <ul>
                    <li><strong>Все исключительные права остаются у автора</strong>. Он может размещать посты на других площадках, ровно как и скопировать их в Клуб. Но если он продаст свои права издателю, а тот захочет засудить всех задним числом — лицензия СС защитит читателей.</li>
                    <li>Другие члены Клуба <strong>могут делиться</strong> контентом, цитировать, создавать новые материалы на основе оригинала <strong>при наличии ссылки на оригинал</strong>.</li>
                    <li>Любые производные работы <strong>должны распространяться на тех же условиях</strong>. Не уверены — спросите автора, он всегда может разрешить вам.</li>
                    <li>В коммерческих целях контент использовать <strong>можно</strong>.</li>
                    <li><strong>Сам Клуб подчиняется тем же правилам</strong> открытой лицензии и не пытается оставлять себе лазейки, как это делают популярные соцсети.</li>
                </ul>

                <p>
                    Ну и некоторые вещи, которые не сразу очевидны:
                </p>

                <ul>
                    <li>Автор имеет полное право указать другую лицензию при публикации, если стандартная его не устраивает.</li>
                    <li>В любой непонятной ситуации — спросите у автора. Если он письменно разрешит вам — это будет считаться.</li>
                    <li>Модераторы Клуба могут удалять и редактировать посты. Мы стараемся не злоупотреблять этим, но кто-то же должен исправлять ошибки в -тся/-ться.</li>
                    <li>Комментарии — тоже авторский контент</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
