{% extends "layout.html" %}
{% load static %}

{% block title %}
    Удаление аккаунта — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">☠️<br>Удаление аккаунта</div>

        <div class="block">
            <div class="block-description">
                Предупреждение для тупых
            </div>

            <div>
                <form action="." method="post">
                    <input type="hidden" name="code" value="{{ code }}">
                    <input type="hidden" name="secret" value="{{ secret }}">
                    <input type="text" name="signature">
                    <button type="submit">Точно удалить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
