{% extends "layout.html" %}
{% load static %}

{% block title %}
    Уведомления — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <form action="{% url "edit_notifications" user.slug %}" method="post" class="intro-form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-title">💌<br>Уведомления</div>

            {% if form.non_field_errors %}
                <div class="form-row form-row-center">
                    {% for error in form.non_field_errors %}
                        <span class="form-row-errors">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="block" id="digest-settings">
                <div class="block-header">📫<br>Как хотите следить за постами и комментами?</div>

                {% if not form.instance.is_email_verified %}
                    <br>
                    <div class="block form-warning">
                        ⚠️ Вы не подтвердили свой адрес электронной почты, так что мы пока не будем слать на него рассылки.
                        Кнопка подтверждения была в «Велком дринке». Если вы удалили то письмо, придётся написать нам <a href="mailto:club@vas3k.club">на почту</a>.
                    </div>
                {% endif %}

                <div class="clearfix20"></div>

                <div class="form-row">
                    <div class="big-radio compose-visibility">
                        <div class="big-radio-item">
                            {{ form.email_digest_type.1.tag }}
                            <label for="{{ form.email_digest_type.1.id_for_label }}" class="big-radio-label">
                                <i class="fas fa-robot"></i>
                                <span class="big-radio-title">Телеграм-дайджест каждый день</span>
                                <span class="big-radio-description">Всё самое свежее вам в бота</span>
                            </label>
                        </div>
                        <div class="big-radio-item">
                            {{ form.email_digest_type.2.tag }}
                            <label for="{{ form.email_digest_type.2.id_for_label }}" class="big-radio-label">
                                <i class="fas fa-envelope"></i>
                                <span class="big-radio-title">Только журнал раз в неделю</span>
                                <span class="big-radio-description">Подборка лучшего по понедельникам</span>
                            </label>
                        </div>
                        <div class="big-radio-item">
                            {{ form.email_digest_type.0.tag }}
                            <label for="{{ form.email_digest_type.0.id_for_label }}" class="big-radio-label">
                                <i class="fas fa-skull-crossbones"></i>
                                <span class="big-radio-title">Не надо ничего</span>
                                <span class="big-radio-description">Я всё забуду и умру в одиночестве</span>
                            </label>
                        </div>
                    </div>
                    {% if form.email_digest_type.errors %}<span class="form-row-errors">{{ form.email_digest_type.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button button-red">Сохранить изменения</button>
            </div>

            <div class="block" id="digest-settings">
                <div class="block-header">Другие способы быть в курсе 👇</div>

                <div class="block-description" style="text-align: left; padding-top: 40px;">
                    <a href="{{ settings.TELEGRAM_CLUB_CHANNEL_URL }}" rel="noreferrer" target="_blank" style="font-weight: bold;">Телеграм-канал Клуба</a> — туда модераторы отбирают лучший контент. Он же главный источник всех анонсов.<br><br>
                    <a href="{% url "network" %}" rel="noreferrer" target="_blank" style="font-weight: bold;">Секретные Чаты</a> — наша сеть чатов обо всём. Туда автоматически попадают тематические посты.<br><br>
                    <a href="https://twitter.com/vas3k_club" rel="noreferrer" target="_blank" style="font-weight: bold;">Твиттер</a> — автоматическая лента новых постов в твиттере.<br><br>
                    <a href="{{ settings.TELEGRAM_ONLINE_CHANNEL_URL }}" rel="noreferrer" target="_blank" style="font-weight: bold;">Онлайн</a> — прямой эфир всего. Только для самых хардкорных.<br><br>
                    <strong>RSS:</strong> <a href="{% url "rss" %}">vas3k.club/posts.rss</a> <a href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fvas3k.club%2Fposts.rss" target="_blank" style="font-weight: bold;">[добавить в Feedly]</a><br><br>
                    <a href="{% url "edit_bot" user.slug %}" target="_blank" style="font-weight: bold;">Подключите нашего бота</a> — он будет приносить уведомления, касающиеся лично вас.
                </div>
            </div>
        </form>
    </div>
{% endblock %}
