{% extends "layout.html" %}
{% load static %}

{% block title %}
    Редактирование профиля — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <form action="{% url "edit_profile" user.slug %}" method="post" class="intro-form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-title">😎<br>Редактирование профиля</div>

            {% if form.non_field_errors %}
                <div class="form-row form-row-center">
                    {% for error in form.non_field_errors %}
                        <span class="form-row-errors">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="block">
                <div class="form-row">
                    <user-avatar-input
                        input-id="{{ form.avatar.id_for_label }}"
                        current-avatar="{{ user.get_avatar }}"
                    ></user-avatar-input>
                    {{ form.avatar }}
                    {% if form.avatar.errors %}<span class="form-row-errors">{{ form.avatar.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    <label for="{{ form.company.id_for_label }}" class="form-label">
                        Компания
                    </label>
                    {{ form.company }}
                    {% if form.company.errors %}<span class="form-row-errors">{{ form.company.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    <label for="{{ form.position.id_for_label }}" class="form-label">
                        Должность
                    </label>
                    {{ form.position }}
                    {% if form.position.errors %}<span class="form-row-errors">{{ form.position.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    <label for="{{ form.country.id_for_label }}" class="form-label">
                        Страна и город
                    </label>
                    {{ form.country }} {{ form.city }}
                    {% if form.country.errors %}<span class="form-row-errors">{{ form.country.errors }}</span>{% endif %}
                    {% if form.city.errors %}<span class="form-row-errors">{{ form.city.errors }}</span>{% endif %}
                    <span class="form-row-help">Вдруг мы решим собраться на митап или типа того</span>
                </div>

                <div class="form-row">
                    <label for="{{ form.bio.id_for_label }}" class="form-label">
                        Ссылочки на себя и всякое такое
                    </label>
                    {{ form.bio }}
                    {% if form.bio.errors %}<span class="form-row-errors">{{ form.bio.errors }}</span>{% endif %}
                    <span class="form-row-help">
                        Используйте Markdown и Эмодзи чтобы сделать красиво. Всё зависит от вашего воображения
                    </span>
                </div>

                <div class="form-row">
                    <label for="{{ form.contact.id_for_label }}" class="form-label">
                        Контакт для обратной связи
                    </label>
                    {{ form.contact }}
                    {% if form.contact.errors %}<span class="form-row-errors">{{ form.contact.errors }}</span>{% endif %}
                    <span class="form-row-help">Он будет виден другим участникам Клуба. Так они смогут вам написать и завязать нетворкинг. Наружу он не виден.</span>
                </div>

                <button type="submit" class="button button-big">Сохранить изменения</button>

                <div class="clearfix50"></div>
            </div>
        </form>
    </div>
{% endblock %}
