{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    💩 Вас забанили
{% endblock %}

{% block body %}
    <p>
        Вы натворили что-то плохое и чего модераторам пришлось выписать вам бан <strong>на {{ days }} {{ days | rupluralize:"день,дня,дней" }}</strong>.
    </p>

    {% if reason %}
        <p style="font-size: 22px;">
            <strong>Причина:</strong> {{ reason }}
        </p>
    {% endif %}

    <p>
        Бан истечёт <strong>{{ is_banned_until | date:"j E Y" }}</strong>. Используйте это время для раздумий.
    </p>

    <p>
        Да, нам тоже очень жаль. Мы стараемся построить доброжелательное коммьюнити, но именно поэтому нам приходится изолировать тех, кто вредит ему.
        Бан чаще всего означает, что вред, наносимый вами сообществу, внезапно стал больше пользы.
        В таких случаях мы вынуждены удалять индивидов, чтобы спасти систему в целом.
    </p>

    <p>
        Перед тем, как писать гневное письмо о том, какие мы все тут мрази, рекомендуем отдохнуть от Клуба хотя бы сутки, и попытаться понять мотивы обеих сторон.
        Затем можете спокойно и без эмоций рассказать о своих мыслях в ответ на это письмо и попробовать договориться. Но не сейчас. Сейчас налей винца!
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
