{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    💩 Вас забанили
{% endblock %}

{% block body %}
    <p>
        Вы что-то натворили и модераторам пришлось выписать вам бан <strong>на {{ days }} {{ days | rupluralize:"день,дня,дней" }}</strong>.
    </p>

    {% if reason %}
        <p style="font-size: 22px;">
            <strong>Причина:</strong> {{ reason }}
        </p>
    {% endif %}

    <p>
        Бан истечёт <strong>{{ user.is_banned_until | date:"j E Y" }}</strong>. Используйте это время для раздумий.
    </p>

    <p>
        Напоминаем вам, что баны в Клубе прогрессивные. За каждое следующее нарушение, даже маленькое,
        система будет начислять прогрессивно больше дней бана, пока не дойдёт до вечного.
    </p>

    <p>
        Перед тем, как писать в ответ гневное письмо о том, какие мы все тут мрази, рекомендуем передохнуть от Клуба хотя бы сутки,
        отрефлексировать, что произошло, и насколько это соответствует ценностям нашего Клуба. Ну и бахните винца, это помогает.
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
