{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    🔥 Ждём вас на Вастрик Кэмпе 2024
{% endblock %}

{% block body %}
    <p>
        Ура! ТЫ ЕДЕШЬ НА ПЕРВЫЙ В ИСТОРИИ ВАСТРИК 🔥 КЭМП в Сербии, 31 мая – 2 июня 2024 года.
    </p>

    <p>
        Что дальше?
    </p>

    <ul>
        <li>✈️ Твое участие в Кэмпе гарантировано, поэтому самое время заняться авиабилетами, если ты не в Сербии.</li>
        <li>🚌 Из Белграда на площадку и обратно будет 2 трансфера в 11-00 и в 15-00 (время может поменяться), точное время мы сообщим позднее. Советуем быть в Белграде уже в четверг или в крайнем случае утром в пятницу, чтобы успеть на первый трансфер. Весь движ на Кэмпе начнется уже в в обед, и продлится до середины воскресенья! На своей машине тоже можно, если вам так проще.</li>
        <li>💬 Обязательно вступай в чат участников Кэмпа в телеге — там будет вся-вся координация, все орг объявления и прочие важные штуки.</li>
        <li>🔥 Готовься, предвкушай, настраивайся — будет легендарно!</li>
    </ul>

    <p>
        <a href="https://vas3k.club/room/camp/chat/" class="button">Кнопка входа в чат</a>
    </p>

    <p>
        Увидимся там!
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
