{% extends "emails/layout.html" %}
{% load text_filters %}
{% load comments %}
{% load users %}
{% load emails %}

{% block og_meta %}
    <meta property="og:site_name" content="Вастрик.Клуб" />
    <meta property="og:title" content="Ежедневный дайджест" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Подборка событий в Клубе за день, составленная нашей бездушной, но очень вежливой машиной специально для вас." />
    <meta property="og:image" content="{{ og_image_url }}" />
{% endblock %}

{% block css %}
<style>
    h2 {
        text-align: center;
    }

    .events-list {
        list-style-type: none;
        padding-left: 10px;
        padding-top: 10px;
    }

        .events-item {
            padding-top: 10px;
            padding-bottom: 15px;
            display: block;
        }

    @media screen and (min-width: 600px) {
        .events-list {
            font-size: 20px;
        }
    }
</style>
{% endblock %}

{% block title %}
    {{ date|date:"d E Y" }}
{% endblock %}

{% block body %}
    <article>
        <p class="editorial">
            {% random_greeting %}, {{ user.full_name }}.
        </p>

        <p class="editorial">
            Вот подборка событий в Клубе за день, составленная нашей бездушной, но очень вежливой машиной специально для вас 👇
        </p>

        {% if events %}
        <ul class="events-list">
            {% for event in events|slice:":10" %}
                {% if event.type == "my_post_comment" %}
                    <li class="events-item">💭 <strong>{{ event.count }} {{ event.count | rupluralize:"новый комментарий,новых комментария,новых комментариев" }}</strong> к вашему посту «<a href="{{ event.post_url }}?comment_order=-created_at#comments">{{ event.post_title }}</a>»</li>
                {% elif event.type == "subscribed_post_comment" %}
                    <li class="events-item">☝️ <strong>{{ event.count }} {{ event.count | rupluralize:"новый комментарий,новых комментария,новых комментариев" }}</strong> к посту «<a href="{{ event.post_url }}?comment_order=-created_at#comments">{{ event.post_title }}</a>»</li>
                {% elif event.type == "reply" %}
                    <li class="events-item">🤚 <strong>{{ event.count }} {{ event.count | rupluralize:"ответ,ответа,ответов" }}</strong> на ваш комментарий к посту «<a href="{{ event.post_url }}">{{ event.post_title }}</a>»</li>
                {% elif event.type == "upvotes" %}
                    <li class="events-item">💎 Вы получили <strong>{{ event.count }} {{ event.count | rupluralize:"новый плюсик,новых плюсика,новых плюсиков" }}</strong> за посты и комменты</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </article>

    {% if mentions %}
        <h2>🔔 Вас упомянули</h2>

        {% for comment in mentions|slice:":10" %}
            <article class="block comment">
                <span class="upvotes">
                    👍{{ comment.upvotes }}
                </span>
                <div>
                    <a href="{{ settings.APP_HOST }}{% url "profile" comment.author.slug %}" style="text-decoration: none;">
                        <img src="{{ comment.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                        &nbsp;{{ comment.author.slug }}
                    </a>
                    на {{ comment.post.prefix|default:"пост"|lower }}
                    <a href="{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}">{{ comment.post.title }}</a>
                </div>
                <div>
                    {% render_email comment %}
                </div>
            </article>
        {% endfor %}
    {% endif %}

    {% if posts %}
        <h2>📝 Свежие посты</h2>

        {% for post in posts|slice:":5" %}

            <article class="block post">
                <span class="upvotes">
                    👍{{ post.upvotes }}
                </span>

                <h3>
                    {% if post.type != "post" %}
                        {{ post.emoji }}
                    {% endif %}

                    {{ post.prefix }}

                    <a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}" target="_blank">{{ post.title }}</a>

                    {% if post.label %}
                        &nbsp;{% include "posts/widgets/label.html" with label=post.label %}
                    {% endif %}
                </h3>

                <p>
                    {{ post.text | markdown | striptags | truncatechars:400 }}
                </p>

                <span class="post-footer">
                    <a href="{{ settings.APP_HOST }}{% url "profile" post.author.slug %}" style="text-decoration: none; color: #999;">
                        <img src="{{ post.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                        &nbsp;{{ post.author.full_name }}
                    </a>
                    | {{ post.view_count }}&nbsp;{{ post.view_count | rupluralize:"просмотр,просмотра,просмотров" }}
                    | {{ post.comment_count }}&nbsp;{{ post.comment_count | rupluralize:"комментарий,комментария,комментариев" }}
                </span>
            </article>
        {% endfor %}

        {% if posts|slice:"5:" %}
            <p style="font-size: 19px; line-height: 1.4em;">и еще <a href="{% url "feed_ordering" "all" "new" %}">{{ posts|slice:"5:"|length }} {{ posts|slice:"5:"|length|rupluralize:"новый пост,новых поста,новых постов" }}</a>, которые можно посмотреть на главной</p>
        {% endif %}
    {% endif %}

    {% if intros %}
        <h2>🤘 Новые участники</h2>

        <p style="font-size: 19px; line-height: 1.4em;">
            Не стесняйтесь комментировать в их intro и задавать им вопросы. Для того они и нужны :)
        </p>

        {% for intro in intros|slice:":1" %}
            <article class="block user">
                <div class="user-avatar" style="background-image: url('{{ intro.author.get_avatar }}');">&nbsp;</div>

                <div>
                    <h3>
                        <a href="{{ settings.APP_HOST }}{% url "profile" intro.author.slug %}" style="text-decoration: underline;">{{ intro.author.full_name }}</a> &nbsp;&nbsp;{% user_tag_images intro.author %}<br>
                        <span class="user-title-small">{{ intro.author.position }}{% if intro.author.company %} — {{ intro.author.company }}{% endif %}</span>
                    </h3>

                    <p>{{ intro.text | markdown | truncatechars:350 }}</p>

                    <span>
                        <a href="{{ settings.APP_HOST }}{% url "show_post" "intro" intro.slug %}">Читать всё #intro &rarr;</a>
                    </span>
                </div>
            </article>
        {% endfor %}

        {% if intros|slice:"1:" %}
            <p style="font-size: 19px; line-height: 1.4em;">
                и другие:
                {% for intro in intros|slice:"1:" %}
                    <a href="{% url "profile" intro.author.slug %}">{{ intro.author.slug }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}

    <br>

    {% if moon_phase %}
        <h2>✨ Гороскоп в конце</h2>

        <p class="editorial">
            {% if moon_phase.club_day %}Сегодня {{ moon_phase.club_day }} день от сотворения Клуба{% endif %}{% if moon_phase.phase_num %} и {{ moon_phase.phase_num }}{% endif %}.
            {% if moon_phase.phase_sign %}{{ moon_phase.phase_sign | capfirst }}.{% endif %}
        </p>

        {% if moon_phase.phase_description %}
            <p class="editorial">
                {{ moon_phase.phase_description }}
            </p>
        {% endif %}
    {% endif %}

    <br>

    <h2>Хорошего дня ❤️</h2>

    <br><br><br>
{% endblock %}

{% block footer %}
    <p>
        Если ежедневный дайджест слишком надоедает, вы всегда можете <a href="{{ settings.APP_HOST }}/notifications/switch/weekly/%user_id%/%secret_code%/">перейти на еженедельный</a> или <a href="{{ settings.APP_HOST }}/notifications/switch/nope/%user_id%/%secret_code%/">вообще отписаться от дайджестов</a> и жить в темноте и грусти.
    </p>
{% endblock %}

{% block unsubscribe %}
{% endblock %}
