{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}
</style>
{% endblock %}

{% block title %}
    ✌️ Ваш аккаунт будет удалён
{% endblock %}

{% block body %}
    <p>
        Спасибо, что были с нами.
    </p>

    <p>
        Аккаунт <strong>{{ user.slug }}</strong> будет полностью удален <strong>через 5 дней</strong>.
        Мы вводим задержку, чтобы вы могли отменить удаление если вдруг вас взломали или решение было эмоциональным.
    </p>

    <p>
        В течение этих 5 дней вы ешё можете восстановить аккаунт, заново <a href="{{ settings.APP_HOST }}{% url "login" %}">войдя в Клуб</a> по почте.
        После этого все ваши данные будут честно удалены без возможности восстановления.
    </p>

    <p>
        Пака!
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
