{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}
</style>
{% endblock %}

{% block title %}
    🧨 Удаление аккаунта
{% endblock %}

{% block body %}
    <p>
        Вы запросили удаление аккаунта в Клубе. Мы не в праве вас останавливать.
        Вот код, который запустит процедуру очистки ваших личных данных и удаления профиля.
        Всё честно, так что возможности восстановления аккаунта не будет.
    </p>

    <p>
        Код для удаления аккаунта: <strong>{{ code.code }}</strong>
    </p>

    <p>
        Если вы ничего такого не запрашивали, срочно напишите нам ответ на это сообщение.
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
