{% extends "emails/layout.html" %}
{% load text_filters %}
{% load comments %}
{% load users %}
{% load emails %}

{% block css %}
<style>
    .issue {
        font-size: 24px;
        font-weight: 600;
    }

    .post {
    }

        .post-upvotes {
            display: block;
            float: right;
            background-color: #1B1B1C;
            color: #FFF;
            border-radius: 10px;
            padding: 15px 20px 14px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1em;
            margin-left: 10px;
            margin-top: 13px;
        }

    .label {
        display: inline-block;
        vertical-align: middle;
        background-color: #000000;
        height: 1.6em;
        line-height: 1.5em;
        overflow: hidden;
        font-size: 75%;
        border-radius: 5px;
    }

        .label-title {
            display: inline-block;
            color: #FFFFFF;
            font-weight: normal;
            padding: 0 0.6em 0;
            font-size: 90%;
        }

    .user {
        display: block;
        width: 100%;
        line-height: 1.4em;
        text-decoration: none;
        font-weight: 400;
        margin: 70px 0 100px;
    }
        .user-avatar {
            width: 80px;
            height: 80px;
            min-width: 80px;
            min-height: 80px;
            vertical-align: middle;
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            margin-bottom: 10px;
        }

    .avatar-small {
        width: 24px;
        height: 24px;
        min-width: 24px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        position: relative;
        top: -2px;
    }

    .comment {
    }

        .comment-upvotes {
            display: block;
            float: right;
            background-color: #1B1B1C;
            color: #FFF;
            border-radius: 10px;
            padding: 10px 15px 8px;
            font-size: 20px;
            font-weight: bold;
            line-height: 1em;
            margin-left: 10px;
            margin-top: 0;
        }

    .editorial-text {
        font-size: 20px;
        line-height: 1.4em;
        margin: 0 auto 100px;
        max-width: 700px;
    }

    @media only screen and (max-width : 570px) {
        .issue {
            display: block;
            font-size: 20px;
            padding-top: 15px;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 22px;
        }

        p {
            font-size: 14px;
        }

            .editorial-text p {
                font-size: 17px;
            }
    }
</style>
{% endblock %}

{% block title %}
    Журнал Вастрик.Клуба<br>
    <span class="issue">Итоги недели. Выпуск #{{ issue_number }}</span>
{% endblock %}

{% block body %}
    {% if author_intro %}
        <article class="editorial-text">
            {{ author_intro | markdown }}
        </article>
    {% endif %}

    {% if intros %}
        <h2>🤘 Новенькие</h2>

        <p style="font-size: 19px; line-height: 1.4em; text-align: center; margin-top: 35px; margin-bottom: 90px;">
            На этой неделе у нас <strong>+{{ newbie_count }} {{ newbie_count|rupluralize:"новый член,новых члена,новых членов" }} Клуба</strong>.
            Вот самые популярные из них, набравшие больше всего плюсиков за свой #intro-пост.
            Не стесняйтесь писать им комменты и расспрашивать за жизнь. Мы для того здесь и собрались!
        </p>

        {% for intro in intros|slice:":3" %}
            <article class="block user">
                <div style="display: block;float: left;margin-right: 30px;">
                    <img src="{{ intro.author.get_avatar }}" alt="" width="80" height="80" class="user-avatar">
                </div>

                <div>
                    <span style="display: block; font-size: 21px; line-height: 1.5em;">
                        <a href="{{ settings.APP_HOST }}{% url "profile" intro.author.slug %}" style="text-decoration: underline; font-size: 25px;">{{ intro.author.full_name }}</a> &nbsp;&nbsp;{% user_tag_images intro.author %}<br>
                        {{ intro.author.position }}{% if intro.author.company %} — {{ intro.author.company }}{% endif %}
                    </span>

                    <p>{{ intro.description | truncatechars:350 | nl_to_p }}</p>

                    <span>
                        <a href="{{ settings.APP_HOST }}{% url "show_post" "intro" intro.slug %}">Читать всё #intro или задать вопрос &rarr;</a>
                    </span>
                </div>
            </article>
        {% endfor %}

        {% if intros|slice:"3:" %}
            <p style="font-size: 19px; line-height: 1.4em;">
                Ну и не забываем про других тоже:
                {% for intro in intros|slice:"3:" %}
                    <a href="{% url "profile" intro.author.slug %}">{{ intro.author.slug }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        <br><br>
    {% endif %}

    {% if featured_post %}
        <h2>🚀 Главная тема недели</h2>

        <article class="block post">
            <h3>
                {{ featured_post.prefix }}
                <a href="{{ settings.APP_HOST }}{% url "show_post" featured_post.type featured_post.slug %}" target="_blank">{{ featured_post.title }}</a>
            </h3>

            <p>
                {{ featured_post.description | nl_to_p }}
            </p>

            <span style="font-size: 16px; color: #999;">
                <a href="{{ settings.APP_HOST }}{% url "profile" featured_post.author.slug %}" style="text-decoration: none; color: #999;">
                    <img src="{{ featured_post.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                    &nbsp;{{ featured_post.author.slug }}
                </a>
                | {{ featured_post.view_count }}&nbsp;{{ featured_post.view_count | rupluralize:"просмотр,просмотра,просмотров" }}
                | {{ featured_post.comment_count }}&nbsp;{{ featured_post.comment_count | rupluralize:"комментарий,комментария,комментариев" }}
            </span>
        </article>

        <br><br>
    {% endif %}

    {% if posts %}
        <h2>😎 Лучшие посты</h2>

        {% for post in posts %}
            <article class="block post">
                <span class="post-upvotes">
                    👍 {{ post.upvotes }}
                </span>

                <h3>
                    {% if post.type != "post" %}
                        {{ post.emoji }}
                    {% endif %}

                    {{ post.prefix }}

                    <a href="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}" target="_blank">{{ post.title }}</a>

                    {% if post.label %}
                        &nbsp;{% include "posts/common/label.html" with label=post.label %}
                    {% endif %}
                </h3>

                {% if forloop.counter <= 3 %}
                    <p>
                        {{ post.description | nl_to_p }}
                    </p>
                {% endif %}

                <span style="font-size: 16px; color: #999;">
                    <a href="{{ settings.APP_HOST }}{% url "profile" post.author.slug %}" style="text-decoration: none; color: #999;">
                        <img src="{{ post.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                        &nbsp;{{ post.author.slug }}
                    </a>
                    | {{ post.view_count }}&nbsp;{{ post.view_count | rupluralize:"просмотр,просмотра,просмотров" }}
                    | {{ post.comment_count }}&nbsp;{{ post.comment_count | rupluralize:"комментарий,комментария,комментариев" }}
                </span>
            </article>
        {% endfor %}

        <br><br><br>
    {% endif %}

    {% if comments %}
        <h2>💭 Топ комментариев</h2>

        {% for comment in comments %}
            <article class="block comment">
                <span class="comment-upvotes">
                    👍{{ comment.upvotes }}
                </span>
                <div>
                    <a href="{{ settings.APP_HOST }}{% url "profile" comment.author.slug %}" style="text-decoration: none;">
                        <img src="{{ comment.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                        &nbsp;{{ comment.author.slug }}
                    </a>
                    на {{ comment.post.prefix|default:"пост"|lower }}
                    <a href="{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}">{{ comment.post.title }}</a>
                </div>
                <div>
                    {% render_email comment %}
                </div>
            </article>
        {% endfor %}
    {% endif %}

    {% if top_video_comment or top_video_post %}
        <br><br><br>

        <h2>🎥 Видосик недели</h2>

        {% if top_video_comment %}
            <article class="block comment">
                <div>
                    <a href="{{ settings.APP_HOST }}{% url "profile" top_video_comment.author.slug %}" style="text-decoration: none;">
                        <img src="{{ top_video_comment.author.get_avatar }}" alt="" width="24" height="24" class="avatar-small">
                        &nbsp;{{ top_video_comment.author.slug }}
                    </a>
                    на {{ top_video_comment.post.prefix|default:"пост"|lower }}
                    <a href="{% url "show_post" top_video_comment.post.type top_video_comment.post.slug %}#comment-{{ top_video_comment.id }}">{{ top_video_comment.post.title }}</a>
                </div>
                <div>
                    {% render_email top_video_comment %}
                </div>
            </article>
        {% elif top_video_post %}
            <article class="block post">
                <h3>
                    <a href="{{ settings.APP_HOST }}{% url "show_post" top_video_post.type top_video_post.slug %}" target="_blank">{{ top_video_post.title }}</a>
                    {% if top_video_post.label %}
                        &nbsp;{% include "posts/common/label.html" with label=top_video_post.label %}
                    {% endif %}
                </h3>
                <p>
                    <a href="{{ top_video_post.url }}">
                        <span class="ratio-16-9 video-preview" style="background-image: url('https://img.youtube.com/vi/{{ top_video_post.url | youtube_id }}/0.jpg');"></span>
                    </a>
                </p>
            </article>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer %}
    <br><br><br>

    <h2>На этом всё 👋</h2>

    <p style="font-size: 19px; line-height: 1.4em;">
        Услышимся в следующем выпуске через неделю. Приносите годные ссылочки, пишите посты и палите инсайды.
        Вместе мы сделаем Клуб таким полезным и охуенным!
    </p>

    <br><br><br>
{% endblock %}