{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    👍 Вы оплатили другу аккаунт в Клубе
{% endblock %}

{% block body %}
    <p>
        Офигенно!
    </p>

    <p>
        На таких людях как вы держится этот мир!
    </p>

    <p>
        Если ваш друг еще не в Клубе, сейчас ему на <strong>{{ to_user.email }}</strong> упадёт письмо с пояснениями как завести аккаунт и заполнить профиль.
    </p>

    <p>
        На всякий случай поделитесь с другом лайфхаками написания лучшего в мире интро.
        Этот шаг всё еще обязателен и не все его так легко проходят, как кажется :)
    </p>

    <p>
        Если ваш друг почему-то не получил наше письмо, скажите ему пусть просто входит в Клуб по имейлу <strong>{{ to_user.email }}</strong>.
    </p>

    <p>
        Кстати, ваш инвайт-платёж одноразовый (то есть не подписка) и чек за транзакцию упадёт на почту именно вам.
        Через год другу самому придётся продлить себе аккаунт, если ему у нас понравится.
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
