{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    h1, h2, h3, header {
        text-align: left;
    }

    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

</style>
{% endblock %}

{% block title %}
    Ваша клубная карта скоро истечёт 😱
{% endblock %}

{% block body %}
    <p>
        Привет! 👋
    </p>

    <p>
        Мы тут заметили, что у вас осталось всего 2 недели подписки.
        Чтобы не потерять свой аккаунт, доступ чатам в Клубе и другим активностям, рекомендуем пополнить баланс дней.
        Вот удобная кнопочка, чтобы это сделать:
    </p>

    <p>
        <a href="{% url "edit_payments" user.slug %}" class="button">Продлить подписку</a>
    </p>

    <p>
        Клуб существует за счет ваших взносов, что позволяет нам окупаться без «повесточки» внешних инвесторов или агрессивной рекламы, как у других.
    </p>

    <p>
        Если вам было полезно, вы завели полезные связи в чатах или Клуб как-то помог вам, отблагодарите его взамен, продлив подписку сразу на 3 или 50 лет.
        Это поможет нам просуществовать дольше, особенно в такое сложное время.
    </p>

    <p>
        Ну а если вам у нас не понравилось, вы можете <a href="{% url "edit_account" user.slug %}">удалить аккаунт</a> и мы сотрем ваш профиль насовсем.
    </p>

    <p>
        Спасибо :)
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}
    <p style="font-size: 12px;">
        Если вам больше не хочется никогда получать никаких писем от Клуба,<br> нажмите <a href="{{ settings.APP_HOST }}/notifications/unsubscribe/%user_id%/%secret_code%/">отписаться вообще от всего</a>.
    </p>
{% endblock %}
