{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    h1, h2, h3, header {
        text-align: left;
    }

    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    Велком дринк 🍸
{% endblock %}

{% block body %}
    <p>
        Добро пожаловать в <a href="{{ settings.APP_HOST }}">Клуб</a>! Ваш профиль успешно прошел модерацию и вы можете заходить.
    </p>

    <p>
        Ваш юзернейм в Клубе: <b>{{ user.slug }}</b><br>
        Почта: <b>{{ user.email }}</b>
    </p>

    <p style="font-size: 14px;">
        👆 попробуйте <a href="{{ settings.APP_HOST }}{% url "login" %}">войти в свой профиль</a>, там можно потыкать всякие веселые штуки
    </p>

    <br><br>

    {% if not user.is_email_verified %}
        <p>
            Так как паролей у нас нет и вход по почте, давайте для начала убедимся, что этот ящик действительно ваш.
        </p>

        <p>
            <a href="{% url "email_confirm" user.id %}" class="button">Подтвердить адрес почты</a>
        </p>
    {% endif %}

    <p>
        Коротко расскажу что у нас тут и как.
    </p>

    <ul>
        <li>🎩 Клуб — это место для <a href="{% url "people" %}">всех</a>. Смело вливайтесь в разговоры, заводите новые знакомства и обращайтесь к другим членам Клуба напрямую. Для того мы все и здесь.</li>
        <li>🤔 <a href="{% url "docs" "about" %}">Правила Клуба</a> основаны на том, что мы здесь взрослые занятые люди, собравшиеся для взаимной пользы.</li>
        <li>🤝 Ценность Клуба не столько в контенте, сколько в крутейших людях внутри. У нас есть <a href="{% url "people" %}">поиск по коммьюнити</a>, где можно найти как друга для прогулок по Амстердаму, так и ментора для запуска первого бизнеса.</li>
        <li>😎 Комментарии больше не зашквар. Многие давно перестали комментировать что-то в интернете, так вот у нас всё меняется. Комментировать в Клубе даже почётнее, чем писать посты.</li>
        <li>💬 Подписывайтесь на наши <a href="{{ settings.APP_HOST }}{% url "network" %}">каналы и чаты</a>. В них жизнь кипит круглосуточно.</li>
        <li>🤖 Не забудьте познакомиться с нашим <a href="{% url "edit_bot" "me" %}">телеграм-ботом</a>. Через него удобно получать все уведомления.</li>
        <li>🔨 В Клубе есть модераторы, которые следят за качеством контента и дискуссий. Они такие же обычные люди из числа членов клуба, так что вполне могут совершать ошибки. Мы всегда за аргументированный <a href="{% url "docs" "contact" %}">диалог</a>.</li>
        <li>🤪 Расслабьтесь и не душните. Все самые глупые вещи на планете были сделаны именно с серьезным выражением лица.</li>
        <li>🚀🚀🚀️ Когда ты добр — ты непобедим.</li>
    </ul>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
