{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    h1, h2, h3, header {
        text-align: left;
    }

    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    Велком дринк 🍸
{% endblock %}

{% block body %}
    <p>
        Добро пожаловать в <a href="{{ settings.APP_HOST }}">Клуб</a>! Ваш профиль успешно прошел модерацию и вы можете заходить.
    </p>

    <p>
        Ваш юзернейм в Клубе: <b>@{{ user.slug }}</b><br>
        Почта для входа: <b>{{ user.email }}</b>
    </p>

    <p style="font-size: 14px;">
        👆 попробуйте <a href="{{ settings.APP_HOST }}{% url "login" %}">войти в свой профиль</a>, там можно натыкать другие веселые штуки типа хобби
    </p>

    <br><br>

    {% if not user.is_email_verified %}
        <p>
            Так как паролей у нас нет и вход по кодам из почты, давайте для начала убедимся, что этот ящик действительно ваш.
        </p>

        <p>
            <a href="{% url "email_confirm" user.id secret_code %}" class="button">Подтвердить адрес почты</a>
        </p>
    {% endif %}

    <p>
        Коротко расскажу что у нас тут и как.
    </p>

    <ul>
        <li>🎩 Клуб — это прежде всего <a href="{% url "people" %}">коммьюнити</a>. Не телевизор с лонгридами, а именно сообщество живых людей. Большая часть пользы Клуба именно в общении, полезных знакомствах и возможности обратиться за помощью к любому члену Клуба напрямую. Смело вливайтесь и не сидите долго ридонли.</li>
        <li>💬 Врывайтесь в наши <a href="{{ settings.APP_HOST }}{% url "network" %}">каналы и чаты</a> — там жизнь кипит круглосуточно. Тащите туда интересные ссылки и берите инициативу на себя!</li>
        <li>🤖 Познакомьтесь с нашим <a href="{% url "edit_bot" "me" %}">телеграм-ботом</a>. Через него приходит большинство уведомлений.</li>
        <li>🆕 Почитайте подборку ссылок <a href="{{ settings.APP_HOST }}/docs/about/#enter">«как вкатиться в Клуб с нуля»</a> — там много полезного!</li>
        <li>🤔 <a href="{% url "show_post" "docs" "about" %}">Правила Клуба</a> основаны на том, что мы здесь взрослые занятые люди, собравшиеся для взаимной выгоды и веселья. Сюда не приходят соревноваться в сарказме и оскорблениях, для этого у нас уже есть твиттер. Мы за них баним.</li>
        <li>😎 Комментарии больше не зашквар. Многие давно перестали комментировать что-то в интернете, так вот у нас всё наоборот. Комментировать в Клубе даже почётнее, чем постить посты.</li>
        <li>🤝 У нас есть <a href="{% url "people" %}">поиск по людям</a>, где можно найти себе друга для прогулок по Амстердаму, ментора для запуска первого бизнеса или новую работу. Коммьюнити — тоже инструмент, которым надо учиться пользоваться.</li>
        <li>🔨 В Клубе есть модераторы, которые следят за качеством контента и дискуссий. Они набраны из таких же обычных членов клуба и иногда могут ошибаться. Мы всегда за аргументированный <a href="{% url "show_post" "docs" "contact" %}">диалог</a>.</li>
        <li>🤪 Расслабьтесь и не душните. Мы терпеть не можем серьёзные лица.</li>
        <li>🚀🚀🚀️ Когда ты добр — ты непобедим!</li>
    </ul>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
