{% extends "layout.html" %}
{% load static %}

{% block title %}
    Админка юзера — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content">

        <div class="profile-header">Изменить данные</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row form-row-right">
                    {{ info_form.slug.label_tag }}
                    {{ info_form.slug }}
                    {% if info_form.slug.errors %}<span class="form-row-errors">{{ info_form.slug.errors }}</span>{% endif %}
                </div>

                <div class="form-row form-row-right">
                    {{ info_form.full_name.label_tag }}
                    {{ info_form.full_name }}
                    {% if info_form.full_name.errors %}<span class="form-row-errors">{{ info_form.full_name.errors }}</span>{% endif %}
                </div>

                <div class="form-row form-row-right">
                    {{ info_form.email.label_tag }}
                    {{ info_form.email }}
                    {% if info_form.email.errors %}<span class="form-row-errors">{{ info_form.email.errors }}</span>{% endif %}
                </div>

                <div class="form-row form-row-right">
                    {{ info_form.company.label_tag }}
                    {{ info_form.company }}
                    {% if info_form.company.errors %}<span class="form-row-errors">{{ info_form.company.errors }}</span>{% endif %}
                </div>

                <div class="form-row form-row-right">
                    {{ info_form.position.label_tag }}
                    {{ info_form.position }}
                    {% if info_form.position.errors %}<span class="form-row-errors">{{ info_form.position.errors }}</span>{% endif %}
                </div>

                <div class="form-row form-row-right">
                    {{ info_form.contact.label_tag }}
                    {{ info_form.contact }}
                    {% if info_form.contact.errors %}<span class="form-row-errors">{{ info_form.contact.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ info_form.membership_platform_type.label_tag }}
                    {{ info_form.membership_platform_type }}
                    {% if info_form.membership_platform_type.errors %}<span class="form-row-errors">{{ info_form.membership_platform_type.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ info_form.email_digest_type.label_tag }}
                    {{ info_form.email_digest_type }}
                    {% if info_form.email_digest_type.errors %}<span class="form-row-errors">{{ info_form.email_digest_type.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ info_form.telegram_id.label_tag }}
                    {{ info_form.telegram_id }}
                    {% if info_form.telegram_id.errors %}<span class="form-row-errors">{{ info_form.telegram_id.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ info_form.stripe_id.label_tag }}
                    {{ info_form.stripe_id }}
                    {% if info_form.stripe_id.errors %}<span class="form-row-errors">{{ info_form.stripe_id.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ info_form.is_email_verified.label_tag }}
                    {{ info_form.is_email_verified }}
                    {% if info_form.is_email_verified.errors %}<span class="form-row-errors">{{ info_form.is_email_verified.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ info_form.is_banned_until.label_tag }}
                    {{ info_form.is_banned_until }}
                    {{ info_form.is_banned_until.help_text }}
                    {% if info_form.is_banned_until.errors %}<span class="form-row-errors">{{ info_form.is_banned_until.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>

        <div class="profile-header">Роли</div>
        <div class="block">
            <div class="form-row">Роли пользователя: {{ user.get_roles_display }}</div>
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.role_action.label_tag }}
                    {{ form.role_action }}
                    {% if form.role_action.errors %}<span class="form-row-errors">{{ form.role_action.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.role.label_tag }}
                    {{ form.role }}
                    {% if form.role.errors %}<span class="form-row-errors">{{ form.role.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>


        <div class="profile-header">Дать шапку</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.add_hat.label_tag }}
                    {{ form.add_hat }}
                    {% if form.new_hat.errors %}<span class="form-row-errors">{{ form.new_hat.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat.label_tag }}
                    {{ form.new_hat }}
                    {% if form.new_hat.errors %}<span class="form-row-errors">{{ form.new_hat.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat_name.label_tag }}
                    {{ form.new_hat_name }}
                    {% if form.new_hat_name.errors %}<span class="form-row-errors">{{ form.new_hat_name.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat_icon.label_tag }}
                    {{ form.new_hat_icon }}
                    {% if form.new_hat_icon.errors %}<span class="form-row-errors">{{ form.new_hat_icon.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat_color.label_tag }}
                    {{ form.new_hat_color }}
                    {% if form.new_hat_color.errors %}<span class="form-row-errors">{{ form.new_hat_color.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.remove_hat.label_tag }}
                    {{ form.remove_hat }}
                    {% if form.remove_hat.errors %}<span class="form-row-errors">{{ form.remove_hat.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>

        <div class="profile-header">Ачивки</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.add_achievement.label_tag }}
                    {{ form.add_achievement }}
                    {% if form.add_achievement.errors %}<span class="form-row-errors">{{ form.add_achievement.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_achievement.label_tag }}
                    {{ form.new_achievement }}
                    {% if form.new_achievement.errors %}<span class="form-row-errors">{{ form.new_achievement.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>

        <div class="profile-header">Забанить временно</div>

        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.is_temporarily_banned.label_tag }}
                    {{ form.is_temporarily_banned }}
                    {% if form.is_temporarily_banned.errors %}<span class="form-row-errors">{{ form.is_temporarily_banned.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.temporary_ban_reason.label_tag }}
                    {{ form.temporary_ban_reason }}
                    {% if form.temporary_ban_reason.errors %}<span class="form-row-errors">{{ form.temporary_ban_reason.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    Количества дней бана начисляется прогрессивно и автоматически по следующей шкале: {{ ban_progression }}<br><br>

                    {% if user.metadata.last_ban %}
                        ☢️ Пользователь уже был забанен ранее на <strong>{{ user.metadata.last_ban.days }} дней</strong> по причине <strong>«{{ user.metadata.last_ban.reason }}»</strong>, так что ему будет выдано большее по величине количество дней из списка выше (или максимальное).
                    {% else %}
                        ☝️ У этого пользователя еще не было банов, так что ему будет выдано минимальное количество дней из описания.
                    {% endif %}
                </div>

                <button type="submit" class="button">Забанить временно</button>
            </form>
        </div>

        <div class="profile-header">Забанить кастомно</div>

        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.is_custom_banned.label_tag }}
                    {{ form.is_custom_banned }}
                    {% if form.is_custom_banned.errors %}<span class="form-row-errors">{{ form.is_custom_banned.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.custom_ban_name.label_tag }}
                    {{ form.custom_ban_name }}
                    {% if form.custom_ban_name.errors %}<span class="form-row-errors">{{ form.custom_ban_name.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.custom_ban_reason.label_tag }}
                    {{ form.custom_ban_reason }}
                    {% if form.custom_ban_reason.errors %}<span class="form-row-errors">{{ form.custom_ban_reason.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.custom_ban_days.label_tag }}
                    {{ form.custom_ban_days }}
                    {% if form.custom_ban_days.errors %}<span class="form-row-errors">{{ form.custom_ban_days.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Забанить кастомно</button>
            </form>
        </div>

        <div class="profile-header">Забанить навечно (ОПАСНО)</div>

        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.is_permanently_banned.label_tag }}
                    {{ form.is_permanently_banned }}
                    {% if form.is_permanently_banned.errors %}<span class="form-row-errors">{{ form.is_permanently_banned.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.permanent_ban_reason.label_tag }}
                    {{ form.permanent_ban_reason }}
                    {% if form.permanent_ban_reason.errors %}<span class="form-row-errors">{{ form.permanent_ban_reason.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button" onclick="return confirm('Точно баним юзера навсегда?')">Забанить навечно</button>
            </form>
        </div>

        <div class="profile-header">Разбанить</div>

        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.is_unbanned.label_tag }}
                    {{ form.is_unbanned }}
                    {% if form.is_unbanned.errors %}<span class="form-row-errors">{{ form.is_unbanned.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Разбанить юзера</button>
            </form>
        </div>

        <div class="profile-header">Размодерировать</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.is_rejected.label_tag }}
                    {{ form.is_rejected }}
                    {% if form.is_rejected.errors %}<span class="form-row-errors">{{ form.is_rejected.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Размодерировать</button>
            </form>
        </div>

        {% if me.is_god %}
            <div class="profile-header">Удалить аккаунт юзера</div>
            <div class="block">
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-row">
                        {{ form.delete_account.label_tag }}
                        {{ form.delete_account }}
                        {% if form.delete_account.errors %}<span class="form-row-errors">{{ form.delete_account.errors }}</span>{% endif %}
                    </div>
                    <button type="submit" class="button" onclick="return confirm('Точно удаляем юзера?')">Я УВЕРЕН</button>
                </form>
            </div>
        {% endif %}

        <div class="profile-header">Продлить членство</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.add_membership_days.label_tag }}
                    {{ form.add_membership_days }}
                    {% if form.add_membership_days.errors %}<span class="form-row-errors">{{ form.add_membership_days.errors }}</span>{% endif %}
                </div>
                <button type="submit" class="button">Добавить дней</button>
            </form>
        </div>

        <div class="profile-header">Отправить сообщение</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.ping.label_tag }}
                    {{ form.ping }}
                    {% if form.ping.errors %}<span class="form-row-errors">{{ form.ping.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
