{% extends "layout.html" %}
{% load static %}

{% block title %}
    Админка юзера — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content">

        <div class="profile-header">Изменить данные</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row form-row-right">
                    {{ info_form.slug.label_tag }}
                    {{ info_form.slug }}
                    {% if info_form.slug.errors %}<span class="form-row-errors">{{ info_form.slug.errors }}</span>{% endif %}
                </div>

                <div class="form-row form-row-right">
                    {{ info_form.full_name.label_tag }}
                    {{ info_form.full_name }}
                    {% if info_form.full_name.errors %}<span class="form-row-errors">{{ info_form.full_name.errors }}</span>{% endif %}
                </div>

                <div class="form-row form-row-right">
                    {{ info_form.email.label_tag }}
                    {{ info_form.email }}
                    {% if info_form.email.errors %}<span class="form-row-errors">{{ info_form.email.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>


        <div class="profile-header">Дать шапку</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.add_hat.label_tag }}
                    {{ form.add_hat }}
                    {% if form.new_hat.errors %}<span class="form-row-errors">{{ form.new_hat.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat.label_tag }}
                    {{ form.new_hat }}
                    {% if form.new_hat.errors %}<span class="form-row-errors">{{ form.new_hat.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat_name.label_tag }}
                    {{ form.new_hat_name }}
                    {% if form.new_hat_name.errors %}<span class="form-row-errors">{{ form.new_hat_name.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat_icon.label_tag }}
                    {{ form.new_hat_icon }}
                    {% if form.new_hat_icon.errors %}<span class="form-row-errors">{{ form.new_hat_icon.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_hat_color.label_tag }}
                    {{ form.new_hat_color }}
                    {% if form.new_hat_color.errors %}<span class="form-row-errors">{{ form.new_hat_color.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.remove_hat.label_tag }}
                    {{ form.remove_hat }}
                    {% if form.remove_hat.errors %}<span class="form-row-errors">{{ form.remove_hat.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>

        <div class="profile-header">Ачивки</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.add_achievement.label_tag }}
                    {{ form.add_achievement }}
                    {% if form.add_achievement.errors %}<span class="form-row-errors">{{ form.add_achievement.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.new_achievement.label_tag }}
                    {{ form.new_achievement }}
                    {% if form.new_achievement.errors %}<span class="form-row-errors">{{ form.new_achievement.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>

        <div class="profile-header">Наказать</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.is_banned.label_tag }}
                    {{ form.is_banned }}
                    {% if form.is_banned.errors %}<span class="form-row-errors">{{ form.is_banned.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.ban_reason.label_tag }}
                    {{ form.ban_reason }}
                    {% if form.ban_reason.errors %}<span class="form-row-errors">{{ form.ban_reason.errors }}</span>{% endif %}
                </div>

                <div class="form-row">
                    {{ form.ban_days.label_tag }}
                    {{ form.ban_days }}
                    {% if form.ban_days.errors %}<span class="form-row-errors">{{ form.ban_days.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Забанить</button>
            </form>
        </div>

        <div class="profile-header">Размодерировать</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.is_rejected.label_tag }}
                    {{ form.is_rejected }}
                    {% if form.is_rejected.errors %}<span class="form-row-errors">{{ form.is_rejected.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Размодерировать</button>
            </form>
        </div>

        {% if me.is_god %}
            <div class="profile-header">Удалить аккаунт юзера</div>
            <div class="block">
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-row">
                        {{ form.delete_account.label_tag }}
                        {{ form.delete_account }}
                        {% if form.delete_account.errors %}<span class="form-row-errors">{{ form.delete_account.errors }}</span>{% endif %}
                    </div>
                    <button type="submit" class="button" onclick="return confirm('Точно удаляем юзера?')">Я УВЕРЕН</button>
                </form>
            </div>
        {% endif %}

        <div class="profile-header">Отправить сообщение</div>
        <div class="block">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.ping.label_tag }}
                    {{ form.ping }}
                    {% if form.ping.errors %}<span class="form-row-errors">{{ form.ping.errors }}</span>{% endif %}
                </div>

                <button type="submit" class="button">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
