{% extends "layout.html" %}

{% block title %}
    Корзина — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content deleted">
        <div class="content-header">Удалённые посты</div>

        <div class="deleted-posts" id="deleted-posts">
            {% if deleted %}
                {% for post in deleted %}
                    {% include "posts/items/items.html"%}
                {% endfor %}
            {% else %}
                <div class="deleted-posts-none">Нет удалённых постов</div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
