{% extends "layout.html" %}
{% load static %}

{% block title %}
    Привет — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content intro">
        <form action="{% url "intro" %}" method="post" class="intro-form" enctype="multipart/form-data">
            <div class="form-title">Привет! 👋</div>

            <div class="block-description" style="max-width: 100%;">
                <p>
                    Добро пожаловать в Клуб.
                </p>

                <p>
                    Ваш аккаунт создан и вы уже можете заходить к нам в <a href="https://vas3k.ru/notes/club_chat/" target="_blank">секретные чаты</a>, подписываться на <a href="{{ settings.TELEGRAM_CLUB_CHANNEL_URL }}" target="_blank">канал</a>, комментировать и смотреть закрытые <a href="https://vas3k.ru/blog/" target="_blank">посты в блоге</a>.
                </p>

                <p>
                    Но чтобы пустить вас в сам Клуб, нам надо сначала познакомиться. Открытые дружеские отношения и отсутствие оголтелых анонимусов — главный секрет здорового и недушного коммьюнити.
                </p>

                <p>
                    Для начала прочитайте <a href="{% url "docs" "about" %}">наши правила</a>. Потом налейте себе вина и заполните форму ниже.
                    Если вы тут впервые, можете пойти почитать закрытые посты, чтобы проникнуться, и вернуться сюда позднее.
                </p>

                <p>
                    <strong>Каждый профиль проходит ручную модерацию</strong>. Вот прямо живой и тёплый человек принимает решение.
                    Мы тут не за скорость, а за качество.
                </p>

                <p>
                    По-умолчанию вся заполненная вами информация будет видна только членам Клуба. Не обязательно писать всё как в паспорте, главное — честно и понятно другим.
                </p>

                <p>
                    Если вам всё это не нужно — это тоже нормально. Просто закройте страницу. Доступ к комментам в блоге, закрытым постам и чатам у вас останется до конца подписки.
                </p>
            </div>

            <div class="clearfix50"></div>

            {% csrf_token %}

            <div class="form-row">
                <label for="{{ form.slug.id_for_label }}" class="form-label">
                    Никнейм
                </label>
                {{ form.slug }}
                {% if form.slug.errors %}<span class="form-row-errors">{{ form.slug.errors }}</span>{% endif %}
                <span class="form-row-help">Будет использван как URL вашей странички и для реплаев.<br>Потому только латиница, циферки и чёрточки.<br>Без пробелов.</span>
            </div>

            <div class="form-row">
                <label for="{{ form.full_name.id_for_label }}" class="form-label">
                    Ваше реальное имя
                </label>
                {{ form.full_name }}
                {% if form.full_name.errors %}<span class="form-row-errors">{{ form.full_name.errors }}</span>{% endif %}
                <span class="form-row-help">Рекомендуется указывать имя + фамилию, либо псевдоним, если вас лучше знают по нему.</span>
            </div>

            <div class="form-row">
                <label for="{{ form.email.id_for_label }}" class="form-label">
                    Почтовый ящик
                </label>
                {{ form.email }}
                {% if form.email.errors %}<span class="form-row-errors">{{ form.email.errors }}</span>{% endif %}
                <span class="form-row-help">Не виден никому, нужен для входа и оповещалок</span>
            </div>

            <div class="form-row">
                <label for="{{ form.country.id_for_label }}" class="form-label">
                    Страна и город
                </label>
                {{ form.country }} {{ form.city }}
                {% if form.country.errors %}<span class="form-row-errors">{{ form.country.errors }}</span>{% endif %}
                {% if form.city.errors %}<span class="form-row-errors">{{ form.city.errors }}</span>{% endif %}
                <span class="form-row-help">Вдруг мы решим собраться на митап или типа того.</span>
            </div>

            <div class="form-row">
                <label for="{{ form.bio.id_for_label }}" class="form-label">
                    Ссылочки на себя и всякое такое
                </label>
                {{ form.bio }}
                {% if form.bio.errors %}<span class="form-row-errors">{{ form.bio.errors }}</span>{% endif %}
                <span class="form-row-help">Всё, что вы бы хотели видеть в профиле под своим именем. Ссылки на ваш блог, твиттер, канал, подкаст, приветы маме, и.т.д. Можно <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown</a>. Не обязательно.</span>
            </div>

            <div class="form-row">
                <label for="{{ form.avatar.id_for_label }}" class="form-label">
                    Аватар или фото
                </label>
                {{ form.avatar }}
                {% if form.avatar.errors %}<span class="form-row-errors">{{ form.avatar.errors }}</span>{% endif %}
            </div>

            <div class="block-header">👨‍💻<br>Чем занимаетесь?</div>

            <div class="block-description">
                Профессия так или иначе характеризует каждого из нас. Расскажите кто вы.
                Не обязательно прямо как в трудовой книжке, пишите как вы сами себя называете или характеризуете.
            </div>

            <div class="clearfix50"></div>

            <div class="form-row">
                <label for="{{ form.position.id_for_label }}" class="form-label">
                    Должность или что вы делаете
                </label>
                {{ form.position }}
                {% if form.position.errors %}<span class="form-row-errors">{{ form.position.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                <label for="{{ form.company.id_for_label }}" class="form-label">
                    Компания
                </label>
                {{ form.company }}
                {% if form.company.errors %}<span class="form-row-errors">{{ form.company.errors }}</span>{% endif %}
            </div>
            <div class="block-header">😎<br>Расскажите Клубу о себе</div>

            <div class="block-description">
                <p>
                    Напишите #intro.<br>
                    Мы просим всех участников написать пару абзацев о себе.
                    Как будто мы познакомились в баре и вкратце рассказываем друг другу свою жизнь.
                </p>
                <p>
                    Ваше интро будет видно всем. Это помогает влиться в коммьюнити и быстро найти единомышленников.
                    Расскажите где вы живете и работаете, чем занимаетесь в свободное время, какие темы вас интересуют
                    или о чем вы хотели бы поговорить.
                </p>
                <p>
                    Вот примеры хороших постов о себе: <a href="https://vas3k.club/intro/vas3k/" target="_blank">мой</a>, <a href="https://vas3k.club/intro/lena/">не мой</a>, <a href="https://vas3k.club/intro/Sciannadev/" target="_blank">ещё</a>.
                </p>
            </div>

            <div class="form-row form-row-intro">
                {{ form.intro }}
                {% if form.intro.errors %}<span class="form-row-errors">{{ form.intro.errors }}</span>{% endif %}
            </div>

            <div class="block-description" style="text-align: left;">
                <p>
                    Писать о себе всегда сложно, так что можете использовать следующие вопросы:
                </p>
                <ul>
                    <li>Расскажите чем вы занимаетесь и где сейчас работаете?</li>
                    <li>Что вы делаете на работе? Только честно, а не как в резюме</li>
                    <li>Из какого вы города и как там оказались?</li>
                    <li>Что делаете в свободное от работы время?</li>
                    <li>Может у вас есть странная привычка или хобби?</li>
                    <li>О чем вы мечтаете?</li>
                    <li>Какой из последних постов Вастрика вам понравился больше всего?</li>
                </ul>
            </div>

            <div class="block-header">📫<br>Как удобнее следить за происходящим?</div>

            <div class="block-description">
                У всех нас мало времени и мы это ценим. Клуб — не очередная соцсеточка, которая охотится за вашим вниманием.
                Мы сразу предлагаем выбрать самый удобный для вас способ оставаться в курсе новых постов и событий.
            </div>

            <div class="form-row">
                <div class="user-edit-digest">
                    <label for="{{ form.email_digest_type.1.id_for_label }}" class="user-edit-digest-label">
                        <i class="fas fa-envelope-open"></i>
                        <span class="user-edit-digest-name">Ежедневные<br> обновления + журнал</span>
                        <span class="user-edit-digest-description">Шлите мне всё!</span>
                        {{  form.email_digest_type.1.tag }}
                    </label>
                    <label for="{{ form.email_digest_type.2.id_for_label }}" class="user-edit-digest-label">
                        <i class="fas fa-calendar-week"></i>
                        <span class="user-edit-digest-name">Журнал раз в неделю</span>
                        <span class="user-edit-digest-description">Подборка отборного контента за неделю</span>
                        {{  form.email_digest_type.2.tag }}
                    </label>
                    <label for="{{ form.email_digest_type.0.id_for_label }}" class="user-edit-digest-label">
                        <i class="fab fa-telegram"></i>
                        <span class="user-edit-digest-name">Онлайн в <a href="{{ settings.TELEGRAM_ONLINE_CHANNEL_URL }}" target="_blank">телеграме</a></span>
                        <span class="user-edit-digest-description">Не хочу никаких писем, сам подпишусь</span>
                        {{  form.email_digest_type.0.tag }}
                    </label>
                </div>
                {% if form.email_digest_type.errors %}<span class="form-row-errors">{{ form.email_digest_type.errors }}</span>{% endif %}
            </div>

            <div class="clearfix20"></div>

            <div class="block-description">
                Не забудьте подписаться на <a href="{{ settings.TELEGRAM_ONLINE_CHANNEL_URL }}" target="_blank">клубный канал</a>.<br>
                А еще у нас есть секретный чатик для своих — <a href="https://vas3k.ru/notes/club_chat/" target="_blank">Вастрик.Бар</a> 🥃
            </div>

            <div class="clearfix50"></div>

            <div class="block-header">🤖<br>Познакомьтесь с телеграм-ботом</div>

            <div class="block-description">
                <p>
                    Наша фишка. На него завязана половина фич сайта.
                    Бот присылает вам ответы на ваши комментарии, через него можно отвечать, зарабатывать рейтинг и даже писать посты, форвардя ему сообщения.
                    Не беспокойтесь, другие пользователи не узнают ваш аккаунт.
                </p>

                <p id="telegram-auth-button" style="padding-top: 30px; padding-bottom: 30px;">
                    <script async src="https://telegram.org/js/telegram-widget.js?8" data-telegram-login="vas3k_club_bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
                    <script type="text/javascript">
                        function onTelegramAuth(user) {
                            console.info(user);
                            fetch('{% url "link_telegram" %}?is_ajax=true', {
                                    method: 'POST',
                                    headers: {
                                        'Accept': 'application/json, text/plain, */*',
                                        'Content-Type': 'application/json'
                                    },
                                    credentials: "include",
                                    body: JSON.stringify(user)
                                })
                              .then((response) => {
                                  return response.json();
                              })
                              .then((data) => {
                                  if (data.status === "success") {
                                      document.getElementById("telegram-auth-data").innerHTML = "😎 Вы авторизованы как: " + data.telegram.username;
                                      document.getElementById("telegram-auth-button").style.display = "none";
                                  } else {
                                      document.getElementById("telegram-auth-data").innerHTML = "Что-то пошло не так. Попробуйте снова.";
                                  }
                                  document.getElementById("telegram-auth-data").style.display = "block";
                              });
                        }
                    </script>
                </p>

                <p>
                    ☝️ Если кнопки сверху не видно, значит у вас Роскомнадзор. Рекомендуем что-то с этим сделать, без бота будет не так удобно
                </p>

                <p class="user-telegram-auth-data" id="telegram-auth-data" style="display: none;"></p>
            </div>

            <div class="clearfix50"></div>

            <div class="form-row form-row-checkbox" style="font-size: 85%;">
                <label for="{{ form.privacy_policy_accepted.id_for_label }}" class="form-label">
                    {{ form.privacy_policy_accepted }}
                    &nbsp;&nbsp;&larr; я даю согласие на обработку моих персональных данных, использование куков, гугланалитики и других вещей, без которых современный интернет вообще не будет работать
                </label>
                {% if form.privacy_policy_accepted.errors %}<span class="form-row-errors">{{ form.privacy_policy_accepted.errors }}</span>{% endif %}
            </div>

            <div class="clearfix50"></div>

            <button type="submit" class="button button-red">Отправить на ревью</button>
        </form>
    </div>
{% endblock %}
