{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header">🤐 Мне не нравится {{ user.full_name }}</div>

            <div class="block-description">
                <p>
                    Мы в Клубе стараемся построить сообщество людей на одной волне.
                    Иногда среди них бывают те, кто вам не нравится.
                    Мы готовы замьютить его для вас, если вы поделитесь своим мнением.
                    Это означает:
                </p>

                    <ul>
                        <li>🧹 Вы не будете видеть посты юзера на главной (включая новые)</li>
                        <li>🗯 Комментарии юзера отныне не будут вам видны. Счётчики непрочитанных из-за этого могут показывать неправильные значения, так что не удивляйтесь</li>
                        <li>🔕 Вы больше не получите уведомлений, если юзер вас упомянет</li>
                        <li>💀 Ваша жалоба поступит модераторам. Ничего делать не надо, просто когда их наберется много — мы рассмотрим вариант исключения человека из Клуба насовсем</li>
                        <li>⚠️ Вы всё еще сможете читать посты и комментарии по прямой ссылке</li>
                    </ul>

                    <p>
                        Расскажите модераторам почему вам не нравится {{ user.full_name }}.
                        Приложите ссылочки на конкретные комментарии — это поможет нам обсудить и принять решение.
                    </p>
            </div>

            <form action="." method="post">
                <div>
                    <textarea
                        name="comment"
                        maxlength="1000"
                        placeholder="Почему вам не нравится {{ user.full_name }}? Сообщение будет видно только модераторам."
                        class="create-badge-note"
                        required>
                    </textarea>
                </div>

                <div class="create-badge-button">
                    <button type="submit" class="button button-big">Замьютить и пожаловаться</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
