{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header">🤐 Мне не нравится {{ user.full_name }}</div>

            <div class="block-description">
                <p>
                    Мы в Клубе стараемся построить сообщество людей на одной волне,
                    но иногда даже среди них бывают те, кто приносит нам дискомфорт.
                    Мы готовы замьютить человека для вас, если вы поделитесь своим мнением.
                    Это значит:
                </p>

                    <ul>
                        <li>🧹 Вы не будете видеть посты юзера на главной (включая новые)</li>
                        <li>🗯 Комментарии юзера будут скрыты от вас. Возможности развернуть и подглядеть их не будет</li>
                        <li>🔕 Вы больше не получите уведомлений, если юзер вас упомянет</li>
                        <li>💀 Ваша жалоба поступит модераторам. Ничего делать не нужно, просто когда их наберется много — мы рассмотрим вариант исключения человека из Клуба насовсем</li>
                        <li>⚠️ Вы всё еще сможете читать посты по прямой ссылке</li>
                        <li>☝️ Количество мьютов ограничено, <strong><a href="{% url "muted" request.me.slug %}">у вас их осталось {{ mutes_left }}</a></strong>. Так надо, чтобы мьюты не превращались в оружие борьбы с несогласными и не создавали пузырей</li>
                    </ul>

                    <p>
                        Расскажите модераторам почему вам не нравится {{ user.full_name }}.
                        Приложите ссылочки на конкретные комментарии — это поможет нам обсудить и принять решение.
                    </p>
            </div>

            <form action="." method="post">
                <div>
                    <textarea
                        name="comment"
                        maxlength="1000"
                        placeholder="Почему вам не нравится {{ user.full_name }}? Сообщение будет видно только модераторам."
                        class="create-badge-note"
                        required>
                    </textarea>
                </div>

                <div class="block-description block-description-center">
                    <button type="submit" class="button">Замьютить и пожаловаться</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
