{% extends "layout.html" %}
{% load static %}
{% load users %}

{% block title %}
    Ачивки — {{ block.super }}
{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
    <meta property="og:site_name" content="{{ settings.APP_NAME }}">
    <meta property="og:url" content="{{ settings.APP_HOST }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <meta property="og:image" content="{% static "images/share.png" %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Ачивки — {{ settings.APP_NAME }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{% static "images/share.png" %}">
{% endblock %}


{% block content %}
    <div class="achievements">
        <div class="achievements-header">Ачивки</div>

        <div class="achievements-description">
            <p>
                Пока все ачивки выдаются вручную.
                Модераторы сами отслеживают достойных.
                Если мы вдруг кого-то пропустили — вы всегда можете предложить кандидата нам на почту: <a href="mailto:moderator@vas3k.club">moderator@vas3k.club</a>.
                Себя предлагать нельзя.
            </p>

            <p>
                Для получения ачивок за сходки и офлайн-активности нужны фото-подтверждения.
                Селфи всех участников подойдёт. Можно написать отчет о посиделке или просто прислать фото со списком ников участников на ту же почту.
            </p>
        </div>

        <div class="profile-achievements">
            <div class="user-achievements">
                {% for achievement in achievements %}
                    <span class="user-achievement" {% if achievement.style %}style="{{ achievement.style }}"{% endif %}>
                        <span class="user-achievement-wrapper">
                            <img src="{{ achievement.image }}" class="user-badge-image" alt="{{ achievement.code }}">
                            <span class="user-achievement-name">{{ achievement.name }}</span>
                        </span>
                        <span class="user-achievement-popup" {% if achievement.style %}style="{{ achievement.style }}"{% endif %}>{{ achievement.description }}</span>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
