{% extends "layout.html" %}
{% load static %}
{% load users %}
{% load text_filters %}

{% block title %}
    Сеть — {{ block.super }}
{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="Сеть — {{ settings.APP_NAME }}">
    <meta property="og:site_name" content="{{ settings.APP_NAME }}">
    <meta property="og:url" content="{{ settings.APP_HOST }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <meta property="og:image" content="{% static "images/share.png" %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Сеть — {{ settings.APP_NAME }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{% static "images/share.png" %}">
{% endblock %}


{% block content %}
    <div class="content network">
        <div class="network-title">Сеть Клуба</div>

        <div class="network-description">
            Здесь мы собираем все наши чатики и прочие официальные представительства Клуба в Большом Интернете.
        </div>

        {% if not network %}
            <div class="block network-block">
                <a class="network-header">Тут пока ничего нет :(</a>
                <p>
                    Добавьте чатики в таблички network_groups и network_items через админку, тогда они появятся здесь.
                </p>
            </div>
        {% endif %}

        {% for group in network %}
            <div class="block network-block" id="{{ group.code }}">
                <a href="#{{ group.code }}" class="network-header">{{ group.title }}</a>

                {% if group.items %}
                    <div class="network-channels">
                        {% for item in group.items.all %}
                            <a href="{{ item.url }}" target="_blank" class="network-channel">
                                {% if item.image %}
                                    <span class="avatar network-channel-icon"><img src="{{ item.image }}" alt="{{ item.name }}"></span>
                                {% endif %}

                                {% if item.icon %}
                                    <span class="network-channel-badge">{{ item.icon | safe }}</span>
                                {% endif %}

                                {% if item.name %}
                                    <span class="network-channel-name">{{ item.name | safe  }}</span>
                                {% endif %}

                                {% if item.description %}
                                    <span class="network-channel-description">{{ item.description | safe }}</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="network-channel-text">
                    {{ group.text | markdown }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
