{% extends "layout.html" %}
{% load static %}
{% load users %}

{% block title %}
    Сеть — {{ block.super }}
{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="Сеть — {{ settings.APP_NAME }}">
    <meta property="og:site_name" content="{{ settings.APP_NAME }}">
    <meta property="og:url" content="{{ settings.APP_HOST }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <meta property="og:image" content="{% static "images/share.png" %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Сеть — {{ settings.APP_NAME }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{% static "images/share.png" %}">
{% endblock %}


{% block content %}
    <div class="content network">
        {{ page_html | safe }}
    </div>
{% endblock %}
