{% extends "layout.html" %}
{% load static %}
{% load users %}
{% load text_filters %}

{% block title %}
    Сеть — {{ block.super }}
{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="Сеть — {{ settings.APP_NAME }}">
    <meta property="og:site_name" content="{{ settings.APP_NAME }}">
    <meta property="og:url" content="{{ settings.APP_HOST }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <meta property="og:image" content="{% static "images/share.png" %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Сеть — {{ settings.APP_NAME }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{% static "images/share.png" %}">
{% endblock %}


{% block content %}
    <div class="content network">
        <div class="network-title">Сеть Клуба</div>

        <div class="network-description">
            Здесь мы собираем все наши чатики и прочие официальные представительства Клуба в Большом Интернете.
        </div>

        {% if not network %}
            <div class="block network-block">
                <a class="network-header">Тут пока ничего нет :(</a>
                <p>
                    Добавьте чатики в таблички network_groups и rooms через админку, тогда они появятся здесь.
                </p>
            </div>
        {% endif %}

        {% for group in network %}
            <div class="block network-block" id="{{ group.code }}">
                <a href="#{{ group.code }}" class="network-header">{{ group.title }}</a>

                {% if group.rooms %}
                    <div class="network-channels">
                        {% for room in group.rooms.all %}
                            {% if room.is_visible and room.get_private_url %}
                                <a href="{{ room.get_private_url }}" target="_blank" class="network-channel">
                                    {% if room.image %}
                                        <span class="avatar network-channel-icon"><img src="{{ room.image }}" alt="{{ room.title }}"></span>
                                    {% endif %}

                                    {% if room.icon %}
                                        <span class="network-channel-badge">{{ room.icon | safe }}</span>
                                    {% endif %}

                                    {% if room.title %}
                                        <span class="network-channel-name">{{ room.title | safe  }}</span>
                                    {% endif %}

                                    {% if room.subtitle %}
                                        <span class="network-channel-description">{{ room.subtitle | safe }}</span>
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="network-channel-text">
                    {{ group.text | markdown }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
