{% extends "layout.html" %}
{% load static %}
{% load users %}
{% load text_filters %}

{% block title %}
    Статистика — {{ block.super }}
{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
    <meta property="og:site_name" content="{{ settings.APP_NAME }}">
    <meta property="og:url" content="{{ settings.APP_HOST }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <meta property="og:image" content="{% static "images/share.png" %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Статистика — {{ settings.APP_NAME }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{% static "images/share.png" %}">
{% endblock %}


{% block content %}
    <div class="stats">
        <div class="stats-title">🏆<br>Статистика Клуба</div>

        <div class="stats-description">
            Наша экспериментальная страничка со статистикой.
            Пока тут всё о людях, но если вы умеете во фронтенд и графики, можете добавить сюда стату по плюсикам, постам и остальному.<br>
            Предлагайте идеи <strong><a href="https://github.com/vas3k/vas3k.club/issues" target="_blank">на наш гитхаб</a></strong>.
        </div>

        <div class="stats-header">💎 Миллионеры</div>

        <div class="stats-description">
            Члены Клуба с самой длинной подпиской.
            Они помогают Клубу развиваться и оставаться независимым, потому им респект и обнимашки.<br>
            Продлить свою можно <strong><a href="{% url "edit_payments" me.slug %}">здесь</a></strong>.
        </div>

        <div class="block stats-top-users">
            <div class="top-users">
                {% for user in top_users|slice:"0:5" %}
                    <a href="{% url "profile" user.slug %}" class="top-user top-user-big zoom-on-hover">
                        <span class="top-user-avatar-badge">🏆</span>
                        <span class="avatar top-user-avatar">
                            <img src="{{ user.get_avatar }}" alt="Аватар {{ user.full_name }}" loading="lazy" />
                        </span>
                        <span class="top-user-name">#{{ forloop.counter }}: {{ user.full_name }}</span>
                        <span class="top-user-info">до {{ user.membership_expires_at | date:"E Y" }} года</span>
                    </a>
                {% endfor %}
            </div>

            <div class="top-users">
                {% for user in top_users|slice:"5:25" %}
                    <a href="{% url "profile" user.slug %}" class="top-user top-user-medium zoom-on-hover">
                        <span class="avatar top-user-avatar">
                            <img src="{{ user.get_avatar }}" alt="Аватар {{ user.full_name }}" loading="lazy" />
                        </span>
                        <span class="top-user-name">#{{ forloop.counter|add:5 }}: {{ user.full_name }}</span>
                        <span class="top-user-info">{{ user.membership_expires_at | date:"F Y" | lower }}</span>
                    </a>
                {% endfor %}
            </div>

            <div class="top-users">
                {% for user in top_users|slice:"25:64" %}
                    <a href="{% url "profile" user.slug %}" class="top-user top-user-small" title="до {{ user.membership_expires_at | date:"E Y" }} года">
                        <span class="avatar top-user-avatar">
                            <img src="{{ user.get_avatar }}" alt="Аватар {{ user.full_name }}" loading="lazy" />
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="stats-header">🥇 Награды</div>

        <div class="stats-description">
            Награды дарят члены Клуба другим членам Клуба.
            Они стоят денег, потому каждая награда подчёркивает особый вклад по мнению коммьюнити.
            Вот топ самых награждаемых юзеров за последний год 👇
        </div>

        <div class="block stats-badges-top">
            {% for user in top_badges %}
                <a href="{% url "profile_badges" user.slug %}" class="top-user top-user-big zoom-on-hover">
                    <span class="top-user-avatar-badge">🎖</span>
                    <span class="avatar top-user-avatar">
                        <img src="{{ user.get_avatar }}" alt="{{ user.full_name }}" loading="lazy" />
                    </span>
                    <span class="top-user-name">#{{ forloop.counter }}: {{ user.full_name }}</span>
                    <span class="top-user-info">
                        {% for badge in user.to_badges.all|slice:":5" %}
                            <img
                                src="{% static "images/badges" %}/big/{{ badge.badge.code }}.png"
                                alt="{{ badge.badge.title }}"
                                class="stats-badge-image-tiny">
                        {% endfor %}
                    </span>
                </a>
            {% endfor %}
        </div>

        <div class="stats-subheader">
            Последние выданные награды 👇
        </div>

        <div class="stats-badges-latest">
            {% for badge in latest_badges %}
                <a href="{% url "profile_badges" badge.to_user.slug %}" class="stats-badge zoom-on-hover">
                    <img
                        src="{% static "images/badges" %}/big/{{ badge.badge.code }}.png"
                        alt="{{ badge.badge.title }}"
                        class="stats-badge-image">
                    <span class="stats-badge-title">{{ badge.badge.title}}</span>
                    <span class="stats-badge-info">🎖 {{ badge.to_user.full_name }}</span>
                </a>
            {% endfor %}
        </div>

        <div class="stats-header">🏆 Ачивки</div>

        <div class="stats-description">
            Ачивки выдаются Парламентом за вклад в развитие Клуба.<br>
            Чтобы получить ачивку — напишите на почту <strong><a href="mailto:moderator@vas3k.club">moderator@vas3k.club</a></strong> с пруфами и ссылками на аккаунты.
            Для оффлайн-ачивок потребуется фото-подтверждение.
        </div>

        {% for achievement in achievements %}
            <div class="stats-achievements">
                <div class="stats-achievements-badge">
                    <span class="user-achievement">
                        <span class="user-achievement-wrapper">
                            <div class="user-achievement-front" {% if achievement.style %}style="{{ achievement.style }}"{% endif %}>
                                <img src="{{ achievement.image }}" class="user-badge-image" alt="{{ achievement.code }}">
                                <span class="user-achievement-name">{{ achievement.name }}</span>
                            </div>
                            <div class="user-achievement-back" {% if achievement.style %}style="{{ achievement.style }}"{% endif %}>
                                {{ achievement.description }}
                            </div>
                        </span>
                    </span>
                </div>
                <div class="stats-achievements-users">
                    {% for user in achievement.achievement_users|slice:":25" %}
                        <a href="{% url "profile" user.slug %}" class="top-user top-user-medium zoom-on-hover">
                            <span class="avatar top-user-avatar">
                                <img src="{{ user.get_avatar }}" alt="Аватар {{ user.full_name }}" loading="lazy" />
                            </span>
                            <span class="top-user-name">{{ user.full_name }}</span>
                        </a>
                    {% endfor %}
                    {% if achievement.user_count > 25 %}
                       <span class="top-user-more">...и ещё {{ achievement.user_count|add:-25 }} {{ achievement.user_count|add:-25|rupluralize:"пользователь,пользователя,пользователей" }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="stats-header">🏛 Парламент</div>

        <div class="stats-description">
            Парламент — это совет активных членов Клуба. Они собирают фидбек и определяют каким мы хотим видеть Клуб.
            Зачем он нужен и как попасть — читайте <a href="{{ settings.PARLIAMENT_GUIDE_URL }}">в нашем гайде</a>.
        </div>

        <div class="top-users">
            {% for user in parliament %}
                <a href="{% url "profile" user.slug %}" class="top-user top-user-medium zoom-on-hover">
                    <span class="avatar top-user-avatar">
                        <img src="{{ user.get_avatar }}" alt="Аватар {{ user.full_name }}" loading="lazy" />
                    </span>
                    <span class="top-user-name">{{ user.full_name }}</span>
                </a>
            {% endfor %}
        </div>

        <div class="stats-header">🌚 Модераторы</div>

        <div class="stats-description">
            Они обычно очень заняты, так что если хотите с ними связаться — пингуйте в комментах мета-аккаунт <a href="/user/moderator/"><strong>@moderator</strong></a> или пользуйтесь нашей почтой.
        </div>

        <div class="top-users">
            {% for user in moderators %}
                <a href="{% url "profile" user.slug %}" class="top-user top-user-medium zoom-on-hover">
                    <span class="avatar top-user-avatar">
                        <img src="{{ user.get_avatar }}" alt="Аватар {{ user.full_name }}" loading="lazy" />
                    </span>
                    <span class="top-user-name">{{ user.full_name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
