{% load static %}
{% load render_bundle from webpack_loader %}

<script>
    window.imageUploadUrl = "{{ settings.MEDIA_UPLOAD_URL }}";
    window.imageUploadCode = "{{ settings.MEDIA_UPLOAD_CODE }}";
</script>
{% render_bundle "main" "js" %}

<!-- For twitter embeds -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!--LiveInternet counter--><a href="https://www.liveinternet.ru/click"
target="_blank"><img id="licnt52CA" width="1" height="1" style="border:0"
title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
alt=""/></a><script>(function(d,s){d.getElementById("licnt52CA").src=
"https://counter.yadro.ru/hit?t14.6;r"+escape(d.referrer)+
((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
(s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
";h"+escape(d.title.substring(0,150))+";"+Math.random()})
(document,screen)</script><!--/LiveInternet-->
