{% load comments %}
{% load text_filters %}
{% load battle %}

<battle-comment
    id="{{ comment.id }}"
    :comment="{% battle_comment_data comment me %}"
    title="{{ comment.title | rutypography }}"
    content="{% unsafe_render_comment comment %}"
    {% if me == comment.author or me.is_moderator %}edit-url="{% url "edit_comment" comment.id %}"{% endif %}
    {% if me == comment.author or me == comment.post.author or me.is_moderator %}delete-url="{% url "delete_comment" comment.id %}"{% endif %}
    {% if me and comment.post.is_commentable %}can-reply{% endif %}
>
</battle-comment>
