{% load comments %}

<comment
    id="{{ comment.id }}"
    :comment="{% comment_data comment me %}"
    comment-url="{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}"
    {% if comment.created_at > post_last_view_at %}is-new{% endif %}
    {% if comment.is_pinned %}is-pinned{% endif %}
    {% if me == comment.post.author or me.is_moderator %}pin-url="{% url "pin_comment" comment.id %}"{% endif %}
    {% if me == comment.author or me.is_moderator %}edit-url="{% url "edit_comment" comment.id %}"{% endif %}
    {% if me == comment.author or me == comment.post.author or me.is_moderator %}delete-url="{% url "delete_comment" comment.id %}"{% endif %}
    {% if me and comment.post.is_commentable %}can-reply{% endif %}
    content="{% unsafe_render_comment comment %}"
>
</comment>
