{% load text_filters %}
{% load posts %}
{% load comments %}
<div class="comment comment-layout-normal {% if comment.is_pinned %}comment-is-pinned{% endif %} {% if comment.created_at > post_last_view_at %}comment-is-new{% endif %}" id="comment-{{ comment.id }}">
    <div class="comment-header">
        <div class="user user-small">
            <span class="user-avatar">
                <a class="avatar" href="{% url "profile" comment.author.slug %}">
                    <img src="{{ comment.author.get_avatar }}" alt="Аватар {{ comment.author.full_name }}" loading="lazy" />
                </a>
            </span>
            <span class="user-info">
                <a href="{% url "profile" comment.author.slug %}">
                    <span class="user-name">{{ comment.author.full_name }}</span><span class="user-position">, {{ comment.author.position }}</span>
                    {% if comment.author.hat %}{% include "users/widgets/hat.html" with hat=comment.author.hat %}{% endif %}
                </a>
            </span>
            <span class="user-footer">
                <a href="{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}">{{ comment.created_at | cool_date }}</a>
            </span>
        </div>
    </div>
    <div class="comment-rating">
        <comment-upvote :initial-upvotes="{{ comment.upvotes }}"
                         :hours-to-retract-vote="{{settings.RETRACT_VOTE_IN_HOURS}}"
                         upvote-url="{% url "upvote_comment" comment.id %}"
                         retract-vote-url="{% url "retract_comment_vote" comment.id %}"
                         {% if comment.is_voted %}
                            initial-is-voted
                            initial-upvote-timestamp="{{comment.upvoted_at}}"
                         {% endif %}
                         {% if not me|can_upvote:comment or upvote_disabled %}is-disabled{% endif %}
                         is-small>
        </comment-upvote>

        {% if comment.is_pinned %}
            <div class="comment-pinned-icon"><i class="fas fa-thumbtack"></i></div>
        {% endif %}
    </div>
    <div class="comment-body">
        <div class="text-body text-body-type-comment">
            {% render_comment comment %}
        </div>
    </div>
    <div class="comment-footer">
        {% if me == comment.post.author or me.is_moderator %}
            <a href="{% url "pin_comment" comment.id %}" class="comment-edit-button comment-button-hidden"><i class="fas fa-thumbtack"></i></a>
        {% endif %}

        {% if me == comment.author or me == comment.post.author or me.is_moderator %}
            <a href="{% url "delete_comment" comment.id %}" class="comment-edit-button comment-button-hidden" onclick="return confirm('Удаляем?')"><i class="fas fa-trash"></i></a>
        {% endif %}

        {% if me == comment.author or me.is_moderator %}
            <a href="{% url "edit_comment" comment.id %}" class="comment-edit-button comment-button-hidden"><i class="fas fa-edit"></i></a>
        {% endif %}

        {% if me and comment.post.is_commentable %}
            <span class="comment-reply-button" v-on:click="showReplyForm('{{ comment.id }}', '{{ comment.author.slug }}', true)"><i class="fas fa-reply"></i>&nbsp;ответить</span>
        {% endif %}
    </div>
</div>
