{% extends "message.html" %}

{% block message %}
    <h2>Успех 🤘</h2>

    {% if payment.product_code == "club1" or payment.product_code == "club3" or payment.product_code == "club50" %}
        {% if payment.user.is_club_member %}
            <p>
                Ваша клубная карта продлена!
            </p>

            <p>
                Иногда банки не сразу обрабатывают транзакцию, так что не пугайтесь, если циферка в профиле обновится чуть позже.
                У нас всё записано и в случае любых проблем, поддержка Клуба всегда поможет вам :)
            </p>

            <br>

            <p>
                <a href="{% url "profile" payment.user.slug %}" class="button">Перейти в свой профиль</a>
            </p>
        {% else %}
            <p>
                Мы завели вам аккаунт в Клубе!
            </p>

            <p>
                Ваша почта для входа: <strong>{{ payment.user.email }}</strong>
            </p>

            <p>
                Чтобы упростить вам жизнь, мы сгенерировали вам личный секретный логин-код для входа:
            </p>

            <input type="text" value="{{ payment.user.secret_auth_code }}" style="width: 90%;" readonly>

            <p>
                <strong>Сохраните его в свой менеджер паролей</strong> и используйте вместо логина, чтобы моментально входить на сайт.
                Но это не обязательно, вы всегда сможете войти просто по коду из почты.
            </p>

            <p>
                Пока банк обрабатывает транзакцию, можно начать заполнять профиль 👇
                <br><br>
            </p>

            <p>
                <a href="{% url "login" %}?email={{ payment.user.email|urlencode }}" class="button">Войти в свой профиль</a>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
