{% extends "message.html" %}

{% block message %}
    <h2>Успех 🤘</h2>

    {% if payment.product_code == "club1" or payment.product_code == "club3" or payment.product_code == "club50" %}
        {% if payment.user.is_club_member %}
            <p>
                Ваша клубная карта продлена!
            </p>

            <p>
                Иногда банки не сразу обрабатывают транзакцию, так что не пугайтесь, что циферка в профиле может обновиться чуть позже.
                У нас всё записано и в случае любых проблем, поддержка Клуба всегда поможет вам :)
            </p>

            <p>
                <a href="{% url "profile" payment.user.slug %}" class="button">Мой профиль</a>
            </p>
        {% else %}
            <p>
                Ваш аккаунт был создан. Почта для входа: <strong>{{ payment.user.email }}</strong>.
            </p>

            <p>
                Пока банк обрабатывает транзакцию, вы можете начать заполнять свой профиль чтобы рассказать другим участникам Клуба о себе.
            </p>

            <p>
                <a href="{% url "login" %}?email={{ payment.user.email|urlencode }}" class="button">Войти в свой профиль</a>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
