{% extends "message.html" %}

{% block message %}
    <h2>Автопополнение отключено ☠️</h2>

    <p>
        Больше мы не будем снимать с вас денюжку автоматически.
        Если это всё же произойдет, обязательно <a href="{% url "docs" "contact" %}">напишите нам</a> и мы всё порешаем.
        Там же можем сделать рефаунд, если вы вдруг не хотели продлевать эту подписку.
    </p>

    <p>
        Кстати, у вас могли остаться другие активные подписки. Проверьте их в настройках, нажав на кнопочку ниже.
    </p>

    <br>

    <p>
        <a href="{% url "edit_payments" me.slug %}" class="button">Назад к настройке платежей</a>
    </p>
{% endblock %}
