{% load posts %}
{% load text_filters %}
<article class="block feed-post h-entry {% css_classes post %}">
    <div class="feed-post-header">
        <div class="feed-post-title">
            {% if post.is_pinned %}<i class="fas fa-thumbtack"></i>{% endif %}
            <span class="p-name">
                Батл: <a href="{% url "show_post" post.type post.slug %}" class="post-title-link">
                    <span class="battle-side-a-color">{{ post.metadata.battle.sides.a.name | rutypography }}</span>
                    или
                    <span class="battle-side-b-color">{{ post.metadata.battle.sides.b.name | rutypography }}?</span>
                </a>
            </span>
            {% if post.label %}
                {% include "posts/widgets/label.html" with label=post.label %}
            {% endif %}
        </div>
    </div>
    <div class="feed-post-author">
        <a href="{% url "profile" post.author.slug %}" class="avatar"><img src="{{ post.author.get_avatar }}" alt="Аватар {{ post.author.full_name }}" loading="lazy" /></a>
    </div>
    <div class="feed-post-votes">
        <post-upvote :initial-upvotes="{{ post.upvotes }}"
                     upvote-url="{% url "upvote_post" post.slug %}"
                     :hours-to-retract-vote="{{settings.RETRACT_VOTE_IN_HOURS}}"
                     retract-vote-url="{% url "retract_post_vote" post.slug %}"
                     {% if post.is_voted %}
                        initial-is-voted
                        initial-upvote-timestamp={{post.upvoted_at}}
                     {% endif %}
                     {% if not me|can_upvote:post or upvote_disabled %}is-disabled{% endif %}>
        </post-upvote>
    </div>
    <div class="feed-post-footer">
        {% if post.topic %}
            <span class="feed-post-topic">
                {% include "posts/widgets/topic.html" with topic=post.topic type="inline" %}
            </span>
        {% endif %}

        <a href="{% url "show_post" post.type post.slug %}#comments" class="feed-post-comments">
            {{ post.comment_count }} {{ post.comment_count | rupluralize:"комментарий,комментария,комментариев" }}
        </a>

        {% if post.unread_comments %}
            <a href="{% url "show_post" post.type post.slug %}#comments" class="feed-post-comments-unread">
                +{{ post.unread_comments }} {{ post.unread_comments | rupluralize:"новый,новых,новых" }}
            </a>
        {% endif %}

        {% include "posts/widgets/bookmark_controls.html" %}

    </div>
</article>
