{% load text_filters %}
<div class="feed-post feed-post-type-{{ post.type }}">
    <div class="feed-post-author">
        <a href="{% url "profile" post.author.slug %}" class="avatar" style="background-image: url('{{ post.author.get_avatar }}');"></a>
    </div>

    <div class="feed-post-header">
        <div class="feed-post-title">
            <span>{{ post.title }}</span>
            {% if post.label %}
                {% include "posts/common/label.html" with label=post.label %}
            {% endif %}

            <a href="{% url "upvote_post" post.slug %}" class="upvote {% if post.is_voted %}upvote-voted{% endif %} upvote-type-inline" onclick="ajaxify(event, postUpvoted)">{{ post.upvotes }}</a>

            {% if post.comment_count > 0 %}
                <a href="{% url "show_post" post.type post.slug %}#comments" class="feed-post-comments">
                    {{ post.comment_count }} {{ post.comment_count | rupluralize:"комментарий,комментария,комментариев" }}
                </a>
            {% endif %}
        </div>
    </div>
    <a class="block-link" href="{% url "show_post" post.type post.slug %}"></a>
</div>
