.bookmarks {
    padding-top: 30px;
}

    .bookmarks-title {
        font-size: 220%;
        font-weight: 600;
        text-align: right;
    }

    .bookmarks-list {
        padding-top: 20px;
    }

    .bookmarks-list-placeholder {
        font-size: 130%;
        opacity: 0.6;
        text-align: right;
        padding-top: 40px;
        max-width: 500px;
        float: right;
    }
