{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели твой профиль и не можем пустить тебя в Клуб в таком виде. Сейчас твоё интро выглядит слишком агрессивно, а у нас тут всё-таки дружелюбное коммьюнити.
    </p>

    <p>
        Вот пара советов как можно его улучшить:
    </p>

    <ul>
        <li>🤝 Как видишь, мы тут живые люди, потому обмануть нас всякими трюками не выйдет</li>
        <li>❌ Мы не очень ценим агрессию и сарказм в интро. Не надо защищаться, мы тут чтобы общаться!</li>
        <li>🤬 Убери фразы типа «я потом допишу», «я не люблю писать о себе», «я тут только читать посты» и другие попытки оправдать свою лень</li>
        <li>😎 Напиши пару абзацев о своих увлечениях, проектах и интересном жизненном опыте. Это всем всегда интересно!</li>
        <li>⛵️ Поделись своими мечтами или планами. Вот если бы у тебя стали бесконечные деньги — что бы ты сделал первым делом?</li>
    </ul>

    <p>
        Держи ссылочку чтобы переписать его и пройти еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <p>
        P.S.: Подавать несколько раз одно и то же не стоит, это быстро приведёт к бану.
    </p>

    <br><br><br>
{% endblock %}
