{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели ваш профиль и нам показалось, чот вы использовали слишком много ИИ при его создании или просто случайно сделали его слишком похожим на текст модных нейронок. Мы ценим искренность и человечность в Клубе, потому мы не можем такое пропустить.
    </p>

    <p>
        Мы понимаем, писать о себе бывает сложно и непривычно. Вот пара советов о том, что обычно работает:
    </p>

    <ul>
        <li>🗣️ Пишите своими словами как есть</li>
        <li>🏄‍♂️ Расскажите о своих странных заброшенных хобби или как вы бы провели свои идеальный выходной</li>
        <li>🤖 Похвастайтесь проектом, над которыми вы работаете или когда-то работали?</li>
        <li>🔥 Расскажите забавные истории из своей жизни. Может быть вы переезжали или участвовали в каких-то ивентах, ездили на край света?</li>
        <li>⛵️ Поделитесь мечтами и планами на жизнь. Вот если бы у вас появились бесконечные деньги — что бы вы сделали первым делом?</li>
        <li>🔗️ Добавьте ссылочек на свои соцсети, если они есть. Так люди смогут узнать о вас хотя бы там.</li>
    </ul>

    <p>
        Вот ссылочка, чтобы исправить недочёты и податься на ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
