{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели ваш профиль и в нём пока очень мало данных. По ним мы не можем убедиться, что вы не аноним или какой-нибудь забаненный раннее тролль.
    </p>

    <p>
        Рекомендуем:
    </p>

    <ul>
        <li>🧐 Убедитесь, что правильно указали имя и фамилию. Мы принимаем никнеймы тоже, но только если вы используете их консистентно хотя бы в нескольких социалках и у вас более 1000 подписчиков</li>
        <li>🔗 Приложите ссылки на свои соцсети, блоги и прочее. Отмазки «я не сижу в соцсетях» не прокатят, зачем вам тогда Клуб вообще :)</li>
        <li>👮‍♀️ Не нужно предлагать нам сканы паспорта и прочие доказательства. Мы люди интернета и мы исключительно за цифровой след.</li>
    </ul>

    <p>
        Вот ссылочка чтобы исправить недочёты и пройти ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
