{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели твое интро и там пока очень мало данных о тебе настоящем. Представь как на тебя посмотрят другие участники Клуба, которые честно заполняли свои профили? Брр.
    </p>

    <p>
        Давай так! Проверь, что ты правильно указал имя и фамилию, положи пару ссылочек на свои блоги, соцсети (не пустые), или что угодно чтобы мы могли знать, что ты не анонимус. Не бывает так, чтобы вообще ничего не было :)
    </p>

    <p>
        Если регистрируешься под псевдонимом, докажи его ссылочками на другие места, где он используется. Короче, у нас всё гибко, если быть честным.
    </p>

    <p>
        Мы отнюдь не просим сканов паспорта и цитат из резюме, мы просто стараемся выдерживать некую планку личных связей. Общение в Клубе намного важнее постов и всего остального, а сидеть среди угрюмых анонимусов всегда неприятно.
    </p>

    <p>
        Держи ссылочку чтобы исправить недочёты и пройти ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
