{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели твой профиль и он действительно неплох!
    </p>

    <p>
        У тебя явно есть потенциал, но сейчас твое интро выглядит слишком общим. Мы тоже любим путешествовать, играть в игры и всякое такое, потому хотим услышать именно твою историю!
    </p>

    <p>
        Вот пара советов о чем еще можно рассказать, чтобы избежать общих слов:
    </p>

    <ul>
        <li>🏄‍♀️ Допиши ещё пару абзацев о своих увлечениях, хобби или интересном опыте.</li>
        <li>🔥 Расскажи забавные истории из своей жизни. Может быть ты преезжал или участовал в каких-то крутых ивентах?</li>
        <li>⛵️  Поделись своими мечтами или планами. Вот если бы у тебя стали бесконечные деньги — что бы ты сделал первым делом?</li>
        <li>🤖 Похвастайся проектом, над которыми ты работал или расскажи о своих идеях для новых?</li>
    </ul>

    <p>
        Держи ссылочку чтобы исправить интро и пройти ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
