{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели ваш профиль и пока не можем пропустить вас в Клуб с таким интро. Оно слишком короткое или абстрактное, короче, нужно дописать еще!
    </p>

    <p>
        Клуб — это коммьюнити людей, а люди предпочитают знакомиться когда приглашают других людей к себе в дом.
        Мы уважаем приватность участников, потому не просим от вас скан паспорта или резюме.
        Мы лишь хотим услышать вашу честную и открытую историю. У каждого она есть.
    </p>

    <p>
        Мы понимаем, писать о себе бывает сложно и непривычно. Вот пара советов о том, что обычно работает:
    </p>

    <ul>
        <li>🏄‍♂️ Допишите ещё пару абзацев о себе. Например, опишите своё странное заброшенное хобби или как вы бы провели идеальный выходной</li>
        <li>🤖 Похвастайтесь проектом, над которыми вы работал или идеями для новых?</li>
        <li>🔥 Расскажите забавные истории из своей жизни. Может быть вы преезжали, участовали в каких-то ивентах, ездили на край света?</li>
        <li>⛵️ Поделитесь мечтами и планами на жизнь. Вот если бы у вас появились бесконечные деньги — что бы вы сделали первым делом?</li>
    </ul>

    <p>
        Вот ссылочка чтобы исправить недочёты и податься на ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
