{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели ваш профиль и пока не можем пропустить вас из-за имени.
    </p>

    <ul>
        <li>🤔 Добавьте фамилию. Мы же должны как-то отличать пятьсот разных Олегов</li>
        <li>🤔 Вы можете использовать псевдоним, но тогда у вас должны быть ссылки на аккаунты в соцсетях, где он используется консистентно. В аккаунтах должны быть реальные фолловеры, не меньше 500-1000, чтобы мы понимали, что вы действительно известны под данным псевдонимом</li>
        <li>🤔 Если нет, скорее всего придётся указать реальное имя и фамилию, иначе никак</li>
    </ul>

    <p>
        Держите ссылочку чтобы исправить имя и пройти ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
