{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели ваш профиль и пока не можем пропустить вас из-за имени.
        У нас принято использовать имя + фамилию, либо имя + никнейм, либо просто никнейм, если вы используете его консистентно по интернету.
        Для этого нужно приложить ссылочки на свои соцсети, чтобы мы видели, что это действительно ваш уникальный псевдоним, а не какой-то дженерик.
    </p>

    <ul>
        <li>🤔 Добавьте фамилию. Мы же должны как-то отличать пятьсот разных Олегов</li>
        <li>🤔 В аккаунтах должны быть реальные фолловеры, чтобы мы понимали, что вы действительно известны под данным псевдонимом</li>
        <li>🤔 Если нет, скорее всего придётся указать реальное имя и фамилию, иначе у нас просто будет пятьсот «Олегов»</li>
    </ul>

    <p>
        Держите ссылочку чтобы исправить имя и пройти ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
