{% extends "layout.html" %}
{% load static %}
{% load posts %}

{% block title %}
    {% if post %}
        {% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title }}{% if post.topic %} [{{ post.topic.name }}]{% endif %} — {{ block.super }}
    {% endif %}
{% endblock %}

{% block og_tags %}
    {% if post %}
        <meta property="og:title" content="{% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title }} — {{ settings.APP_NAME }}">
        <meta property="og:site_name" content="{{ settings.APP_NAME }}">
        <meta property="og:url" content="{{ settings.APP_HOST }}{% url "show_post" post.type post.slug %}">
        <meta property="og:type" content="article" />
        <meta property="og:description" content="{{ post.description | truncatechars:100 }}">
        <meta property="og:image" content="{% og_image post %}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{% if post.prefix %}{{ post.prefix }} {% endif %}{{ post.title }} — {{ settings.APP_NAME }}">
        <meta name="twitter:description" content="{{ post.description | truncatechars:100 }}">
        <meta name="twitter:image" content="{% og_image post %}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="block access-denied">
        <h2>Эта страница доступна только участникам Клуба 🎩</h2>

        <p>
            4aff - образовательный продукт. Мы продаём обучение по аффилиатскому маркетингу в формате онлайн клуба по ежемесячной подписке.
        </p>
        <p>
            Всё просто: топы индустрии обучают новичков и подсказывают лайфхаки в режиме живого общения.
        </p>
        <p>
            Представители индустрии выдают промокоды и лучшие условия на рынке.
        </p>

        <p>
            <br>
            <a href="{% url "login" %}?goto={{ settings.APP_HOST }}{{ request.path }}" class="button">Войти</a>&nbsp;&nbsp;или&nbsp;&nbsp;<a href="{% url "join" %}" class="button">Вступить в Клуб</a>
        </p>
    </div>
{% endblock %}
