{% extends "layout.html" %}

{% block menu %}{% endblock %}

{% block content %}
    <div class="content join">
        <div class="join-title"><a href="{% url "index" %}">Вступить в Клуб 🎩</a></div>

        <div class="join-description">
            <p>Привет. Всегда рады новым членам Клуба! Внутри:</p>
            <ul>
                <li>Мероприятия от ведущих специалистов из разных индустрий</li>
                <li>Расширяйте нетворк. Да-да, если хотите, можно познакомиться с новыми людьми в разных городах и разных странах.</li>
                <li>Внутри можно обсуждать и делиться тем, что обычно не рассказывают в соцсетях. Поэтому в Клуб доступ платный и только через ручную модерацию. У нас безопасно!</li>
            </ul>

            <p>Как попасть в клуб по шагам:</p>
            <ol>
                <li>Оплатить подписку. Можно с РФ карты или с карты иностранного банка. Вы на этом шаге.</li>
                <li>Написать короткое интро о себе, откроется после оплаты. Так же интро помогает другим участникам находить вас и знакомиться.</li>
                <li>Проверим ваше интро и одобрим его. Смотрим, что вы живой человек.</li>
            </ol>
        </div>

        <form action="{% url "cloudpayments_pay" %}" method="get">

            <div class="join-subtitle" id="select_package">Ежемесячная подписка на Клуб Карьерного Цеха</div>
            {% include "payments/blocks/packages.html" %}

            <div class="join-subtitle">Ваш e-mail</div>

            <div class="block join-email">
                <div class="join-email-form">
                    <label>Вот сюда 👉&nbsp;&nbsp;<input type="email" name="email" placeholder="your@gmail.com" required></label>
                </div>
            </div>

            <label class="join-consent">
                <input type="checkbox" name="iconsent" value="true" required> &larr; я даю согласие на обработку
                <a href="{% url "docs" "privacy_policy" %}" target="_blank">персональных данных</a>, соглашаюсь с
                <a href="{% url "docs" "about" %}" target="_blank">правилами</a> Клуба и помню, что мне придётся написать интро и пройти модерацию
            </label>

            <button type="submit" class="button button-big join-button">Перейти к оплате</button>

        </form>
    </div>
{% endblock %}
