{% extends "layout.html" %}

{% block menu %}{% endblock %}

{% block content %}
    <div class="content join">
        <div class="join-title"><a href="{% url "index" %}">Вступить в Клуб 🎩</a></div>

        <div class="join-description">
            Всегда рады новым членам! Напоминаем, у нас тут не любят анонимов, поэтому мы просим всех новичков заполнить профиль и честно рассказать о себе.
            <br><br>
            Если вам не подходят наши <a href="{% url "docs" "about" %}" target="_blank">правила</a>, вы боитесь деанона или пришли «просто почитать посты» рекомендуем сэкономить нам всем время и пойти на <a href="https://ok.ru/" rel="nofollow">Одноклассники</a>, там как-то с этим попроще.
        </div>

        <form action="{% url "pay" %}" method="get">

        <div class="join-subtitle" id="select_package">Пакет брать будем?</div>

        {% include "payments/blocks/packages.html" %}

        <div class="join-subtitle">Ваш e-mail</div>

        <div class="block join-email">
            <div class="join-email-form">
                <label>Вот сюда 👉&nbsp;&nbsp;<input type="email" name="email" placeholder="your@gmail.com" required></label>
            </div>
        </div>

        <label class="join-consent"><input type="checkbox" name="iconsent" value="true" required> &larr; я даю согласие на обработку <a href="{% url "docs" "privacy_policy" %}" target="_blank">персональных данных</a>, соглашаюсь с <a href="{% url "docs" "about" %}" target="_blank">правилами</a> Клуба и помню, что мне придётся написать интро и пройти модерацию</label>

        <button type="submit" class="button button-big join-button">Перейти к оплате</button>

        </form>

        <div class="block pay-warning" style="margin-top: 100px;">
            ⚠️ Платежи из <strong>России и некоторых банков Беларуси</strong> больше не проходят из-за санкций.
            Альтернативные опции оплаты ищите <strong><a href="{% url "docs" "blocked_dolor" %}">в нашем гайде</a></strong>.
        </div>
    </div>
{% endblock %}
