{% extends "layout.html" %}

{% block content %}
    <div class="login">
        <div class="login-services">
            <div class="block login-service">
                <div class="login-service-title">Вход по почте или нику</div>
                <div class="login-service-form">
                    <form action="{% url "email_login" %}" method="post">
                        <input type="text" name="email_or_login" value="{{ email|default:"" }}" placeholder="your@gmail.com" class="login-email" required>
                        {% if goto %}<input type="hidden" name="goto" value="{{ goto }}">{% endif %}
                        <button type="submit" class="button login-button" style="min-width: 200px;">🤙 Войти</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <p>
                Если вы уже состоите в клубе - вбейте почту на которую регистрировались. нажмите "Войти" и получите код авторизации на почту или в телеграм-бота.
            </p>
        </div>

        <div class="login-separator">🤔 Всё еще нет клубной карты?</div>


        <div class="content">
            <p>
                Для желающих влиться в Клуб, простой гайд:<br>
                1) оплатите подписку (уан доллор), нажав кнопку "Вступить в Клуб"<br>
                2) после чего авторизируйтесь, нажав кнопку "Войти"
            </p>
            <p>
                НЕ платите, если не хотите заполнять интро о себе. В таком случае вам здесь не рады.
            </p>
        </div>

        <div class="login-join">
            <a href="{% url "join" %}" class="button">Вступить в Клуб</a>
        </div>
    </div>
{% endblock %}
