{% extends "layout.html" %}

{% block content %}
    <div class="login">
        <div class="login-services">
            <div class="block login-service">
                <div class="login-service-title">Вход по почте или нику</div>
                <div class="login-service-form">
                    <form action="{% url "email_login" %}" method="post">
                        <input type="text" name="email_or_login" value="{{ email|default:"" }}" placeholder="your@gmail.com" class="login-email" required autocomplete="username email">
                        <div style="display: none"><input type="password" value="none"></div>  <!--This element triggers browser's password manager-->
                        {% if goto %}<input type="hidden" name="goto" value="{{ goto }}">{% endif %}
                        <button type="submit" class="button login-button" style="min-width: 200px;">🤙 Войти</button>
                    </form>
                </div>
                {% if features.PATREON_AUTH_ENABLED %}
                    <div class="login-service-description">
                        ☝️ Олды с Патреона: используйте свой email оттуда
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="login-separator">🤔 Всё еще нет клубной карты?</div>

        <div class="login-join">
            <a href="{% url "join" %}" class="button">Вступить в Клуб</a>
        </div>
    </div>
{% endblock %}
