.not-found {
    max-width: var(--max-content-width);
    margin: 30px auto 45px;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.not-found .upvote {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 2;
}

.not-found-inner {
    padding: 160px 0;
}

@keyframes not-found-bg-block-opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 0;
    }
}

.not-found-bg-block {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: linear;
    z-index: 1;
}

.not-found-header, .not-found-description {
    position: relative;
    z-index: 2;
}

.not-found-header {
    display: block;
    font-size: 300%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    max-width: var(--post-width);
    margin: 10px auto;
}

.not-found-description {
    display: block;
    font-size: 130%;
    text-align: center;
    max-width: var(--post-width);
    margin: 0 auto;
}
