.join {
    font-size: 120%;
    padding-top: 30px;
}

    .join-title {
        text-align: center;
        font-weight: 500;
        font-size: 250%;
        padding-top: 20px;
    }

    .join-subtitle {
        text-align: center;
        font-weight: 500;
        font-size: 180%;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .join-description {
        text-align: center;
        padding: 40px 20px;
    }

    .pay-packages {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

        .pay-packages input[type=radio] {
            display: none;
        }

        .pay-package {
            display: block;
            margin: 10px;
            width: 240px;
            text-align: center;
            font-size: 140%;
            cursor: pointer;
            transition: transform .2s;
        }

            .pay-package:hover {
                transform: scale(1.05);
            }

            .pay-packages input[type=radio]:checked + .pay-package {
                transform: scale(1.05);
                background-color: var(--opposite-block-bg-color);
                color: var(--opposite-text-color);
            }

            .pay-package-name {

            }

            .pay-package-image {
                font-size: 56px;
                padding: 10px 0;
            }

            .pay-package-price {
                font-weight: 500;
                font-size: 120%;
            }

    .join-email {
        display: block;
        font-size: 120%;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

        .join-email input {
            width: 300px;
        }

    .join-consent {
        font-size: 110%;
        display: block;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        padding: 40px 0;
    }

    .join-button {
        display: block;
        margin: 0 auto;
        max-width: 350px;
    }

.login {
    font-size: 130%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

    .login-services {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

        .login-service {
            display: block;
            margin: 20px;
            width: 460px;
        }

            .login-service-title {
                font-size: 150%;
                font-weight: 500;
                padding-bottom: 20px;
            }

            .login-service-description {
                font-size: 90%;
            }

            .login-service-form {

            }

            .login-email {
                width: 100%;
            }

            .login-button {
                margin-top: 20px;
                min-width: 170px;
            }

            .login-button-patreon {
                background-color: #f96854;
                border-color: #f96854;
                color: #052d49;
            }

.login-separator {
    display: block;
    width: 100%;
    padding: 100px 0 30px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.login-join {
    text-align: center;
}

.login-code {
    max-width: 500px;
    margin: 40px auto;
}

    .login-code-title {
        text-align: center;
        font-weight: 500;
        font-size: 150%;
        padding-top: 20px;
    }

    .login-code-description {
        text-align: center;
        padding: 40px 20px;
    }

    .login-code-form {
        text-align: center;
    }

    .login-code-input {
        width: 250px;
        font-size: 36px;
        text-align: center;
        letter-spacing: 5px;
        font-weight: 500;
    }

    .login-code-button {
        display: block;
        min-width: 170px;
        margin: 40px auto 0;
    }
