.menu {
    font-size: 120%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 15px;
}

    .menu-full {
        display: flex;
        gap: 10px;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        box-sizing: border-box;
    }

        .menu-burger {
            font-size: 30px;
            line-height: 1em;
            cursor: pointer;
            display: none;
        }

        .menu-left {
            transition: margin-left .3s ease;
            flex-grow: 1;
            min-width: 210px;
        }

        @media only screen and (max-width : 1000px) {
            .menu-full {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        @media only screen and (max-width : 570px) {
            .menu-left {
                min-width: auto;
            }
            
            .menu-burger {
                display: block;
            }

            .menu-full {
                flex-wrap: wrap;
                padding-left: 10px;
                padding-right: 10px;
            }

            .menu-center {
                display: none;
            }

            .mobile-menu-opened .menu-center {
                order: 3;
                width: 100%;
                display: block;
            }
        }

        .menu-center {
            flex-grow: 4;
        }

        .menu-right {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

    .menu-simplified {
        grid-template-columns: auto;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

        .menu-simplified-right {
            display: flex;
            justify-items: flex-end;
            align-items: center;
            gap: 20px;
        }

    .menu-logo {
        font-size: 26px;
        font-weight: 700;
        text-decoration: none;
        white-space: nowrap;
    }

        @media only screen and (max-width : 570px) {
            .menu-logo {
                font-size: 22px;
            }
        }

        .menu-logo:hover {
            color: var(--text-color);
        }

        .menu-logo img {
            width: 1em;
            height: 1em;
            vertical-align: middle;
            margin: 0 8px;
            position: relative;
            top: -2px;
        }

            html[theme="dark"] .menu-logo img {
                filter: invert();
            }

            @media (prefers-color-scheme: dark) {
                html:not([theme]) .menu-logo img {
                    filter: invert();
                }
            }

    .menu-avatar {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

        .mobile-menu-opened .menu-avatar {
            display: none;
        }

    .menu-search {
        white-space: nowrap;
    }

        .menu-search-label {
            cursor: pointer;
            font-size: 20px;
            line-height: 20px;
            position: relative;
            top: -1px;
            opacity: 0.4;
            padding-right: 15px;
        }

            .menu-search-label:hover,
            .menu-search-label-is-active {
                opacity: 1;
            }

        .menu-search-input {
            width: 80%;
            box-shadow: none !important;
            background-color: transparent !important;
            outline: none !important;
            border: none !important;
            padding: 0 !important;
            font-weight: 500;
            font-size: 26px;
            transform: none !important;
            color: var(--text-color) !important;
        }

        .menu-search-input::placeholder {
            visibility: hidden;
        }

        @media only screen and (max-width : 570px) {
            .menu-search-input {
                font-size: 20px;
            }

            .menu-search-input::placeholder {
                visibility: visible;
            }
        }

.menu-button {
    font-size: 80%;
    padding: 10px 18px;
}

    .menu-button-compose {
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        align-items: center;
        padding: 13px 20px;
    }
        @media only screen and (max-width : 570px) {
            .menu-button-compose-text {
                display: none;
            }
        }

    .menu-button-bookmark,
    .menu-button-godmode {
        font-size: 110%;
        opacity: 0.5;
        text-decoration: none;
        vertical-align: middle;
    }

        .menu-button-bookmark:hover,
        .menu-button-godmode:hover {
            opacity: 1.0;
        }

    @media only screen and (max-width : 570px) {
        .menu-button {
            display: none;
        }
    }

    .mobile-menu-opened .menu-button {
        display: block;
    }
