.pay {
    font-size: 120%;
    padding-top: 30px;
}

    .pay-title {
        text-align: center;
        font-weight: 500;
        font-size: 200%;
        padding-top: 20px;
        line-height: 1em;
    }

        .pay-title small {
            font-size: 50%;
            font-weight: normal;
        }

    .pay-subtitle {
        text-align: center;
        font-weight: 500;
        font-size: 180%;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .pay-description {
        font-size: 120%;
        margin-top: 40px;
        text-align: center;
        padding: 40px 20px;
    }

    .pay-button {
        margin: 50px 0 0;
    }

    .pay-subscription {
        display: block;
        margin-top: 20px;
        font-size: 130%;
        text-align: center;
    }

.block-top-users {
    max-width: var(--max-content-width);
    margin: 40px auto;
}

.top-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

    .top-user {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        position: relative;
    }

        .top-user-avatar {
            width: 150px;
            height: 150px;
        }

        .top-user-avatar-badge {
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: 50px;
        }

        .top-user-name {
            display: block;
            font-size: 140%;
            font-weight: 500;
            padding: 10px 0 5px;
            line-height: 1.2em;
        }

        .top-user-membership {
            display: block;
            opacity: 0.8;
        }

    .top-user-big {
        max-width: 160px;
        margin: 10px;
    }

    .top-user-medium {
        max-width: 120px;
        margin: 10px 5px;
    }

        .top-user-medium .top-user-avatar {
            width: 80px;
            height: 80px;
        }

        .top-user-medium .top-user-name {
            font-size: 110%;
        }

        .top-user-medium .top-user-membership {
            font-size: 80%;
        }

    .top-user-small {
        max-width: 60px;
        margin: 5px;
    }

        .top-user-small .top-user-avatar {
            width: 60px;
            height: 60px;
        }

.invite-friend {
    max-width: 450px;
    font-size: 140%;
    margin: 20px auto;
    text-align: center;
}

    .invite-friend input {
        margin: 20px 0;
    }

.membership-expired {
    max-width: 600px;
    font-size: 140%;
    margin: 80px auto;
}

    .membership-expired-title {
        font-size: 140%;
        font-weight: 500;
        padding-top: 20px;
    }

    .membership-expired-description {
        padding: 20px 0;
    }


.pay-packages {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

    .pay-packages input[type=radio] {
        display: none;
    }

    .pay-package {
        display: block;
        margin: 10px;
        width: 240px;
        text-align: center;
        font-size: 140%;
        cursor: pointer;
        transition: transform .2s;
    }

        .pay-package:hover {
            transform: scale(1.05);
        }

        .pay-packages input[type=radio]:checked + .pay-package {
            transform: scale(1.05);
            background-color: var(--opposite-block-bg-color);
            color: var(--opposite-text-color);
        }

        .pay-package-name {

        }

        .pay-package-image {
            font-size: 56px;
            padding: 10px 0;
        }

        .pay-package-price {
            font-weight: 500;
            font-size: 120%;
        }

.pay-recurrent {
    display: block;
    padding: 20px;
    text-align: center;
}

    .pay-recurrent-block {
        display: inline-block;
        font-size: 120%;
        padding: 10px 30px;
    }

        .pay-recurrent-block input[type=checkbox] {
            transform: scale(1.5);
            margin-right: 5px;
        }

        .pay-recurrent-block select {
            padding: 5px 10px;
            margin-left: 5px;
        }
