.people-wrapper {
    display: grid;
    grid-template-columns: 320px minmax(auto, 1fr);
    grid-template-rows: 90px 100px 500px auto;
    justify-content: stretch;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 20px;
    margin: 0 auto;
    position: relative;
    max-width: var(--max-content-width);
}

    .people-title {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
        z-index: 100;
        font-size: 220%;
        font-weight: 500;
        padding-top: 30px;
    }

        .people-title a {
            text-decoration: none;
        }

    .people-search {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
        z-index: 100;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

        .people-search-text,
        .people-search-country {
            display: block;
            padding: 10px;
            font-size: 145%;
        }

            .people-search-text > input,
            .people-search-country > select {
                display: block;
                position: relative;
                appearance: none;
                -webkit-appearance: none;
                border: none;
                resize: vertical;
            }

            .people-search-text {
                width: 100%;
                min-width: 200px;
                max-width: 400px;
                margin-right: 20px;
            }

                .people-search-text > input {
                    width: 100%;
                }

            .people-search-country > select {
                width: 200px;
            }

    .people-results {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: start;
        z-index: 100;
    }

    @media only screen and (max-width : 570px) {
        .people-wrapper {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            margin: 10px;
        }

        .people-title {
            display: none;
        }

        .people-search {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: auto;
            grid-row-end: auto;
        }

            .people-filters-group {
                display: none;
            }

            .people-filters-group.visible {
                margin-top: 40px;
                display: block;
            }

            .people-search-text {
                max-width: 100%;
                margin-right: 0;
            }

            .people-search-country,
            .people-search-country > select {
                width: 100%;
            }

        .people-results {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: auto;
            grid-row-end: auto;
        }
    }

.people {
    max-width: 100%;
}

.people-map {
    display: block;
    z-index: 1;
    position: absolute;
    width: 100%;
    padding-top: 90px;
}

    .people-map-container,
    .people-map-container .mapboxgl-map,
    .people-map-container .mgl_map_wrapper {
        width: 100%;
        height: 800px;
    }

    @media only screen and (max-width : 570px) {
        .people-map {
            padding-top: 0;
            position: relative;
        }

        .people-map-container,
        .people-map-container .mapboxgl-map,
        .people-map-container .mgl_map_wrapper {
            height: 500px;
        }
    }

    .people-map-user-marker {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-size: cover;
        background-position: 50% 50%;
        border: solid 2px var(--block-bg-color);
        background-color: #CCC;
    }

        .people-map-user-marker:hover {
            width: 50px;
            height: 50px;
        }

    .people-map-user-cluster {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-size: cover;
        background-position: 50% 50%;
        background-color: var(--block-bg-color);
        border: solid 2px var(--block-bg-color);
        color: #FFF;
        text-shadow: 0 0 2px black;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 30px;
    }

.people-filters {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    justify-self: start;
    z-index: 100;
    display: block;
    background-color: var(--block-bg-color);
    border-radius: var(--block-border-radius);
    width: 100%;
}

    @media only screen and (max-width : 570px) {
        .people-filters {
            grid-row-start: auto;
            grid-row-end: auto;
        }
    }



    .people-filters-title {
        display: block;
        font-size: 190%;
        font-weight: 500;
        padding-bottom: 20px;
    }

        .people-filters-title a {
            text-decoration: none;
        }

        .people-filters-title strong {
            font-size: 120%;
            font-weight: 700;
        }

    .people-filters-header {
        font-size: 140%;
        padding-top: 30px;
        padding-bottom: 20px;
        font-weight: 500;
    }

    .people-filters-tag {
        display: block;
        position: relative;
        margin-bottom: 10px;
    }

        .people-filters-tag label {
            display: block;
            cursor: pointer;
            font-weight: 300;
            text-decoration: none;
            padding: 6px 10px;
        }

        .people-filters-tag input[type=checkbox] {
            display: none;
        }

        .people-filters-tag input:checked + label {
            background-color: var(--opposite-block-bg-color);
            color: var(--opposite-text-color);
        }

        .people-filters-tag-bar {
            display: block;
            border-radius: 5px;
            height: 7px;
            width: 100%;
            margin-top: 3px;
            background-color: var(--opposite-block-bg-color);
            opacity: 0.5;
        }

            .people-filters-tag:hover .people-filters-tag-bar {
                opacity: 1.0;
            }

            .people-filters-tag input:checked + label .people-filters-tag-bar {
                background-color: var(--block-bg-color);
                opacity: 1.0;
            }

    .people-filters-button {
        width: 100%;
        font-size: 120%;
        margin-top: 50px;
        margin-bottom: 70px;
    }

    @media only screen and (max-width : 570px) {
        .people-filters-header {
            padding: 40px 0 20px;
        }

        .people-filters-button {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }

.people-stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 120%;
}

    .people-stat {
        margin: 0 1.5%;
        width: 30%;
    }

        .people-stat-header {
            font-size: 110%;
            font-weight: 500;
        }

        .people-stat-list {
            padding: 0 0 0 20px;
        }

            .people-stat-list li {
                padding-bottom: 10px;
            }

.people-results {
    display: block;
    width: 100%;
}

    .people-results-placeholder {
        display: block;
        width: 100%;
        padding: 50px 20px;
        text-align: center;
        opacity: 0.5;
        font-size: 150%;
    }
