.stats {
    padding-top: 40px;
    margin: 0 auto;
    max-width: var(--max-content-width);
}

    .stats-title {
        display: block;
        font-size: 300%;
        text-align: center;
        font-weight: 500;
        padding-top: 50px;
        padding-bottom: 30px;
        text-decoration: none;
    }

    .stats-header {
        display: block;
        font-size: 250%;
        text-align: center;
        font-weight: 500;
        padding-top: 80px;
        padding-bottom: 30px;
        text-decoration: none;
        max-width: var(--post-width);
        margin: 0 auto;
    }

    .stats-description {
        display: block;
        font-size: 130%;
        text-align: center;
        padding-bottom: 30px;
        max-width: var(--post-width);
        margin: 0 auto;
    }

.stats-top-users {
    max-width: var(--max-content-width);
    margin: 0 auto 50px;
}

.top-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

    .top-user {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        position: relative;
    }

        .top-user-avatar {
            width: 150px;
            height: 150px;
        }

        .top-user-avatar-badge {
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: 50px;
        }

        .top-user-name {
            display: block;
            font-size: 140%;
            font-weight: 500;
            padding: 10px 0 5px;
            line-height: 1.2em;
        }

        .top-user-membership {
            display: block;
            opacity: 0.8;
        }

    .top-user-big {
        max-width: 160px;
        margin: 10px;
    }

    .top-user-medium {
        max-width: 120px;
        margin: 10px 5px;
    }

        .top-user-medium .top-user-avatar {
            width: 80px;
            height: 80px;
        }

        .top-user-medium .top-user-name {
            font-size: 110%;
        }

        .top-user-medium .top-user-membership {
            font-size: 80%;
        }

    .top-user-small {
        max-width: 60px;
        margin: 5px;
    }

        .top-user-small .top-user-avatar {
            width: 60px;
            height: 60px;
        }

.stats-achievements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    padding-bottom: 50px;
}

    .stats-achievements-badge {
        width: 200px;
    }

    .stats-achievements-users {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-top: 50px;
        width: 100%;
    }

    @media only screen and (max-width : 570px) {
        .stats-achievements {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
