<form action="{% url "create_comment" post.slug %}" method="post" class="form comment-form-form">
    <input type="hidden" name="post_comment_order" value="{{ comment_order }}">
    <div class="comment-form">
        <div class="comment-form-avatar">
            <div class="avatar"><img src="{{ me.get_avatar }}" alt="Аватар {{ me.full_name }}" loading="lazy" /></div>
        </div>
        <div class="comment-form-body comment-form-battle">
            <div class="comment-form-body-battle-side">Я за
                <select name="{{ form.battle_side.name }}" id="{{ form.battle_side.id_for_label }}">
                    {% for code, side in post.metadata.battle.sides.items %}
                        <option value="{{ code }}">{{ side.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="comment-form-body-title">{{ form.title }}</div>
            <comment-markdown-editor class="comment-form-body-text" post-slug="{{ post.slug }}">
                {{ form.text }}
            </comment-markdown-editor>
            {% if form.text.errors %}<span class="form-errors">{{ form.full_name.errors }}</span>{% endif %}
        </div>
        <div class="comment-form-button">
            <button type="submit" class="button">Отправить</button>
        </div>
    </div>
</form>
