<form action="{% url "create_comment" post.slug %}" method="post" class="form comment-form-form">
    <input type="hidden" name="post_comment_order" value="{{ comment_order }}">
    <div class="comment-form">
        <div class="comment-form-avatar">
            <div class="avatar"><img src="{{ me.get_avatar }}" alt="Аватар {{ me.full_name }}" loading="lazy" /></div>
        </div>
        <div class="comment-form-body">
            <comment-markdown-editor class="comment-form-body-text" post-slug="{{ post.slug }}">
                {{ form.text }}
            </comment-markdown-editor>
            {% if form.text.errors %}<span class="form-errors">{{ form.full_name.errors }}</span>{% endif %}
        </div>

        <div class="post-comments-rules">
            <ul>
                <li>🤬 Помните, что за оскорбление других участников, пассивную агрессию, недружелюбность и прочие нарушения <a href="{% url "docs" "about" %}">правил этикета</a> — будет бан</li>
                <li>☝️ Если кто-то ведёт себя плохо — скажите ему. Если он продолжает, позовите <a href="/user/moderator/">@moderator</a></li>
                <li>👀 Автор поста может и должен модерировать срачи в комментариях</li>
                <li>🥰 Не душните, расслабьтесь и будьте сладкими пирожочками</li>
                <li>✍️ Можно использовать <a href="https://doka.guide/tools/markdown/" target="_blank">Markdown</a></li>
            </ul>
        </div>

        <div class="comment-form-button">
            <button type="submit" class="button">Отправить</button>
        </div>
    </div>
</form>
