<form action="{% url "create_comment" post.slug %}" method="post" class="form reply-form-form" id="reply-form-{{ comment.id }}"  style="display: none;">
    <input type="hidden" name="post_comment_order" value="{{ comment_order }}">
    <div class="reply-form">
        <div class="reply-form-avatar">
            <div class="avatar"><img src="{{ me.get_avatar }}" alt="Аватар {{ me.full_name }}" loading="lazy" /></div>
        </div>

        <div class="reply-form-body">
            <comment-markdown-editor post-slug="{{ post.slug }}">
                {{ reply_form.text }}
            </comment-markdown-editor>
            {% if reply_form.text.errors %}<span class="form-errors">{{ reply_form.full_name.errors }}</span>{% endif %}
        </div>

        <input type="hidden" name="reply_to_id" value="{{ comment.id }}">

        <div class="reply-form-button">
            <button type="submit" class="button button-small">Отправить</button>
        </div>
    </div>
</form>
