name: check_PR

# We can use push, pull_request or push to custom branch
# see https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
on: [pull_request]

jobs:
 
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        architecture: 'x64'
    - name: Install requirements
      run: |
        pip install --no-cache-dir pipenv
        pipenv install --dev
    - name: run lint
      run: make test-ci
      # continue-on-error: true

  dockerize:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@master
      - name: Build the docker-compose stack
        run: docker-compose up -d
      - name: Sleep
        uses: jakejarvis/wait-action@master
        with:
          time: '20s'
      - name: Check db migrate on container
        run: |
          docker-compose exec -T club_app make migrate